.example-animate-container {
	background:white;
	border:1px solid black;
	list-style:none;
	margin:0;
	padding:0 10px;
}

.animate-repeat {
	line-height:40px;
	list-style:none;
	box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
	max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
	max-height:40px;
}

.fila-animada.ng-enter {
	-webkit-animation: zoomIn ease 0.2s;
	animation: zoomIn ease 0.2s
}

.fila-animada.ng-enter-stagger {
	/* 200ms will be applied between each sucessive enter operation */
	-webkit-animation-delay:0.1s;
	animation-delay:0.1s;

	/* this is here to avoid accidental CSS inheritance */
	-webkit-animation-duration:0;
	animation-duration:0;
}

.fila-vistos.ng-leave {
	-webkit-animation: zoomOut ease 0.5s;
	animation: zoomOut ease 0.5s
}

.invoice-shadow {
	-webkit-box-shadow: 10px 10px 8px 0px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 8px 0px rgba(0,0,0,1);
	box-shadow: 10px 10px 8px 0px rgba(0,0,0,1);
}

.vertical-center {

	height: 60vh !important; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	/* Align the bootstrap's container vertically */
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

	/* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
	/*width: 100%;*/

	/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}