.terminal-{
    background-color: #ffffff;
}

.terminal-bactssa{
    background-color: #dccc6c;
}

.terminal-trp{
    background-color: #5f9899;
}

.terminal-terminal4{
    background-color: #c9e2b3;
}

.agp{
    background-color: #ffffff;
}