@media print {
    body * {
        visibility:hidden;
    }
    .printable, .printable * {
        visibility:visible !important;
    }
    .printable { /* aligning the printable area */
        position:absolute !important;
        left:0px !important;
        top:0px !important;
    }
}