.BACTSSA {
	color: #2fa4e7;
}

.TERMINAL4 {
	color: #dd4814;
}

.TRP {
	color: #2c3e50;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}