<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> Recuperación de contraseña</h4>
</div>
<div class="modal-body">
	<ng-form name="mailDialog" role="form">
		<div class="form-group input-group-lg">
			<label class="control-label" for="email">Dirección de correo electrónico:</label>
			<input type="text" class="form-control" name="email" id="email" ng-model="data.mail" ng-keyup="hitEnter($event)" required>
			<span class="help-block">{{ helpText }}</span>
		</div>
	</ng-form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
	<button type="button" class="btn btn-primary" ng-click="save()">Enviar</button>
</div>