<!DOCTYPE html>
<html ng-app="myapp">

<head>
	<title>Administraci&oacute;n General de Puertos S.E.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Default-Style" content="BACTSSA">
	<meta charset="utf-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.cerulean.css" title="BACTSSA">
	<link rel="stylesheet" href="css/angucomplete-alt.css">
	<link rel="stylesheet" href="css/dialogs.css">
	<link rel="stylesheet" href="css/angular-multi-select.css">
	<link rel="alternate stylesheet" href="css/bootstrap.flaty.css" title="TRP">
	<link rel="alternate stylesheet" href="css/bootstrap.united.css" title="TERMINAL4">
	<!-- Less test -->
	<!--<link rel="stylesheet/less" type="text/css" href="less/bootstrap.cerulean.less"/>
	<script src="angular/less-1.7.3.min.js" type="text/javascript"></script>-->
	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]-->
	<script src="js/html5.js"></script>
	<!--[endif]-->
	<!-- Angular 1.2.4 y modulos-->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
	<script src="js/socket.io.min.js"></script>
	<script src="js/angular-locale_es-ar.js"></script>
	<!-- Google charts -->
	<script src="js/jsapi.js"></script>
	<!-- App Script -->
	<script src="includes/js/utils/config.js"></script>
	<script src="controller/main.js"></script>
	<!-- Services -->
	<script src="service/formatdate.js"></script>
	<script src="service/login.js"></script>
	<!-- Factories -->
	<script src="factory/auth.js"></script>
	<script src="factory/socket.js"></script>
	<script src="factory/controlPanel.js"></script>
	<script src="factory/gates.js"></script>
	<script src="factory/invoice.js"></script>
	<script src="factory/price.js"></script>
	<script src="factory/turnos.js"></script>
	<script src="factory/user.js"></script>
	<script src="factory/chartDirectives.js"></script>
	<script src="factory/vouchersType.js"></script>
	<script src="factory/states.js"></script>
	<script src="factory/reports.js"></script>
	<script src="factory/angucomplete-alt.js"></script>
	<script src="factory/timepickerpop.js"></script>
	<script src="factory/errorFactory.js"></script>
	<script src="factory/afip.js"></script>
	<script src="factory/controlUsers.js"></script>
	<!-- Filters -->
	<script src="filter/filters.js"></script>
	<!-- Controles Angular-->
	<script src="controller/container.js"></script>
	<script src="controller/controlComprobantes.js"></script>
	<script src="controller/control.js"></script>
	<script src="controller/dialogs.js"></script>
	<script src="controller/gates.js"></script>
	<script src="controller/invoices.js"></script>
	<script src="controller/login.js"></script>
	<script src="controller/matchprices.js"></script>
	<script src="controller/navigation.js"></script>
	<script src="controller/newpass.js"></script>
	<script src="controller/pricelist.js"></script>
	<script src="controller/turnos.js"></script>
	<script src="controller/reports.js"></script>
	<script src="controller/trackingInvoice.js"></script>
	<script src="controller/controlCodigos.js"></script>
	<script src="controller/controlCorrelatividad.js"></script>
	<script src="controller/controlTasaCargas.js"></script>
	<script src="controller/controlComprobRevisar.js"></script>
	<script src="controller/controlComprobError.js"></script>
	<script src="controller/reporteTarifas.js"></script>
	<script src="controller/reporteHorarios.js"></script>
	<script src="controller/angular-multi-select.js"></script>
	<script src="controller/afip.js"></script>
	<script src="controller/register.js"></script>
	<script src="controller/users.js"></script>
	<script src="controller/resetPasswordModal.js"></script>
	<!-- Directives -->
	<script src="controller/directives.js"></script>
	<!-- Style Switcher-->
	<script src="js/styleswitcher.js"></script>
	<script src="js/linq.min.js"></script>
</head>

<body class="container" ng-controller="navigationCtrl">

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a ng-click="irA()" class="nav navbar-brand"><img src="images/LogoPUERTO.png" width="30" height="30"> AGP S.E.</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" ng-show="acceso!=''" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse" collapse="!isCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="acceso==''"><a ui-sref="register" ng-click="isCollapsed = false"><span class="glyphicon glyphicon-bookmark"></span> Registrarse</a></li>
				<li ng-show="acceso!=''"><a ui-sref="tarifario" ng-click="isCollapsed = false">Tarifario</a></li>
				<li ng-show="acceso!=''"><a ui-sref="matches" ng-click="isCollapsed = false">Asociar</a></li>
				<li ng-show="acceso!=''" dropdown>
					<a data-ng-hide="dropdown" dropdown-toggle>Comprobantes<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="invoices" ng-click="isCollapsed = false">Ver</a></li>
						<li><a ui-sref="cfacturas" ng-click="isCollapsed = false">Control</a></li>
					</ul>
				</li>
				<li ng-show="acceso!=''" dropdown>
					<a data-ng-hide="dropdown" dropdown-toggle>Gates<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="gates" ng-click="isCollapsed = false">Ver</a></li>
						<li><a ui-sref="cgates" ng-click="isCollapsed = false">Control</a></li>
					</ul>
				</li>
				<li ng-show="acceso=='agp'" dropdown>
					<a data-toggle="dropdown" dropdown-toggle>Administrar<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="control" ng-click="isCollapsed = false">Control</a></li>
						<li><a ui-sref="reports" ng-click="isCollapsed = false">Reportes</a></li>
						<li><a ui-sref="turnos" ng-click="isCollapsed = false">Turnos</a></li>
						<li><a ui-sref="container" ng-click="isCollapsed = false">Contenedor</a></li>
						<li><a ui-sref="buque" ng-click="isCollapsed = false">Buque - Viaje</a></li>
						<li><a ui-sref="afip" ng-click="isCollapsed = false">A.F.I.P</a></li>
						<li><a ui-sref="users" ng-click="isCollapsed = false" ng-show="grupo=='ADMIN'">Usuarios</a></li>
						<li class="visible-sm divider"></li>
						<li class="visible-sm dropdown-header">Seleccione Terminal</li>
						<li class="visible-sm"><a ng-click="isCollapsed = false; setearTerminal('BACTSSA');"><span ng-show="filtroTerminal == 'BACTSSA'" class="glyphicon glyphicon-ok-sign"></span> BACTSSA</a></li>
						<li class="visible-sm"><a ng-click="isCollapsed = false; setearTerminal('TERMINAL4');"><span ng-show="filtroTerminal == 'TERMINAL4'" class="glyphicon glyphicon-ok-sign"></span> TERMINAL 4</a></li>
						<li class="visible-sm"><a ng-click="isCollapsed = false; setearTerminal('TRP');"><span ng-show="filtroTerminal == 'TRP'" class="glyphicon glyphicon-ok-sign"></span> TRP</a></li>
					</ul>
				</li>
				<li ng-show="acceso=='agp'" class="hidden-sm" dropdown>
					<a href data-toggle="dropdown" dropdown-toggle><span class="glyphicon glyphicon-info-sign"></span> Terminal: {{ filtroTerminal }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ng-click="isCollapsed = false; setearTerminal('BACTSSA');"><span ng-show="filtroTerminal == 'BACTSSA'" class="glyphicon glyphicon-ok-sign"></span> BACTSSA</a></li>
						<li><a ng-click="isCollapsed = false; setearTerminal('TERMINAL4');"><span ng-show="filtroTerminal == 'TERMINAL4'" class="glyphicon glyphicon-ok-sign"></span> TERMINAL 4</a></li>
						<li><a ng-click="isCollapsed = false; setearTerminal('TRP');"><span ng-show="filtroTerminal == 'TRP'" class="glyphicon glyphicon-ok-sign"></span> TRP</a></li>
					</ul>
				</li>
				<li ng-show="acceso!='' && cambioMoneda"><a href ng-click="switchMoneda();">{{ moneda | formatCurrency}}</a></li>
				<li ng-show="acceso!=''" dropdown>
					<a href data-toggle="dropdown" dropdown-toggle><span class="glyphicon glyphicon-user"></span> {{ terminal.user }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li ng-click="salir();"><a href ng-click="isCollapsed = false"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<br/><br/>
	<div ui-view></div>
</div>

</body>

</html>