<!doctype html>
<html ng-app="myApp" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="less/bootstrap.css" media="screen">
    <link rel="stylesheet" href="less/bootswatch.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.code}}</span>
            <span class="done-{{todo.done}}">{{todo.description}}</span>
        </li>
    </ul>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoCode"  size="30" style="text-transform: uppercase"
               placeholder="add new code here">
        <textarea ng-model="todoText"  cols="50" rows="5"
               placeholder="add new description here"></textarea>
        <input type="text" ng-model="todoPrice"  size="30"
               placeholder="add new price here">
        <div class="form-group">
            <label for="selCurrency" class="col-lg-2 control-label">Unidad Monetaria</label>
            <div class="col-lg-10">
                <select class="form-control" id="selCurrency" ng-model="currency">
                    <option></option>
                    <option value="DOL">U$S</option>
                    <option value="PES">$ARG</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="unit" class="col-lg-2 control-label">Unidad</label>
            <div class="col-lg-10">
                <select class="form-control" id="unit" ng-model="unit">
                    <option></option>
                    <option value="CONTAINER">Contenedor</option>
                    <option value="TN">tn</option>
                    <option value="BOX">cajón</option>
                </select>
            </div>
        </div>

        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>