<div class="modal-header bg-info" style="border-radius: 5px">
    <h3 class="modal-title">Código: {{ detalleMatch.codigo }}</h3>
</div>
<div class="modal-body">
    <h4>Valor registrado de la tarifa: {{ detalleMatch.valorTarifa | currency: (detalleMatch.tipoMoneda | formatCurrency)}}</h4>

    <div class="table-responsive fixed-height-table">
        <table class="table table-bordered">
            <thead>
            <tr class="bg-primary">
                <th>Fecha</th>
                <th>Valor</th>
                <th>Cantidad veces</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registro in detalleMatch.tarifasData">
                    <td>{{ registro.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ registro.imp_unit | currency: (detalleMatch.tipoMoneda | formatCurrency) }}</td>
                    <td>{{ registro.cnt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <h5>Tarifas cobradas con este código y fechas de última utilización.</h5>
</div>