<div class="container col-lg-offset-1 col-lg-10 col-md-12">

    <div class="row col-lg-12 page-header col-xlg-offset-2 col-xlg-8">
        <h1 class="hidden-xs"><img ng-src="images/asociar.png" height="64" width="64">Edición de tarifario</h1>
        <h1 class="visible-xs">Edición de tarifario</h1>
        <h3>{{dataTerminal.info.full_name}} <span ng-show="dataTerminal.type=='agp'">({{dataTerminal.filterTerminal}})</span></h3>
    </div>

    <div ng-hide="$state.includes('modificarTarifario')">

        <div class="row hidden-print col-xlg-offset-2 col-xlg-8" ng-hide="hayError">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o tarifa" toupper>
                    <span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
                </div>
                <div class="checkbox col-lg-6 left">
                    <label>
                        <input type="checkbox" ng-model="tasas" ng-change="prepararDatos()">Tasa a las cargas
                    </label>
                    <label>
                        &nbsp;<input type="checkbox" ng-model="medida" ng-change="prepararDatos()">Con medida
                    </label>
                    <label>
                        &nbsp;<input type="checkbox" ng-model="norma" ng-change="prepararDatos()">Fuera de norma
                    </label>
                </div>
            </div>
        </div>
        <!--<div class="row" ng-hide="flagGuardado">
            <div class="col-lg-6">
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" ng-click="esconderAlerta()">×</button>
                    <strong>Éxito</strong> - Se han guardado los códigos de la página anterior.
                </div>
            </div>
        </div>-->

        <div class="row  col-xlg-offset-2 col-xlg-8" ng-hide="hayError">
            <div class="col-lg-12">
                <ul class="nav nav-tabs hidden-print">
                    <li ng-repeat="tipoTarifa in tiposTarifas" ng-class="{'active': tipoTarifa.active}">
                        <a href ng-click="cambiarTarifas(tipoTarifa);">{{ tipoTarifa.nombre }}</a>
                    </li>
                </ul>
                <br>
                <div class="table-responsive invoice-shadow">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><a href="" ng-click="ordenarPor('code')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'code' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'code' && reverse"></span>
                                <span class="glyphicon glyphicon-bookmark"></span> Código
                            </a></th>
                            <th><a href="" ng-click="ordenarPor('description')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'description' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'description' && reverse"></span>
                                <span class="glyphicon glyphicon-credit-card"></span> Tarifa
                            </a></th>
                            <th class="text-right" ><a href="" ng-click="ordenarPor('largo')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'largo' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'largo' && reverse"></span>
                                <span class="glyphicon glyphicon-chevron-right"></span> Medida
                            </a></th>
                            <th class="text-right" ><a href="" ng-click="ordenarPor('norma')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'largo' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'largo' && reverse"></span>
                                <span class="glyphicon glyphicon-chevron-right"></span> Tipo
                            </a></th>
                            <!-- Por ahora va este hasta que actualicen el server en producccion -->
                            <!--<th><a href="" ng-click="ordenarPor('topPrices[0].price')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'topPrices[0].price' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'topPrices[0].price' && reverse"></span>-->
                            <th><a href="" ng-click="ordenarPor('price')">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'price' && !reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'price' && reverse"></span>
                                <span class="glyphicon glyphicon-credit-card"></span> Tope
                            </a></th>
                            <th><span class="glyphicon glyphicon-check"></span> Código asociado</th>
                            <!--<th class="hidden-print" ng-show="acceso=='terminal'"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</th>-->
                            <th class="col-lg-1 text-center"><span class="glyphicon glyphicon-edit"></span> Editar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="height:60px" ng-repeat="price in filteredPrices = (listaSeleccionada | filter: search ) | orderBy : predicate : reverse | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" class="fila-animada {{ price.claseFila }} hidden-print">
                            <td class="col-lg-1">
                                <span>{{ price.code }}</span>
                            </td>
                            <td class="col-lg-5">
                                <span>{{ price.description | maxLength : 160 }}</span><a href="" ng-show="(price.description.length > 160) && !price.editar" uib-popover="{{ price.description }}" popover-trigger="mouseenter"> (...)</a>
                            </td>
                            <td class="col-lg-1">
                                <span>{{ price.largo }}</span>
                            </td>
                            <td class="col-lg-1">
                                <span>{{ price.norma }}</span>
                            </td>
                            <td class="col-lg-1 text-right">
                                <!--<span>{{ price.topPrices[price.topPrices.length-1].price | currency: (price.topPrices[price.topPrices.length-1].currency | formatCurrency) }}</span>-->
                                <span ng-class="price.price <= 0 ? 'text-danger' : ''">{{ price.price | currency: (price.currency | formatCurrency) }}</span>
                            </td>
                            <td class="col-lg-2" style="text-align: right">
								<span ng-repeat="codigo in price.matches.match track by $index" ng-show="dataTerminal.type=='terminal'">
									{{ codigo.code }}
									<span ng-show="!$last">, </span>
								</span>
								<span ng-repeat="codigo in price.matches.match track by $index" ng-show="dataTerminal.type=='agp'">
									<span>{{ codigo.code }}</span>
									<span ng-show="!$last">, </span>
								</span>
                            </td>
                            <!--<td class="col-lg-2 hidden-print" style="text-align: right" ng-show="acceso=='terminal'">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="price.new" ng-keyup="hitEnter($event, price)" toupper>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" ng-click="agregarCodigo(price, $index)" ng-init="price.disabled = true" ng-disabled="price.disabled"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                </div>
                            </td>-->
                            <td class="col-lg-1 text-center">
                                <button class="btn btn-primary" uib-popover="Modificar tarifa" popover-trigger="mouseenter" ng-click="editarTarifa(price)" ng-show="dataTerminal.type == 'terminal'"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-primary" uib-popover="Modificar tarifa" popover-trigger="mouseenter" ng-click="editarTarifa(price)" ng-show="dataTerminal.type == 'agp'" ng-disabled="!(price.terminal == 'AGP' && puedeEditar())"><span class="glyphicon glyphicon-edit"></span></button>
                            </td>
                        </tr>
                        <tr class="visible-print" ng-repeat="price in listaSeleccionada | filter: search | orderBy : predicate : reverse">
                            <td class="col-lg-1">
                                <span>{{ price.code }}</span>
                            </td>
                            <td class="col-lg-5">
                                <span>{{ price.description | maxLength : 160 }}</span><a href="" ng-show="(price.description.length > 160) && !price.editar" uib-popover="{{ price.description }}" popover-trigger="mouseenter"> (...)</a>
                            </td>
                            <td class="col-lg-2 text-right">
                                <!--<span>{{ price.topPrices[0].price | currency: (price.topPrices[0].currency | formatCurrency) }}</span>-->
                                <span ng-class="price.price <= 0 ? 'text-danger' : ''">{{ price.price | currency: (price.currency | formatCurrency) }}</span>
                            </td>
                            <td class="col-lg-2 anchoFijoImpresion" style="text-align: right">
								<span ng-repeat="codigo in price.matches.match track by $index">
									<span>{{ codigo.code }}</span>
									<span ng-show="!$last">, </span>
								</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div-pagination total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>

                <div class="row hidden-print" ng-show="!hayError">
                    <button class="btn btn-primary" ng-click="descargarCSV()"><span class="glyphicon glyphicon-download"></span> Exportar a CSV</button>
                    <button class="btn pull-right" ng-click="abrirNuevoConcepto()"><span class="glyphicon glyphicon-asterisk"></span> Nuevo concepto</button>
                </div>

                <div class="col-lg-12" ng-show="hayError">
                    <div-panel config-panel="mensajeResultado">
                        <span>{{ mensajeResultado.mensaje }}</span>
                    </div-panel>
                </div>
                <br>
            </div>
        </div>

    </div>

    <div class="row">
        <div ui-view></div>
    </div>

</div>