<div class="col-lg-12">
	<div class="row">
		<div class="col-lg-12">
			<h4>Comprobantes</h4>
			<vista-comprobantes model="model" datos-invoices="contenedorElegido.invoices.data" ocultar-filtros="filtrosComprobantes" total-items="contenedorElegido.invoices.total" control-codigos="false" loading-state="loadingInvoices" mostrar-ptos-venta="false" ocultar-accordion-invoices-search="true" ocultar-accordion-comprobantes-vistos="true" panel-mensaje="mensajeResultado" volver-a-principal="volverAPrincipal" by-container="true"></vista-comprobantes>
		</div>
	</div>

	<div class="row" ng-hide="ocultaTasas">
		<div class="col-lg-12">
			<h4>Tasas a la carga</h4>
			<table-tasas-cargas container="contenedorElegido" config-panel="configPanelTasas" loading-state="loadingTasas" moneda="moneda"></table-tasas-cargas>
		</div>
	</div>

	<div class="row" ng-show="contenedorElegido.giroBuques">
		<div class="col-lg-12">
			<h4>Giro de buques</h4>
			<giro-buques container="contenedorElegido" loading-state="loadingGiro"></giro-buques>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h4>Gates</h4>
			<table-gates ocultar-busqueda="true" model="model" datos-gates="contenedorElegido.gates.data" detalles-gates="detalleGates" total-items="contenedorElegido.gates.total" tiempo-consulta="gatesTiempoConsulta" ocultar-filtros="filtrosComprobantes" loading-state="loadingGates" config-panel="configPanelGates"></table-gates>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h4>Turnos</h4>
			<table-turnos ocultar-busqueda="true" model="model" datos-turnos="contenedorElegido.appointments.data" total-items="contenedorElegido.appointments.total" ocultar-filtros="filtrosComprobantes" config-panel="configPanelTurnos" loading-state="loadingTurnos"></table-turnos>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h4>A.F.I.P. sumaria</h4>
			<table-container-sumaria datos-sumaria="contenedorElegido.afipData" loading-state="cargandoSumaria" config-panel="sumariaConfigPanel"></table-container-sumaria>
		</div>
	</div>
</div>