<div class="row col-lg-12 hidden-print">
	<div class="col-lg-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Buques</h3>
			</div>
			<div class="panel-body" style="max-height: 720px; overflow: scroll">
				<!--<angucomplete-alt id="idBuque"
				                  placeholder="Buque"
				                  pause="100"
				                  selected-object="buqueSelected"
				                  local-data="buques"
				                  search-fields="buque"
				                  title-field="buque"
				                  minlength="1"
				                  input-class="form-control"
				                  filtrar="filtrado(filtrar, contenido)"
				                  input-field="buque"
				                  match-class="highlight"
				                  limit-results="0"
				                  auto-match="true"></angucomplete-alt>-->
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="buscarBuque" placeholder="Buscar buque..." toupper>
						<div class="input-group-btn">
							<button class="btn btn-default" ng-click="buscarBuque = ''"><i class="glyphicon glyphicon-remove"></i></button>
						</div>
					</div>
				</div>
				<h5 ng-repeat="buque in buques | filter: buscarBuque" class="{{ buque.elegido }}"><a href ng-click="buqueSelected(buque)">{{ buque.buque }} <span class="glyphicon glyphicon-certificate" ng-show="buque.both"></span></a></h5>
			</div>
		</div>
		<h6><span class="glyphicon glyphicon-certificate"></span> - Contiene datos de la AFIP</h6>
	</div>
	<div class="row col-lg-9">
		<uib-tabset justified="true" class="hidden-print" ng-show="!loadingState">
			<uib-tab ng-show="mostrarAnterior" ng-click="mostrarMenosViajes()">
				<uib-tab-heading>
					<i class="glyphicon glyphicon-arrow-left"></i> Anterior
				</uib-tab-heading>
			</uib-tab>
			<uib-tab ng-repeat="viaje in buqueElegido.viajes | startFrom: filtrarDesde | limitTo: 6" heading="{{ viaje[1] }} - {{ viaje[0] }}" ng-click="filtrado('viaje', viaje[0])" active="viaje[2]"></uib-tab>
			<uib-tab ng-show="buqueElegido.viajes.length > 6 && buqueElegido.viajes.length - filtrarDesde > 6 " ng-click="mostrarMasViajes()">
				<uib-tab-heading>
					<i class="glyphicon glyphicon-arrow-right"></i> Siguiente
				</uib-tab-heading>
			</uib-tab>
		</uib-tabset>
		<br>
		<div class="col-lg-12" ng-show="datosContainers.length == 0 && !loadingState">
			<div-panel config-panel="panelMensaje">
				<span>{{ panelMensaje.mensaje }}</span>
			</div-panel>
		</div>
		<div-cargando mostrar="loadingState">
			<div ng-hide="datosContainers.length == 0">
				<table-buque-viaje></table-buque-viaje>
			</div>
		</div-cargando>
		<div-cargando mostrar="loadingTasaCargas">
			<br>
			<div ng-hide="hayError">
				<div-panel ng-show="totalSinRates == 0" config-panel="panelContainerNoRates">
					<!--<div ng-show="totalSinRates == 0">No se encontraron contenedores sin tasa a las cargas para los filtros seleccionados</div>-->
					<span>{{ panelContainerNoRates.mensaje }}</span>
				</div-panel>
				<div ng-hide="totalSinRates == 0" class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">
							<span>Sin Tasa a las Cargas</span><span class="pull-right">Contenedores <span class="badge">{{ totalSinRates }}</span></span>
						</div>
					</div>
					<div class="panel-body">
						<!--<div ng-show="totalSinRates == 0">No se encontraron contenedores sin tasa a las cargas para los filtros seleccionados</div>-->
						<div style="max-height: 200px; max-width: 100%; overflow: auto" ng-hide="totalSinRates == 0">
							<div class="input-group col-lg-12 hidden-print">
								<input type="text" class="form-control" ng-model="search" placeholder="Filtrar resultados" toupper>
								<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
							</div>
							<br>
							<span ng-repeat="container in containersSinRates | filter: search">
						<div style="width: auto; float:left; text-align:center" ng-show="container.contenedor != ''" ><a href ng-class="{mark: (model.contenedor == container.contenedor)}" ng-click="verDetalles(container)"> {{ container.contenedor }}</a><span ng-show="!$last"> -&nbsp</span></div>
					</span>
						</div>
					</div>
				</div>
			</div>
		</div-cargando>
	</div>
</div>

<div ng-show="detalle">
	<buque-viaje-detail></buque-viaje-detail>
</div>