<div class="container col-lg-offset-1 col-lg-10 col-md-12">

	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/container.png" height="64" width="64" class="hidden-xs">&nbsp;Contenedor <span ng-show="vmContenedor.container">{{ vmContenedor.container.contenedor }}</span></h1>
	</div>

	<accordion-min heading="Buscar por">
		<form ng-submit="vmContenedor.cargarContenedor()">
			<div class="form-group col-sm-6">
				<div class="input-group">
					<input type="text" ng-model="vmContenedor.search" class="form-control" placeholder="Ingrese un contenedor para iniciar la búsqueda" toupper required>
					<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="vmContenedor.search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<div class="input-group">
					<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar</button>
				</div>
			</div>
		</form>
	</accordion-min>

	<ui-view></ui-view>

</div>