<div class="table-responsive col-lg-12">
	<table class="table table-bordered table-hover">
		<thead>
		<tr>
			<th class="text-center">Código</th>
			<th>Descripción</th>
			<th class="text-right">Toneladas</th>
			<th class="text-right">Tasa</th>
			<th class="text-right">Total</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="detalle in payment.detail">
			<td class="text-center">{{ detalle._id.code }}</td>
			<td>{{ detalle.descripcion }}</td>
			<td class="text-right">{{ detalle.cnt | numberEx : 2 }}</td>
			<td class="text-right" ng-hide="tasaAgp">{{ detalle.total | currency: ('DOL' | formatCurrency) }}</td>
			<td class="text-right" ng-show="tasaAgp">{{ detalle.totalAgp | currency: ('DOL' | formatCurrency) }}</td>
			<td class="text-right" ng-hide="tasaAgp">{{ detalle.totalPeso | currency: ('PES' | formatCurrency) }}</td>
			<td class="text-right" ng-show="tasaAgp">{{ detalle.totalPesoAgp | currency: ('PES' | formatCurrency) }}</td>
		</tr>
		<tr>
			<td colspan="4" class="text-right">Total</td>
			<td class="text-right" ng-hide="tasaAgp">{{ payment.detail.totalFinal | currency: ('PES' | formatCurrency) }}</td>
			<td class="text-right" ng-show="tasaAgp">{{ payment.detail.totalFinalAgp | currency: ('PES' | formatCurrency) }}</td>
		</tr>
		</tbody>
	</table>
</div>