<accordion-min heading="Filtros reporte">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfechaInicio = !openfechaInicio;">Desde <span class="glyphicon glyphicon-calendar"></span></button></span>
            <input id="model.fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" uib-datepicker-popup="yyyy-MM-dd" popup-placement="bottom-left" ng-model="model.fechaInicio" is-open="openfechaInicio" datepicker-options="dateOptions" clear-text="Borrar" close-text="Listo" current-text="Hoy" readonly style="background-color: #ffffff">
        </div>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfechaFin = !openfechaFin;">Hasta <span class="glyphicon glyphicon-calendar"></span></button></span>
            <input id="model.fechaFin" type="text" class="form-control" ng-keyup="hitEnter($event)" uib-datepicker-popup="yyyy-MM-dd" popup-placement="bottom-left" ng-model="model.fechaFin" is-open="openfechaFin" datepicker-options="dateHasta" clear-text="Borrar" close-text="Listo" current-text="Hoy" readonly style="background-color: #ffffff">
        </div>
    </div>
</accordion-min>