<div class="container col-lg-12">
    <div class="visible-print-block">
        <h3>Totales por tarifa</h3>
    </div>
    <br>
    <div class="col-lg-12" ng-show="loadingReporteTarifas">
        <img class="media-object center-block" src="images/loading.gif">
    </div>

    <div ng-show="errorTarifario">
        <div-panel config-panel="configPanel">
            <span>{{ configPanel.mensaje }}</span>
        </div-panel>
    </div>

    <!--<div class="col-lg-12 well hidden-print" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <div class="row">
            <div class="col-lg-6">
                <label for="fechaInicio">Desde</label>
                <p class="input-group">
                    <input type="text" id="fechaInicio" readonly class="form-control" ng-model="model.fechaInicio" uib-datepicker-popup="yyyy-MM-dd" is-open="isCollapsedDesde" datepicker-options="datepickerOptions" clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="isCollapsedDesde = !isCollapsedDesde"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
                </p>
            </div>
            <div class="col-lg-6">
                <label for="fechaFin">Hasta</label>
                <p class="input-group">
                    <input type="text" id="fechaFin" readonly class="form-control" ng-model="model.fechaFin" uib-datepicker-popup="yyyy-MM-dd" is-open="isCollapsedHasta" datepicker-options="datepickerOptions" clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="isCollapsedHasta = !isCollapsedHasta"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
                </p>
            </div>
        </div>
    </div>-->
    <reporte-tarifas-search ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario"></reporte-tarifas-search>

    <div class="row hidden-print col-lg-12" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <div class="input-group col-lg-12">
            <input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o medida" toupper>
            <span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
        </div>
        <br>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="tasas" ng-change="recargarPricelist()">Sólo tasa a las cargas</label>
        </div>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="filterLarge20" ng-change="filtrarMedida()">Contenedores de 20'</label>
        </div>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="filterLarge40" ng-change="filtrarMedida()">Contenedores de 40'</label>
        </div>
        <div class="col-lg-4 text-right">
            <button class="btn btn-primary" ng-click="agregarQuitarTodo(true)">Marcar todo</button>
            <button class="btn btn-warning" ng-click="agregarQuitarTodo(false)">Desmarcar todo</button>
        </div>
        <div class="col-lg-2 text-right">
            <h4 class="text-right">{{ tarifasGraficar.length }} tarifas seleccionadas</h4>
        </div>
    </div>

    <div class="col-lg-12" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <ul class="nav nav-tabs hidden-print">
            <li ng-repeat="terminal in tabsTerminales" ng-class="{'active': terminal.active}">
                <a href ng-click="cambiarListaTarifas(terminal);">{{ terminal.nombre }}</a>
            </li>
        </ul>
    </div>

    <div class="row col-lg-12" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <br>
        <div class="table-responsive invoice-shadow">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center"><span class="glyphicon glyphicon-check"></span> Seleccionar</th>
                    <th><span class="glyphicon glyphicon-bookmark"></span> Código</th>
                    <th><span class="glyphicon glyphicon-credit-card"></span> Tarifa</th>
                    <th class="text-right"><span class="glyphicon glyphicon-chevron-right"></span> Medida</th>
                </tr>
                </thead>
                <tbody>
                <tr style="height:60px" ng-repeat="price in filteredPrices = (selectedList | filter: searchPrice) | orderBy: predicate : reverse | emptyToEnd: predicate | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" ng-class="price.graficar ? 'bg-info' : ''">
                    <td class="col-lg-1 text-center"><input style="width: 24px; height: 24px;" type="checkbox" ng-model="price.graficar" ng-click="agregarGrafico(price)"></td>
                    <td class="col-lg-1">{{ price.code }}</td>
                    <td class="col-lg-8">{{ price.description | maxLength : 240 }}<a href="" ng-show="(price.description.length > 240)" uib-popover="{{ price.description }}" popover-trigger="'mouseenter'"> (...)</a></td>
                    <td class="col-lg-1 text-right">{{ price.largo }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row hidden-print" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <div class="col-lg-8">
            <div-pagination total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>
        </div>
        <div class="col-lg-4 text-right" style="margin-top: 20px">
            <button class="btn btn-primary" ng-click="armarGraficoTarifas(true)"><span class="glyphicon ion-arrow-graph-up-right"></span> Reporte dinámico</button>
            <button class="btn btn-default" ng-click="armarGraficoTarifas(false)"><span class="glyphicon ion-pie-graph"></span> Reporte estático</button>
        </div>
    </div>

    <div class="row col-lg-12" ng-show="mostrarGrafico && !loadingReporteTarifas && !errorTarifario">
        <h3>Del {{ model.fechaInicio | date: 'dd/MM/yyyy' }} al {{ model.fechaFin | date: 'dd/MM/yyyy' }}</h3>
    </div>

    <div class="row table-responsive col-lg-12" ng-if="tarifasAgrupadas && mostrarGrafico && !loadingReporteTarifas && !errorTarifario">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reporte de tarifas agrupadas</h3>
            </div>
            <div class="panel-body">
                <ng-pivot data="tablePivot.data" options="tablePivot.options"></ng-pivot>
            </div>
        </div>
    </div>

    <div class="row table-responsive col-lg-12" ng-if="!tarifasAgrupadas && mostrarGrafico && !loadingReporteTarifas && !errorTarifario">
        <table class="invoice-shadow table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-lg-1"></th>
                <th class="col-lg-3 text-center" ng-repeat="terminal in tablaGrafico.terminales"><span class="glyphicon glyphicon-credit-card"></span> {{ terminal }}</th>
                <th class="col-lg-2 text-center"><span class="glyphicon glyphicon-plus-sign"></span> Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tarifa in tablaGrafico.data" ng-if="tarifa.mostrar">
                <td class="text-center"><a href uib-popover="{{ tarifa.description }}" popover-trigger="'mouseenter'">{{ tarifa.code }}</a></td>
                <td ng-repeat="cantidad in tarifa.conteo track by $index" class="text-center">
                    <span ng-show="cantidad==0">-</span>
                    <span ng-show="!$last && cantidad>0">U$S {{ cantidad | number:2 }} ({{ tarifa.porcentaje[$index] | number:2 }} %)</span>
                    <strong ng-show="$last && cantidad>0">U$S {{ cantidad | number:2 }}</strong></td>
            </tr>
            <tr>
                <td class="text-center"><strong>Totales</strong></td>
                <td ng-repeat="total in totales track by $index" class="text-center"><strong>U$S {{ total | number:2 }}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-if="mostrarGrafico && !errorTarifario && !tarifasAgrupadas">
        <div class="col-lg-12 text-center table-responsive">
            <column-chart
                class="chart col-xs-12"
                data="chartReporteTarifas.data"
                options="chartReporteTarifas.options"
                click="selectRow(selectedRow, id)"></column-chart>
        </div>
    </div>

    <div class="row" ng-if="mostrarGrafico && !errorTarifario && !tarifasAgrupadas">
        <div class="col-lg-6 text-center table-responsive">
            <pie-chart
                class="chart col-xs-12"
                data="chartTotalesPorTarifa.data"
                options="chartTotalesPorTarifa.options"
                click="selectRow(selectedRow, id)"></pie-chart>
        </div>
        <div class="col-lg-6 text-center table-responsive">
            <pie-chart
                class="chart col-xs-12"
                data="chartTotalesPorTerminal.data"
                options="chartTotalesPorTerminal.options"></pie-chart>
        </div>
    </div>

    <div class="row hidden-print" ng-if="mostrarGrafico && !errorTarifario">
        <div class="col-lg-6 text-right">
            <button class="btn btn-primary" ng-click="volver()"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
        </div>
        <div class="col-lg-6" ng-show="!tarifasAgrupadas">
            <button class="btn btn-success" ng-click="descargarPdf()"><span class="glyphicon glyphicon-download"></span> Descargar PDF</button>
        </div>
    </div>
    <br>
</div>