<div class="container-fluid col-lg-12">
    <div class="visible-print-block">
        <h3>Facturación por contenedores</h3>
    </div>
    <br>
    <div class="col-lg-12">
        <reporte-empresas-search model="model" ranking="ranking"></reporte-empresas-search>
        <div class="col-lg-12" ng-show="cargando">
            <img class="media-object center-block" src="images/loading.gif">
        </div>
        <div class="col-lg-12" ng-hide="cargando || resultados.length > 0">
            <div-panel config-panel="mensajeResultado">
                <span>{{ mensajeResultado.mensaje }}</span>
            </div-panel>
        </div>
        <div class="col-lg-12" ng-hide="cargando || resultados.length == 0">
            <div class="table-responsive invoice-shadow">
                <table class="table table-bordered table-hover" style="font-size: 12px">
                    <thead>
                    <tr>
                        <th>Medida</th>
                        <th>Contenedor</th>
                        <th>Buque</th>
                        <th>Viaje</th>
                        <td class="text-right">Cant. contenedores</td>
                        <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="medida in resultados">
                    <tr class="clickableRow bg-info text-bold" ng-click="medida.detalle = !medida.detalle">
                        <td>{{ medida.medida | isoMedida }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{ medida.contenedores.length }}</td>
                        <td class="text-right">{{ medida.total | currency: ('DOL' | formatCurrency) }}</td>
                    <tr>
                    <tr ng-repeat="contenedor in medida.contenedores" ng-show="medida.detalle">
                        <td></td>
                        <td>{{ contenedor.contenedor }}</td>
                        <td>{{ contenedor.buque }}</td>
                        <td>{{ contenedor.viaje }}</td>
                        <td></td>
                        <td class="text-right">{{ contenedor.total | currency: ('DOL' | formatCurrency) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>