<div class="container col-lg-12">
    <div class="visible-print-block">
        <h3>Totales por tarifa</h3>
    </div>
    <br>
    <div class="col-lg-12" ng-show="vmCubo.loadingReporteTarifas">
        <img class="media-object center-block" src="images/loading.gif">
    </div>

    <div ng-show="vmCubo.errorTarifario">
        <div-panel config-panel="vmCubo.configPanel">
            <span>{{ vmCubo.configPanel.mensaje }}</span>
        </div-panel>
    </div>

    <reporte-tarifas-search ng-hide="vmCubo.mostrarGrafico || vmCubo.loadingReporteTarifas || vmCubo.errorTarifario"></reporte-tarifas-search>

    <div class="row hidden-print col-lg-12" ng-hide="vmCubo.mostrarGrafico || vmCubo.loadingReporteTarifas || vmCubo.errorTarifario">
        <div class="input-group col-lg-12">
            <input type="text" class="form-control" ng-model="vmCubo.search" placeholder="Buscar por código, descripción o medida" toupper>
            <span class="input-group-btn"><button class="btn btn-default" ng-click="vmCubo.search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
        </div>
        <br>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="tasas" ng-change="">Sólo tasa a las cargas</label>
        </div>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="filterLarge20" ng-change="">Contenedores de 20'</label>
        </div>
        <div class="col-lg-2">
            <label class="checkbox"><input type="checkbox" ng-model="filterLarge40" ng-change="">Contenedores de 40'</label>
        </div>
        <div class="col-lg-offset-4 col-lg-2 text-right">
            <h4 class="text-right">{{ vmCubo.tarifasSeleccionadas() }} tarifas seleccionadas</h4>
        </div>
    </div>

    <div class="col-lg-12" ng-hide="vmCubo.mostrarGrafico || vmCubo.loadingReporteTarifas || vmCubo.errorTarifario">
        <ul class="nav nav-tabs hidden-print">
            <li ng-repeat="terminal in vmCubo.tabsTerminales" ng-class="{'active': terminal.active}">
                <a href ng-click="vmCubo.filtrarListado(terminal.nombre);">{{ terminal.nombre }}</a>
            </li>
        </ul>
    </div>

    <div class="row col-lg-12" ng-hide="vmCubo.mostrarGrafico || vmCubo.loadingReporteTarifas || vmCubo.errorTarifario || vmCubo.gruposTarifas">
        <br>
        <div class="table-responsive invoice-shadow">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center"><span class="glyphicon glyphicon-check"></span> Seleccionar</th>
                    <th><span class="glyphicon glyphicon-bookmark"></span> Código</th>
                    <th><span class="glyphicon glyphicon-credit-card"></span> Tarifa</th>
                    <th class="text-right"><span class="glyphicon glyphicon-chevron-right"></span> Medida</th>
                </tr>
                </thead>
                <tbody>
                <tr style="height:60px" ng-repeat="price in vmCubo.filteredPrices = (vmCubo.listadoTarifas | filter: {terminal: vmAgrupar.filtroTerminal} | filter: vmCubo.search) | orderBy: 'code' | startFrom:(vmCubo.currentPage-1)*vmCubo.itemsPerPage | limitTo:vmCubo.itemsPerPage" ng-class="price.graficar ? 'bg-info' : ''">
                    <td class="col-lg-1 text-center"><input style="width: 24px; height: 24px;" type="checkbox" ng-model="price.graficar"></td>
                    <td class="col-lg-1">{{ price.code }}</td>
                    <td class="col-lg-8">{{ price.description | maxLength : 240 }}<a href="" ng-show="(price.description.length > 240)" uib-popover="{{ price.description }}" popover-trigger="'mouseenter'"> (...)</a></td>
                    <td class="col-lg-1 text-right">{{ price.largo }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12" ng-show="gruposTarifas && !(mostrarGrafico || loadingReporteTarifas || errorTarifario)">
        <br>
        <div class="table-responsive invoice-shadow">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center"><span class="glyphicon glyphicon-check"></span> Seleccionar</th>
                    <th><span class="glyphicon glyphicon-bookmark"></span> Código</th>
                    <th> Descripción</th>
                    <th> Tipo de movimiento</th>
                    <th> Cant. de tarifas</th>
                </tr>
                </thead>
                <tbody ng-repeat="grupo in listadoGrupos" ng-init="grupo.detalle = false">
                <tr ng-click="grupo.detalle = !grupo.detalle">
                    <td class="col-lg-1 text-center"><input style="width: 24px; height: 24px;" type="checkbox" ng-model="grupo.graficar" ng-click="graficarPorGrupo($event, grupo)"></td>
                    <td class="col-lg-1">{{ grupo._id }}</td>
                    <td class="col-lg-8">{{ grupo.description }}</td>
                    <td class="col-lg-1">{{ grupo.mov }}</td>
                    <td class="col-lg-1">{{ grupo.tarifas.length }}</td>
                </tr>
                <tr style="height:60px" ng-repeat="tarifa in grupo.tarifas" ng-show="grupo.detalle">
                    <td></td>
                    <td>{{ tarifa.code }}</td>
                    <td>{{ tarifa.description }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row hidden-print" ng-hide="mostrarGrafico || loadingReporteTarifas || errorTarifario">
        <div class="col-lg-8">
            <div-pagination total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>
        </div>
        <div class="col-lg-4 text-right" style="margin-top: 20px">
            <button class="btn btn-primary" ng-click="armarGraficoTarifas(true)"><span class="glyphicon ion-arrow-graph-up-right"></span> Reporte dinámico</button>
        </div>
    </div>

    <div class="row col-lg-12" ng-show="mostrarGrafico && !loadingReporteTarifas && !errorTarifario">
        <h3>Del {{ model.fechaInicio | date: 'dd/MM/yyyy' }} al {{ model.fechaFin | date: 'dd/MM/yyyy' }}</h3>
    </div>

    <div class="row table-responsive col-lg-12" ng-if="tarifasAgrupadas && mostrarGrafico && !loadingReporteTarifas && !errorTarifario">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reporte de tarifas agrupadas</h3>
            </div>
            <div class="panel-body">
                <ng-pivot data="tablePivot.data" options="tablePivot.options"></ng-pivot>
            </div>
        </div>
    </div>

    <br>
</div>