<div class="container-fluid col-lg-12">
    <div class="visible-print-block">
        <h3>Facturación por contenedores</h3>
    </div>
    <br>
    <div class="col-lg-12">
        <reporte-empresas-search model="model" ranking="ranking" ocultar-filtros="ocultarFiltros"></reporte-empresas-search>
        <div class="col-lg-12" ng-show="cargando">
            <img class="media-object center-block" src="images/loading.gif">
        </div>
        <div class="col-lg-12" ng-hide="cargando || resultados.length > 0">
            <div-panel config-panel="mensajeResultado">
                <span>{{ mensajeResultado.mensaje }}</span>
            </div-panel>
        </div>
        <div class="col-lg-12" ng-hide="cargando || resultados.length == 0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-tittle">Reporte de contenedores</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table style="font-size: 12px" class="table no-margin-bottom" ng-repeat="medida in resultados | orderBy: 'total' : model.order == -1 track by $index">
                        <thead ng-if="$first">
                        <tr>
                            <th></th>
                            <th>Medida</th>
                            <th>Movimiento</th>
                            <th>Contenedor</th>
                            <th>Buque</th>
                            <th>Viaje</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="movimiento in medida.movimientos">
                        <tr class="clickableRow text-bold" ng-click="medida.detalle = !medida.detalle" ng-if="$first">
                            <td class="col-lg-1">
                                <i ng-show="!medida.detalle" class="glyphicon glyphicon-plus"></i>
                                <i ng-show="medida.detalle" class="glyphicon glyphicon-minus"></i>
                            </td>
                            <td class="col-lg-2">{{ medida.medida | isoMedida }}</td>
                            <td class="col-lg-1"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="text-right col-lg-2">{{ medida.total | currency: ('DOL' | formatCurrency) }}</td>
                        </tr>
                        <tr class="clickableRow text-bold" ng-click="movimiento.detalle = !movimiento.detalle" ng-show="medida.detalle">
                            <td></td>
                            <td>
                                <i ng-show="!movimiento.detalle" class="glyphicon glyphicon-plus"></i>
                                <i ng-show="movimiento.detalle" class="glyphicon glyphicon-minus"></i>
                            </td>
                            <td>{{ movimiento.movimiento || 'Sin informar' }}</td>
                            <td>{{ movimiento.contenedores.length }} contenedores</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ movimiento.total | currency: ('DOL' | formatCurrency) }}</td>
                        </tr>
                        <tr ng-repeat="contenedor in movimiento.contenedores | orderBy: 'total' : model.order == -1" ng-show="movimiento.detalle && medida.detalle">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href ng-click="contenedor.openDetailView()"><i class="glyphicon glyphicon-search"></i></a>{{ ' ' + contenedor.contenedor }}</td>
                            <td>{{ contenedor.buque }}</td>
                            <td>{{ contenedor.viaje }}</td>
                            <td class="text-right">{{ contenedor.total | currency: ('DOL' | formatCurrency) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>