<accordion-min heading="Filtrar por">
	<form ng-submit="cargaPorFiltros()">
			<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('fecha', 0) >= 0">
				<div class="input-group">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openfecha = !openfecha">Fecha <span class="glyphicon glyphicon-calendar"></span></button>
				</span>
					<input type="text" class="form-control" datetime-picker="yyyy-MM-dd" ng-model="model.fecha" is-open="openfecha" max-date="maxDate" readonly style="background-color: #ffffff">
				</div>
			</div>
			<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('fechaInicio', 0) >= 0">
			<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openfechaInicio = !openfechaInicio">Desde <span class="glyphicon glyphicon-calendar"></span></button>
			</span>
				<input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="model.fechaInicio" is-open="openfechaInicio" max-date="maxDate" readonly style="background-color: #ffffff">
			</div>
		</div>
		<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('fechaFin', 0) >= 0">
			<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openfechaFin = !openfechaFin">Hasta <span class="glyphicon glyphicon-calendar"></span></button>
			</span>
				<input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="model.fechaFin" is-open="openfechaFin" min-date="model.fechaInicio" max-date="maxDate" readonly style="background-color: #ffffff">
			</div>
		</div>
		<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0">
			<div class="input-group">
				<input type="text" ng-model="model.buqueNombre" uib-typeahead="buque for buque in listaBuques | filter:$viewValue | limitTo:15" class="form-control" placeholder="Buque" toupper typeahead-editable="false"/>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('buqueNombre', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<!--<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('viaje', 0) >= 0 || !mostrarViajes">
            <div class="input-group">
                <input type="text" ng-model="model.viaje" uib-typeahead="viaje.viaje for viaje in listaViajes | filter:$viewValue | limitTo:15" class="form-control" placeholder="Viaje" toupper typeahead-on-select="filtrado('viaje', $model)" typeahead-editable="false"/>
                <span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('viaje', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
            </div>
        </div>-->
		<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('contenedor', 0) >= 0">
			<div class="input-group">
				<input type="text" ng-model="model.contenedor" class="form-control" placeholder="Contenedor" toupper/>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('contenedor', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('patenteCamion', 0) >= 0">
			<div class="input-group">
				<input type="text" ng-model="model.patenteCamion" class="form-control" placeholder="Patente" toupper/>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('patenteCamion', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-3 col-sm-4" ng-hide="ocultarFiltros.indexOf('tren', 0) >= 0">
			<div class="input-group">
				<input type="text" ng-model="model.tren" uib-typeahead="tren.tren for tren in listaTrenes | filter:$viewValue | limitTo:15" class="form-control" placeholder="Tren" toupper typeahead-on-select="filtrado('tren', $model)" typeahead-editable="false"/>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('tren', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-3 col-md-4" ng-hide="ocultarFiltros.indexOf('carga', 0) >= 0">
			<div class="input-group">
				<select class="form-control" ng-model="model.carga" ng-init="model.carga=''">
					<option value="" disabled>Según carga</option>
					<option value="LL" class="text-success">Lleno</option>
					<option value="VA" class="text-danger">Vacío</option>
					<option value="NO">Sin contenedor</option>
				</select>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('carga', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-3 col-md-4" ng-hide="ocultarFiltros.indexOf('ontime', 0) >= 0">
			<div class="input-group">
				<select class="form-control" ng-model="model.ontime" ng-init="model.ontime=''">
					<option value="" disabled>Según horario</option>
					<option value="1">En horario</option>
					<option value="0">Fuera de horario</option>
				</select>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('ontime', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-3 col-md-4" ng-hide="ocultarFiltros.indexOf('size', 0) >= 0">
			<div class="input-group">
				<select class="form-control" ng-model="model.size" ng-init="model.size=''">
					<option value="" disabled>Según medida</option>
					<option value="20">20 pies</option>
					<option value="40">40 pies</option>
				</select>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('size', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
		</div>
		<div class="form-group col-lg-2 col-sm-4" ng-hide="ocultarFiltros.indexOf('onlyTrains', 0) >= 0">
			<div class="input-group checkbox checkBoxContainer">
				<label>
					<input type="checkbox" ng-model="model.onlyTrains" ng-change="filtrado('', '')"> Sólo trenes
				</label>
			</div>
		</div>
		<div class="form-group col-lg-3 col-sm-4">
			<div class="input-group">
				<button type="submit" class="btn btn-primary" ng-disabled="model.fechaInicio > model.fechaFin">Buscar</button>
			</div>
		</div>
        <div class="form-group col-lg-4 col-sm-4 text-right">
			<button type="button" class="btn btn-success" ng-show="showCsv" ng-click="descargarCSV()" ng-disabled="(disableDown || ((model.fechaFin-model.fechaInicio)/(1000*60*60*24) > 31) ? true : false)">
				<span ng-show="!disableDown"><span class="glyphicon glyphicon-download"></span> Descargar CSV</span>
				<span ng-show="disableDown"><img src="images/loadingChico.gif" height="20" width="20"> Procesando</span>
			</button>
		</div>
	</form>
</accordion-min>
