<div class="container col-lg-offset-1 col-lg-10 col-md-12">

    <div class="row col-lg-12 page-header">
        <h1><img ng-src="images/icon-gates.png" height="64" width="64" class="hidden-xs">Gates</h1>
    </div>

    <div class="row">
        <table-gates
                ocultar-busqueda="false"
                model="model"
                datos-gates="gates"
                detalles-gates="detallesGates"
                total-items="totalItems"
                tiempo-consulta="tiempoConsulta"
                items-per-page="itemsPerPage"
                current-page="currentPage"
                config-panel="configPanel"
                loading-state="cargando"
                chart-gates-by-type="chartGatesByType"
                chart-dia-gates-turnos="chartDiaGatesTurnos"
                >
        </table-gates>
    </div>

</div>