<div ng-hide="mostrarResultado">
	<div class="row hidden-print">
		<accordion-invoices-search model="model" ocultar-filtros="ocultarFiltros"></accordion-invoices-search>
	</div>

	<div class="col-lg-12 text-center" ng-show="cargando">
		<img class="media-object center-block" src="images/loading.gif">
	</div>
	<div class="col-lg-12" ng-hide="cargando">
		<div ng-hide="datosFaltantes.length != undefined && datosFaltantes.length > 0">
			<div-panel config-panel="configPanel">
				{{ configPanel.mensaje }}
				<p ng-show="hayError">Presione <a href ng-click="recargar()">aquí</a> para volver a intentarlo.</p>
			</div-panel>
		</div>
		<div ng-show="datosFaltantes.length != undefined && datosFaltantes.length > 0">
			<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong>Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }} (página {{ currentPage }})</strong></span></h5>
			<div class="table-responsive invoice-shadow">
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>Contenedor</th>
						<th>Fecha</th>
						<th class="hidden-print" style="text-align: center"><span class="glyphicon glyphicon-zoom-in"></span></th>
					</tr>
					</thead>
					<tbody>
					<tr class="fila-animada" ng-repeat="contenedor in datosFaltantes track by $index" ng-class="contenedor.contenedor == contenedorElegido ? 'fila-elegida' : ''">
						<td>{{ contenedor.contenedor }}</td>
						<td>{{ contenedor.fecha | date: 'dd/MM/yyyy' }}</td>
						<td class="hidden-print" style="text-align: center"><a href ng-click="::detalleContenedor(contenedor)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
					</tr>
				</table>
			</div>
			<div-pagination total-items="totalItems" current-page="currentPage" items-per-page="model.itemsPerPage"></div-pagination>
			<div class="row text-right" ng-show="mostrarDetalle">
				<button class="btn btn-info" ng-click="mostrarDetalle = false">Ocultar detalle</button>
			</div>
		</div>
	</div>
</div>

<div ng-show="mostrarDetalle" ng-controller="buqueViajeCtrl">
	<buque-viaje-detail></buque-viaje-detail>
</div>