<vista-comprobantes
		model="model"
		datos-invoices="comprobantes"
		ocultar-filtros="ocultarFiltros"
		total-items="totalItems"
		loading-state="loadingState"
		control-codigos="false"
		mostrar-ptos-venta="true"
		panel-mensaje="mensajeResultado"
		filtro-estados="filtroEstados"
		can-descargar-csv=false>
</vista-comprobantes>

<button class="btn btn-success" ng-show="estado=='R,T,E' && !loadingState && comprobantes.length > 0" ng-click="descargarCSV()" ng-disabled="disableDown">
	<span ng-show="!disableDown"><span class="glyphicon glyphicon-download"></span> Descargar CSV</span>
	<span ng-show="disableDown"><img src="images/loadingChico.gif" height="20" width="20"> Procesando</span>
</button>

