<div class="container col-lg-12">
    <div class="col-lg-12 visible-print-block">
        <h3>Sin tasa a las cargas</h3>
    </div>
    <br>
    <accordion-invoices-search model="model" ocultar-filtros="ocultarFiltros"></accordion-invoices-search>
    <div-cargando mostrar="loadingTasaCargas">
        <div ng-hide="hayError">
            <div-panel config-panel="{tipo: 'panel-info', titulo: 'Contenedores sin Tasa a las Cargas ' + totalContenedores}">
                <div ng-show="totalContenedores == 0">No se encontraron contenedores sin tasa a las cargas para los filtros seleccionados</div>
                <div style="max-height: 200px; max-width: 100%; overflow: auto" ng-hide="totalContenedores == 0">
                    <div class="input-group col-lg-12 hidden-print">
                        <input type="text" class="form-control" ng-model="search" placeholder="Filtrar resultados" toupper>
                        <span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
                    </div>
                    <br>
					<span ng-repeat="contenedor in resultado | filter: search">
						<div style="width: auto; float:left; text-align:center" ng-show="contenedor.contenedor != ''" ><a href ng-class="{mark: (model.contenedor == contenedor.contendor)}" ng-click="verContenedor(contenedor)"> {{ contenedor.contenedor }}</a><span ng-show="!$last"> -&nbsp</span></div>
					</span>
                </div>
            </div-panel>
        </div>
    </div-cargando>
    <div class="col-lg-12" ng-show="hayError">
        <div-panel config-panel="mensajeResultado">
            <span>{{ mensajeResultado.mensaje }}</span>
        </div-panel>
    </div>
    <div ng-show="mostrarDetalle" ng-controller="buqueViajeCtrl">
        <buque-viaje-detail></buque-viaje-detail>
    </div>
</div>