<div class="container col-lg-12">
    <div class="col-lg-12 visible-print-block">
        <h3>Control de correlatividad<span> - {{ filtroTerminal }}</span></h3>
    </div>
    <br>
    <accordion-invoices-search model="model" ocultar-filtros="ocultarFiltros"></accordion-invoices-search>
    <div class="visible-print-block"><span ng-hide="model.fechaInicio == ''">Desde: {{ model.fechaInicio | date: 'dd/MM/yyyy' }}</span></div>
    <div class="visible-print-block"><span ng-hide="model.fechaFin == ''">Hasta: {{ model.fechaFin | date: 'dd/MM/yyyy' }}</span></div>
    <br class="visible-print-block">
    <div-cargando mostrar="loadingCorrelatividad">
        <h3 ng-show="totalFaltantes > 0 && totalPuntos == 0"><b>{{ tipoComprob.desc }}</b> faltantes {{ totalFaltantes }}</h3>
        <div-panel ng-repeat="pantalla in puntosDeVenta" config-panel="pantalla" ng-show="pantalla.totalCnt > 0">
            <p ng-show="pantalla.totalCnt > 1">Se hallaron {{ pantalla.totalCnt }} comprobantes faltantes:</p>
            <p ng-show="pantalla.totalCnt == 1">Se halló {{ pantalla.totalCnt }} comprobante faltante:</p>
            <span ng-repeat="numero in pantalla.resultadoCorrelativo track by $index" title="{{ numero.d | date: 'dd/MM/yyyy' }}">{{ numero.n }}<span ng-show="!$last"> - </span></span>
        </div-panel>
        <div-panel config-panel="pantalla" ng-show="puntosDeVenta.length == 0">
          {{ pantalla.mensajeCorrelativo }}
        </div-panel>
        <div class="text-right" ng-show="totalFaltantes > 0 && totalPuntos == 0">
            <button class="btn btn-primary" ng-click="imprimirPdf()"><span class="glyphicon glyphicon-download"></span> Imprimir en PDF</button>
        </div>
    </div-cargando>
</div>