<div class="table-responsive invoice-shadow">
	<table class="table table-bordered table-hover text-small">
		<thead>
		<tr>
			<th class="text-center"><encabezado-tabla-ordenado titulo="Fecha" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="fecha.emision" filtro-orden="fechaOrden"></encabezado-tabla-ordenado></th>
			<th class="text-right"><encabezado-tabla-ordenado titulo="Pto. Venta" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="nroPtoVenta" filtro-orden="nroPtoVentaOrden"></encabezado-tabla-ordenado></th>
			<th><encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="codTipoComprob" filtro-orden="codTipoComprobOrden"></encabezado-tabla-ordenado></th>
			<th class="text-right"><encabezado-tabla-ordenado titulo="Nro" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="nroComprob" filtro-orden="nroComprobOrden"></encabezado-tabla-ordenado></th>
			<th class="text-center" ng-if="byContainer">Buque</th>
			<th class="text-center" ng-if="byContainer">Viaje</th>
			<th><encabezado-tabla-ordenado titulo="Razón Social" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="razon" filtro-orden="razonOrden"></encabezado-tabla-ordenado></th>
			<th class="text-right"># Contenedores</th>
			<th class="text-right" ng-hide="byContainer"><encabezado-tabla-ordenado titulo="Importe Total" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="importe.total" filtro-orden="importeOrden"></encabezado-tabla-ordenado></th>
			<th class="text-right" ng-if="byContainer">Importe contenedor</th>
			<th class="text-right" ng-if="byContainer">Importe total</th>
			<th class="hidden-print text-center"><span class="glyphicon glyphicon-zoom-in"></span></th>
			<th ng-if="dataTerminal.type=='agp'" class="col-lg-1 hidden-print text-center">Estado</th>
			<th ng-if="dataTerminal.type=='agp'" class="text-center hidden-print" title="Liquidación">Lq</th>
		</tr>
		</thead>
		<tbody ng-if="dataTerminal.type == 'agp'">
		<tr ng-repeat="invoice in datosInvoices" ng-class="{ comprobanteReenviar: invoice.resend == 1 }" class="fila-animada">
			<td class="text-center"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('fechaInicio', 0) >= 0" ng-click="filtrado('fechaInicio', invoice.fecha.emision)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.fecha.emision | date: 'dd/MM/yyyy':'UTC' }}</td>
			<td class="text-right"><span ng-show="invoice.resend == 1" title="Comprobante marcado para reenviar" class="glyphicon glyphicon-warning-sign text-danger"></span> {{ invoice.nroPtoVenta }}</td>
			<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('codTipoComprob', 0) >= 0" ng-click="filtrado('codTipoComprob', invoice.codTipoComprob)"><span class="glyphicon glyphicon-search"></span></a> <span title="{{ invoice.codTipoComprob | nombreComprobante : false }}">{{ invoice.codTipoComprob | nombreComprobante : true }}</span></td>
			<td class="text-right"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('nroComprobante', 0) >= 0" ng-click="filtrado('nroComprobante', invoice.nroComprob)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.nroComprob }}</td>
			<td class="text-center" ng-show="byContainer">{{ invoice.buque }}</td>
			<td class="text-center" ng-show="byContainer">{{ invoice.viaje }}</td>
			<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('razonSocial', 0) >= 0" ng-click="filtrado('razonSocial', invoice.razon)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.razon }}</td>
			<td class="text-right">{{ invoice.contes}}</td>
			<td class="text-right" ng-hide="byContainer">
				<span class="text-danger glyphicon glyphicon-exclamation-sign" ng-show="invoice.controlTarifas.length > 0" uib-popover="Error en tarifas" popover-trigger="'mouseenter'"></span>
				<span class="text-warning glyphicon glyphicon-question-sign" ng-show="invoice.noMatch" uib-popover="Códigos sin asociar" popover-trigger="'mouseenter'"></span>
				<span ng-class="invoice.total < 0 ? 'text-danger' : ''"><span ng-show="invoice.total < 0">- </span>{{ invoice.importe.total | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td class="text-right" ng-show="byContainer">
				<span ng-class="invoice.importeContenedor < 0 ? 'text-danger' : ''">{{ invoice.importeContenedor | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td class="text-right" ng-show="byContainer">
				<span ng-class="invoice.total < 0 ? 'text-danger' : ''">{{ invoice.total | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td ng-hide="inTrackContainer" class="hidden-print text-center"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			<td class="hidden-print text-left">
				<a href ng-click="trackInvoice(invoice)" uib-popover="{{ invoice.lastComment }}" popover-trigger="'mouseenter'"><img ng-src="{{ invoice.interfazEstado.imagen }}" height="16" width="16" ><span class="{{ invoice.interfazEstado.btnEstado }}"> {{ invoice.interfazEstado.description }}</span></a>
			</td>
			<td class="hidden-print text-center" title="{{invoice.title}}"><span class="glyphicon glyphicon-check {{ invoice.interfazLiquidada }}" ng-show="invoice.tienePayment"></span><span class="glyphicon glyphicon-remove {{ invoice.interfazLiquidada }}" ng-hide="invoice.tienePayment"></span> </td>
		</tr>
		</tbody>
		<tbody ng-if="dataTerminal.type == 'terminal'">
		<tr ng-repeat="invoice in datosInvoices" ng-class="{ comprobanteReenviar: invoice.resend == 1 }" class="fila-animada">
			<td class="text-center"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('fechaInicio', 0) >= 0" ng-click="filtrado('fechaInicio', invoice.fecha.emision)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.fecha.emision | date: 'dd/MM/yyyy':'UTC' }}</td>
			<td class="text-right">{{ invoice.nroPtoVenta }}</td>
			<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('codTipoComprob', 0) >= 0" ng-click="filtrado('codTipoComprob', invoice.codTipoComprob)"><span class="glyphicon glyphicon-search"></span></a> <span title="{{ invoice.codTipoComprob | nombreComprobante : false }}">{{ invoice.codTipoComprob | nombreComprobante : true }}</span></td>
			<td class="text-right"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('nroComprobante', 0) >= 0" ng-click="filtrado('nroComprobante', invoice.nroComprob)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.nroComprob }}</td>
			<td class="text-center" ng-if="byContainer">{{ invoice.buque }}</td>
			<td class="text-center" ng-if="byContainer">{{ invoice.viaje }}</td>
			<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('razonSocial', 0) >= 0" ng-click="filtrado('razonSocial', invoice.razon)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.razon }}</td>
			<td class="text-right">{{ invoice.contes}}</td>
			<td class="text-right" ng-hide="byContainer">
				<span class="text-danger glyphicon glyphicon-exclamation-sign" ng-show="invoice.controlTarifas.length > 0" uib-popover="Error en tarifas" popover-trigger="'mouseenter'"></span>
				<span class="text-warning glyphicon glyphicon-question-sign" ng-show="invoice.noMatch" uib-popover="Códigos sin asociar" popover-trigger="'mouseenter'"></span>
				<span ng-class="invoice.total < 0 ? 'text-danger' : ''"><span ng-show="invoice.total < 0">- </span>{{ invoice.importe.total | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td class="text-right" ng-if="byContainer">
				<span ng-class="invoice.importeContenedor < 0 ? 'text-danger' : ''">{{ invoice.importeContenedor | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td class="text-right" ng-if="byContainer">
				<span ng-class="invoice.total < 0 ? 'text-danger' : ''">{{ invoice.total | currency: (invoice.codMoneda | formatCurrency) }}</span>
			</td>
			<td class="hidden-print text-center"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
		</tr>
		</tbody>
	</table>
</div>
<div-pagination total-items="totalItems" items-per-page="model.itemsPerPage" current-page="currentPage"></div-pagination>