<accordion-min heading="Filtrar por">
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('codTipoComprob', 0) >= 0">
		<div class="input-group">
			<label class="sr-only" for="model.codTipoComprob">Seleccionar Comprobante</label>
			<select id="model.codTipoComprob" class="form-control" ng-model="model.codTipoComprob" ng-init="model.codTipoComprob=''">
				<option value="" disabled>Seleccionar Comprobante</option>
				<option ng-repeat="comprobantes in vouchers" value="{{ comprobantes._id }}">{{ comprobantes.description }}</option>
			</select>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('codTipoComprob', 0);"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0">
		<div class="input-group">
			<input type="text" ng-model="model.buqueNombre" uib-typeahead="buque.buque for buque in listaBuques | filter:$viewValue | limitTo:15" class="form-control" placeholder="Buque" toupper typeahead-on-select="buqueSelected($item, $model, $label, $event)" typeahead-editable="false"/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('buqueNombre', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('razonSocial', 0) >= 0">
		<div class="input-group">
			<input type="text" ng-model="model.razonSocial" uib-typeahead="cliente.nombre for cliente in listaRazonSocial | filter:$viewValue | limitTo:15" class="form-control" placeholder="Razón Social" toupper typeahead-on-select="filtrado('razonSocial', $model)" typeahead-editable="false"/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('viaje', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfechaInicio = !openfechaInicio;">Desde <span class="glyphicon glyphicon-calendar"></span></button></span>
			<input id="model.fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" uib-datepicker-popup="yyyy-MM-dd" ng-model="model.fechaInicio" is-open="openfechaInicio" datepicker-option="dateOptionsLiquidaciones" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaInicio', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfechaFin = !openfechaFin;">Hasta <span class="glyphicon glyphicon-calendar"></span></button></span>
			<input id="model.fechaFin" type="text" class="form-control" ng-keyup="hitEnter($event)" uib-datepicker-popup="yyyy-MM-dd" ng-model="model.fechaFin" is-open="openfechaFin" datepicker-option="dateOptionsLiquidaciones" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaFin', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('liquidacion', 0) >= 0">
		<div class="input-group">
			<input type="text" ng-model="model.liquidacion" class="form-control" placeholder="Liquidación" toupper/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('liquidacion', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<!--<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('byContainer', 0) >= 0">
		<div class="form-control">
			<label>
				<input type="checkbox" ng-model="model.byContainer"> Agrupar por contenedor
			</label>
		</div>
	</div>-->
	<div class="col-lg-4 col-sm-6">
		<div class="form-group">
			<button class="btn btn-primary" ng-click="filtrado('', '')" ng-disabled="model.fechaInicio > model.fechaFin">Buscar</button>
		</div>
	</div>
</accordion-min>