<accordion-min heading="Filtrar por">
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('codTipoComprob', 0) >= 0">
		<div class="input-group">
			<label class="sr-only" for="model.codTipoComprob">Seleccionar Comprobante</label>
			<select id="model.codTipoComprob" class="form-control" ng-model="model.codTipoComprob" ng-init="model.codTipoComprob=''">
				<option value="" disabled>Seleccionar Comprobante</option>
				<option ng-repeat="comprobantes in vouchers" value="{{ comprobantes._id }}">{{ comprobantes.description }}</option>
			</select>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('codTipoComprob', 0);"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('nroComprobante', 0) >= 0">
		<div class="input-group">
			<input type="text" ng-keyup="hitEnter($event)" ng-model="model.nroComprobante" class="form-control" placeholder="N° Comprobante"/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('nroComprobante', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('razonSocial', 0) >= 0">
		<angucomplete-alt id="idRazonSocial"
		                  placeholder="Razón Social"
		                  pause="100"
		                  selected-object="clientSelected"
		                  local-data="listaRazonSocial"
		                  search-fields="nombre"
		                  title-field="nombre"
		                  minlength="1"
		                  input-class="form-control"
		                  filtrar="filtrado(filtrar, contenido)"
		                  filter-field="razonSocial"
		                  input-field="razonSocial"
		                  match-class="highlight"
		                  limit-results="15"
		                  outside-model="model.razonSocial"
		                  auto-match="true"></angucomplete-alt>
	</div>
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openfechaInicio = !openfechaInicio;">Desde <span class="glyphicon glyphicon-calendar"></span></button></span>
			<label for="model.fechaInicio" class="sr-only">Fecha Desde</label>
			<input id="model.fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="model.fechaInicio" is-open="openfechaInicio" min-date="minDate" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaInicio', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openfechaFin = !openfechaFin;">Hasta <span class="glyphicon glyphicon-calendar"></span></button></span>
			<label for="model.fechaFin" class="sr-only">Fecha Hasta</label>
			<input id="model.fechaFin" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="model.fechaFin" is-open="openfechaFin" max-date="maxDateH" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaFin', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('liquidacion', 0) >= 0">
		<div class="input-group">
			<input type="text" ng-model="model.liquidacion" class="form-control" placeholder="Liquidación" toupper/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('liquidacion', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6">
		<div class="form-group">
			<button class="btn btn-primary" ng-click="filtrado('', '')" ng-disabled="model.fechaInicio > model.fechaFin">Buscar</button>
		</div>
	</div>
</accordion-min>