<accordion-min heading="Filtrar por">
	<div class="col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('fechaInicio', 0) >= 0">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Desde</span>
				<label class="sr-only" for="fechaInicio">Fecha Desde</label>
				<input id="fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="{{formatDate}}" ng-model="model.fechaInicio" is-open="openFechaInicio" datepicker-options="dateOptions" show-button-bar="false" max-date="maxDate" />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="openDate($event); openFechaInicio = !openFechaInicio;"><span class="glyphicon glyphicon-calendar"></span></button>
							</span>
				<timepicker-pop class="input-group" input-time="model.fechaInicio"></timepicker-pop>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('fechaFin', 0) >= 0">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Hasta</span>
				<label class="sr-only" for="fechaFin">Fecha Hasta</label>
				<input id="fechaFin" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="{{formatDate}}" ng-model="model.fechaFin" is-open="openfechaFin" datepicker-options="dateOptions" show-button-bar="false" max-date="maxDate" />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="openDate($event); openfechaFin = !openfechaFin;"><span class="glyphicon glyphicon-calendar"></span></button>
							</span>
				<timepicker-pop class="input-group" input-time="model.fechaFin"></timepicker-pop>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0">
		<div class="form-group">
			<angucomplete-alt id="idBuque"
							  placeholder="Buque"
							  pause="100"
							  selected-object="buqueSelected"
							  local-data="listaBuques"
							  search-fields="buque"
							  title-field="buque"
							  minlength="1"
							  input-class="form-control"
							  filtrar="filtrado(filtrar, contenido)"
							  input-field="buque"
							  match-class="highlight"
							  limit-results="15"
							  outside-model="model.buqueNombre"
							  auto-match="true"></angucomplete-alt>
		</div>
	</div>
	<div class="form-group col-lg-3 col-md-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('viaje', 0) >= 0 || model.buqueNombre.length == 0">
		<angucomplete-alt id="idViaje"
						  placeholder="Viaje"
						  pause="100"
						  selected-object="viajeSelected"
						  local-data="listaViajes"
						  search-fields="viaje"
						  title-field="viaje"
						  minlength="1"
						  input-class="form-control"
						  filtrar="filtrado(filtrar, contenido)"
						  input-field="viaje"
						  match-class="highlight"
						  limit-results="15"
						  outside-model="model.viaje"
						  auto-match="true"></angucomplete-alt>
	</div>
	<div class="col-lg-4 col-sm-6" ng-hide="ocultarFiltros.indexOf('contenedor', 0) >= 0">
		<div class="form-group">
			<angucomplete-alt id="idContenedor"
							  placeholder="Contenedor"
							  pause="100"
							  selected-object="containerSelected"
							  local-data="listaContenedoresGates"
							  search-fields="contenedor"
							  title-field="contenedor"
							  minlength="1"
							  input-class="form-control"
							  filtrar="filtrado(filtrar, contenido)"
							  input-field="contenedor"
							  match-class="highlight"
							  limit-results="15"
							  outside-model="model.contenedor"
							  auto-match="true"></angucomplete-alt>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6">
		<div class="form-group">
			<button class="btn btn-primary" ng-click="cargaPorFiltros()" ng-disabled="model.fechaInicio > model.fechaFin">Buscar</button>
		</div>
	</div>
</accordion-min>
