<accordion-min heading="Filtrar por">
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openfechaInicio = !openfechaInicio;">Desde <span class="glyphicon glyphicon-calendar"></span></button></span>
			<label for="model.fechaInicio" class="sr-only">Fecha Desde</label>
			<input id="model.fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="model.fechaInicio" is-open="openfechaInicio" min-date="minDate" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaInicio', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="form-group col-lg-4 col-sm-6">
		<div class="input-group">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openfechaFin = !openfechaFin;">Hasta <span class="glyphicon glyphicon-calendar"></span></button></span>
			<label for="model.fechaFin" class="sr-only">Fecha Hasta</label>
			<input id="model.fechaFin" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="model.fechaFin" is-open="openfechaFin" max-date="maxDateH" readonly style="background-color: #ffffff">
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('fechaFin', 'liquidacion');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6" ng-hide="ocultarLiquidacion">
		<div class="input-group">
			<input type="text" ng-model="model.liquidacion" class="form-control" placeholder="Liquidación" toupper/>
			<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrado('liquidacion', '');"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6">
		<div class="form-group">
			<button class="btn btn-primary" ng-click="filtrado('', '')" ng-disabled="model.fechaInicio > model.fechaFin">Buscar</button>
		</div>
	</div>
</accordion-min>