<div class="col-lg-12">
	<div>
		<div>
			<h3>Detalle de Importaciones - Módulo 3</h3>
		</div>
		<div>
			<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
			<div class="fixed-table">
				<table class="invoice-shadow table-responsive table table-striped table-bordered">
					<thead>
					<tr>
						<th rowspan="2" style="min-width: 90px">
							<encabezado-tabla-ordenado titulo="Tipo reg." filtrar-orden="filtrarOrden('TIPOREGISTRO')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPOREGISTRO" filtro-orden="TIPOREGISTROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Detallada" filtrar-orden="filtrarOrden('DETALLADA')" oculta-filtros="ocultarFiltros" model="model" filtro="DETALLADA" filtro-orden="DETALLADAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="5" class="columnaAnidada">Detalle</th>
						<th rowspan="2" style="min-width: 80px">
							<encabezado-tabla-ordenado titulo="Nro. ítem" filtrar-orden="filtrarOrden('NRO_ITEM')" oculta-filtros="ocultarFiltros" model="model" filtro="NRO_ITEM" filtro-orden="NRO_ITEMORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="Pos. arancelaria" filtrar-orden="filtrarOrden('POSICIONARANCELARIA')" oculta-filtros="ocultarFiltros" model="model" filtro="POSICIONARANCELARIA" filtro-orden="POSICIONARANCELARIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 80px">
							<encabezado-tabla-ordenado titulo="Estado mercancía" filtrar-orden="filtrarOrden('ESTADO_MERCA')" oculta-filtros="ocultarFiltros" model="model" filtro="ESTADO_MERCA" filtro-orden="ESTADO_MERCAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada" style="min-width: 200px">Pa&iacute;s</th>
						<th rowspan="2" style="min-width: 80px">
							<encabezado-tabla-ordenado titulo="Unidad declarada" filtrar-orden="filtrarOrden('UNIDAD_DECLARADA')" oculta-filtros="ocultarFiltros" model="model" filtro="UNIDAD_DECLARADA" filtro-orden="UNIDAD_DECLARADAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 100px">
							<encabezado-tabla-ordenado titulo="Cant. unidad declarada" filtrar-orden="filtrarOrden('CANTIDAD_UNIDAD_DECLARADA')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDAD_UNIDAD_DECLARADA" filtro-orden="CANTIDAD_DECLARADA_ORDENORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="Base imponible dólares" filtrar-orden="filtrarOrden('BASEIMPONIBLEDOLARES')" oculta-filtros="ocultarFiltros" model="model" filtro="BASEIMPONIBLEDOLARES" filtro-orden="BASEIMPONIBLEDOLARESORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 80px">
							<encabezado-tabla-ordenado titulo="Unidad estadística" filtrar-orden="filtrarOrden('UNIDAD_ESTADISTICA')" oculta-filtros="ocultarFiltros" model="model" filtro="UNIDAD_ESTADISTICA" filtro-orden="UNIDAD_ESTADISTICAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="Estado cant. unidades" filtrar-orden="filtrarOrden('CANTIDAD_UNIDADES_ESTAD')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDAD_UNIDADES_ESTAD" filtro-orden="CANTIDAD_UNIDADES_ESTADORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Registrado</th>
					</tr>
					<tr>
						<th>
							<encabezado-tabla-ordenado titulo="Año" filtrar-orden="filtrarOrden('DET_ANIO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_ANIO" filtro-orden="DET_ANIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Aduana" filtrar-orden="filtrarOrden('DET_ADUANA')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_ADUANA" filtro-orden="DET_ADUANAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden('DET_TIPO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_TIPO" filtro-orden="DET_TIPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Nro." filtrar-orden="filtrarOrden('DET_NRO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_NRO" filtro-orden="DET_NROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Letra" filtrar-orden="filtrarOrden('DET_LETRA_CTRL')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_LETRA_CTRL" filtro-orden="DET_LETRA_CTRLORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Origen" filtrar-orden="filtrarOrden('PAIS_ORIGEN')" oculta-filtros="ocultarFiltros" model="model" filtro="PAIS_ORIGEN" filtro-orden="PAIS_ORIGENORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Procedencia" filtrar-orden="filtrarOrden('PAIS_PROCEDENCIA')" oculta-filtros="ocultarFiltros" model="model" filtro="PAIS_PROCEDENCIA" filtro-orden="PAIS_PROCEDENCIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Por" filtrar-orden="filtrarOrden('REGISTRADO_POR')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_POR" filtro-orden="REGISTRADO_PORORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="En" filtrar-orden="filtrarOrden('REGISTRADO_EN')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_EN" filtro-orden="REGISTRADO_ENORDEN"></encabezado-tabla-ordenado>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro" class="fila-animada" style="font-size: 8pt">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.DETALLADA }}</td>
						<td>{{ registro.DET_ANIO }}</td>
						<td>{{ registro.DET_ADUANA }}</td>
						<td>{{ registro.DET_TIPO }}</td>
						<td>{{ registro.DET_NRO }}</td>
						<td>{{ registro.DET_LETRA_CTRL }}</td>
						<td>{{ registro.NRO_ITEM }}</td>
						<td>{{ registro.POSICIONARANCELARIA }}</td>
						<td>{{ registro.ESTADO_MERCA }}</td>
						<td><text-pop text="{{ registro.PAIS_ORIGEN }}" max="7"></text-pop></td>
						<td><text-pop text="{{ registro.PAIS_PROCEDENCIA }}" max="7"></text-pop></td>
						<td>{{ registro.UNIDAD_DECLARADA }}</td>
						<td>{{ registro.CANTIDAD_UNIDAD_DECLARADA }}</td>
						<td>{{ registro.BASEIMPONIBLEDOLARES }}</td>
						<td>{{ registro.UNIDAD_ESTADISTICA }}</td>
						<td>{{ registro.CANTIDAD_UNIDADES_ESTAD }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy hh:mm':'UTC'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
	</div>
</div>