<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Detalle de Exportaciones</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Detallada</td>
						<td>Impo / Expo</td>
						<td>Divisa FOB</td>
						<td>Monto FOB</td>
						<td>Divisa Flete</td>
						<td>Monto Flete</td>
						<td>Divisa Seguro</td>
						<td>Monto Seguro</td>
						<td>Aduana Salida</td>
						<td>Pa&iacute;s Destino</td>
						<td>FECOFI</td>
						<td>Fecha Cumplido</td>
						<td>FECOFI Post Embarque</td>
						<td>C&oacute;digo Liquidado</td>
						<td>Total Derechos Exp</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ TIPOREGISTRO }}</td>
						<td>{{ DETALLADA }}</td>
						<td>{{ IMPO_EXPO }}</td>
						<td>{{ DIVISAFOB }}</td>
						<td>{{ MONTOFOB }}</td>
						<td>{{ DIVISAFLETE }}</td>
						<td>{{ MONTOFLETE }}</td>
						<td>{{ DIVISASEGURO }}</td>
						<td>{{ MONTOSEGURO }}</td>
						<td>{{ ADUANASALIDA }}</td>
						<td>{{ PAISDESTINO }}</td>
						<td>{{ FECOFI }}</td>
						<td>{{ FECHA_CUMPLIDO }}</td>
						<td>{{ FECOFIPOSTEMBARQUE }}</td>
						<td>{{ CODIGOLIQUIDADO }}</td>
						<td>{{ TOTALDEDERECHOSEXPO }}</td>
						<td>{{ REGISTRADO_POR }}</td>
						<td>{{ REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>