<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Solicitud</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Solicitud</td>
						<td>CUIT ATA</td>
						<td>Nombre ATA</td>
						<td>Estado</td>
						<td>Proceso</td>
						<td>Fecha Registro</td>
						<td>CUIT Importaci&oacute;n</td>
						<td>Lugar Operativo</td>
						<td>Dep&oacute;sito Origen</td>
						<td>Dep&oacute;sito Destino</td>
						<td>Medio Transporte Interno</td>
						<td>Nacimiento Medio Trans Int</td>
						<td>Matr&iacute;cula Medio Trans Int</td>
						<td>Comentario</td>
						<td>Sumaria</td>
						<td>A&ntilde;o</td>
						<td>Aduana</td>
						<td>Tipo Sumaria</td>
						<td>Nro Manifiesto</td>
						<td>Letra de Control</td>
						<td>Buque</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ TIPOREGISTRO }}</td>
						<td>{{ SOLICITUD }}</td>
						<td>{{ CUITATA }}</td>
						<td>{{ NOMBREATA }}</td>
						<td>{{ ESTADO }}</td>
						<td>{{ PROCESO }}</td>
						<td>{{ FECHA_REGISTRO }}</td>
						<td>{{ CUIT_IMPO }}</td>
						<td>{{ LUGAR_OPERATIVO }}</td>
						<td>{{ DEPOSITOORIGEN }}</td>
						<td>{{ DEPOSITODESTINO }}</td>
						<td>{{ MEDIOTRANSPORTEINTERNO }}</td>
						<td>{{ NACMEDIOTRANSPINTERNO }}</td>
						<td>{{ MATRICULAMEDIOTRANSPINTERNO }}</td>
						<td>{{ COMENTARIO }}</td>
						<td>{{ SUMARIA }}</td>
						<td>{{ ANIO }}</td>
						<td>{{ ADUANA }}</td>
						<td>{{ TIPO_SUMARIA }}</td>
						<td>{{ MANI_NRO }}</td>
						<td>{{ LETRA_CTRL }}</td>
						<td>{{ NOMBREBUQUE }}</td>
						<td>{{ REGISTRADO_POR }}</td>
						<td>{{ REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>