<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Detalle de Exportaciones</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Detallada</td>
						<td>Nro L&iacute;nea</td>
						<td>C&oacute;d Embalaje</td>
						<td>Cantidad</td>
						<td>Peso</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ TIPOREGISTRO }}</td>
						<td>{{ DETALLADA }}</td>
						<td>{{ NRO_LINEA }}</td>
						<td>{{ COD_EMBALAJE }}</td>
						<td>{{ CANTIDAD }}</td>
						<td>{{ PESO }}</td>
						<td>{{ REGISTRADO_POR }}</td>
						<td>{{ REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>