<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Solicitud</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Solicitud</td>
						<td>CUIT ATA</td>
						<td>Nombre ATA</td>
						<td>Estado</td>
						<td>Proceso</td>
						<td>Fecha Registro</td>
						<td>CUIT Importaci&oacute;n</td>
						<td>Lugar Operativo</td>
						<td>Dep&oacute;sito Origen</td>
						<td>Dep&oacute;sito Destino</td>
						<td>Medio Transporte Interno</td>
						<td>Nacimiento Medio Trans Int</td>
						<td>Matr&iacute;cula Medio Trans Int</td>
						<td>Comentario</td>
						<td>Sumaria</td>
						<td>A&ntilde;o</td>
						<td>Aduana</td>
						<td>Tipo Sumaria</td>
						<td>Nro Manifiesto</td>
						<td>Letra de Control</td>
						<td>Buque</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SOLICITUD }}</td>
						<td>{{ registro.CUITATA }}</td>
						<td>{{ registro.NOMBREATA }}</td>
						<td>{{ registro.ESTADO }}</td>
						<td>{{ registro.PROCESO }}</td>
						<td>{{ registro.FECHA_REGISTRO }}</td>
						<td>{{ registro.CUIT_IMPO }}</td>
						<td>{{ registro.LUGAR_OPERATIVO }}</td>
						<td>{{ registro.DEPOSITOORIGEN }}</td>
						<td>{{ registro.DEPOSITODESTINO }}</td>
						<td>{{ registro.MEDIOTRANSPORTEINTERNO }}</td>
						<td>{{ registro.NACMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.MATRICULAMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.COMENTARIO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.ANIO }}</td>
						<td>{{ registro.ADUANA }}</td>
						<td>{{ registro.TIPO_SUMARIA }}</td>
						<td>{{ registro.MANI_NRO }}</td>
						<td>{{ registro.LETRA_CTRL }}</td>
						<td>{{ registro.NOMBREBUQUE }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="currentPage" items-per-page="itemsPerPage" total-items="totalItems"></div-pagination>
	</div>
</div>