<div class="col-lg-12">
	<div class="row">
		<div class="col-md-2 hidden-print">
			<br>
			<ul class="nav nav-pills nav-stacked">
				<li><b>Removido</b></li>
				<li ng-class="{selectedOption: 'afip.removido.removido1' == actualRegistro}" ng-show="in_array('afip.removido.removido1', rutas)"><a ui-sref="afip.removido.removido1" ng-click="cargaDatos('afip.removido.removido1')">Módulo 1</a></li>
				<li ng-class="{selectedOption: 'afip.removido.removido2' == actualRegistro}" ng-show="in_array('afip.removido.removido2', rutas)"><a ui-sref="afip.removido.removido2" ng-click="cargaDatos('afip.removido.removido2')">Módulo 2</a></li>
				<li ng-class="{selectedOption: 'afip.removido.removido3' == actualRegistro}" ng-show="in_array('afip.removido.removido3', rutas)"><a ui-sref="afip.removido.removido3" ng-click="cargaDatos('afip.removido.removido3')">Módulo 3</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<br>
			<accordion-afip-search></accordion-afip-search>
			<div class="col-lg-12" ng-show="datosRegistro.length == 0 && !cargando">
				<br>
				<div-panel config-panel="panelMensaje">
					<span>{{ panelMensaje.mensaje }}</span>
				</div-panel>
			</div>
			<div-cargando mostrar="cargando">
				<div ng-hide="totalItems == 0">
					<div ui-view></div>
				</div>
			</div-cargando>
		</div>
	</div>
</div>