<div class="container col-lg-12">
	<div class="row">
		<div class="col-lg-12">
			<h1>Afectación - Módulo 1</h1>
		</div>
		<div class="col-lg-12">
			<div class="table-responsive" style="max-height: 650px; max-width: 100%; overflow: auto">
				<table class="table table-striped table-bordered">
					<thead>
					<tr>
						<th>Tipo Registro</th>
						<th>Afectaci&oacute;n</th>
						<th>CUIT ATA</th>
						<th>Nombre ATA</th>
						<th>Estado</th>
						<th>Proceso</th>
						<th>Fecha de registro</th>
						<th>CUIT Impo</th>
						<th>Aduana llegada/salida</th>
						<th>Pa&iacute;s de destino</th>
						<th>Plazo transporte</th>
						<th>Transportista</th>
						<th>País transportista</th>
						<th>Motivo de afectación</th>
						<th>Identificador motivo</th>
						<th>Sumaria</th>
						<th>A&ntilde;o</th>
						<th>Aduana</th>
						<th>Tipo Sumaria</th>
						<th>Nro Manifiesto</th>
						<th>Letra de Control</th>
						<th>Medio transporte interno</th>
						<th>Nacionalidad Medio Transp.</th>
						<th>Matr&iacute;cula Transp. interno</th>
						<th>Lugar Operativo</th>
						<th>Lugar de Giro</th>
						<th>Buque</th>
						<th>Comentario</th>
						<th>Registrado por</th>
						<th>Registrado en</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.AFECTACION }}</td>
						<td>{{ registro.CUITATA }}</td>
						<td>{{ registro.NOMBREATA }}</td>
						<td>{{ registro.ESTADO }}</td>
						<td>{{ registro.PROCESO }}</td>
						<td>{{ registro.FECHA_REGISTRO | date: 'dd/MM/yyyy' }}</td>
						<td>{{ registro.CUITIMPO }}</td>
						<td>{{ registro.ADUANA_LLEGADA_SALIDA }}</td>
						<td>{{ registro.PAISDESTINO }}</td>
						<td>{{ registro.DIASPLAZOTRANSPORTE }}</td>
						<td>{{ registro.TRANSPORTISTA }}</td>
						<td>{{ registro.PAISTRANSPORTISTA }}</td>
						<td>{{ registro.MOTIVOAFECTACION }}</td>
						<td>{{ registro.IDENTIFICADORMOTIVOMICDTA }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.ANIO }}</td>
						<td>{{ registro.ADUANA }}</td>
						<td>{{ registro.TIPO_SUMARIA }}</td>
						<td>{{ registro.MANI_NRO }}</td>
						<td>{{ registro.LETRA_CTRL }}</td>
						<td>{{ registro.MEDIOTRANSPORTEINTERNO }}</td>
						<td>{{ registro.NACMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.MATRICULAMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.LUGAROPERATIVO }}</td>
						<td>{{ registro.LUGARDEGIRO }}</td>
						<td>{{ registro.NOMBREBUQUE }}</td>
						<td>{{ registro.COMENTARIO }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy HH:mm' }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="currentPage" items-per-page="itemsPerPage" total-items="totalItems"></div-pagination>
	</div>
</div>