<div class="col-lg-12">
	<div>
		<div>
			<h3>Detalle de Exportaciones - Módulo 1</h3>
		</div>
		<div>
			<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
			<div class="table-responsive" style="max-height: 670px; max-width: 100%; overflow: auto">
				<table class="table table-striped table-bordered">
					<thead>
					<tr>
						<th rowspan="2" style="min-width: 90px">
							<encabezado-tabla-ordenado titulo="Tipo reg." filtrar-orden="filtrarOrden('TIPOREGISTRO')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPOREGISTRO" filtro-orden="TIPOREGISTRO"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Detallada" filtrar-orden="filtrarOrden('DETALLADA')" oculta-filtros="ocultarFiltros" model="model" filtro="DETALLADA" filtro-orden="DETALLADAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="5" class="columnaAnidada">Detalle</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Impo/Expo" filtrar-orden="filtrarOrden('IMPO_EXPO')" oculta-filtros="ocultarFiltros" model="model" filtro="IMPO_EXPO" filtro-orden="IMPO_EXPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">FOB</th>
						<th colspan="2" class="columnaAnidada">Flete</th>
						<th colspan="2" class="columnaAnidada">Seguro</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="Aduana salida" filtrar-orden="filtrarOrden('ADUANASALIDA')" oculta-filtros="ocultarFiltros" model="model" filtro="ADUANASALIDA" filtro-orden="ADUANASALIDAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="País destino" filtrar-orden="filtrarOrden('PAISDESTINO')" oculta-filtros="ocultarFiltros" model="model" filtro="PAISDESTINO" filtro-orden="PAISDESTINOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="FECOFI" filtrar-orden="filtrarOrden('FECOFI')" oculta-filtros="ocultarFiltros" model="model" filtro="FECOFI" filtro-orden="FECOFIORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 140px">
							<encabezado-tabla-ordenado titulo="Fecha cumplido" filtrar-orden="filtrarOrden('FECHA_CUMPLIDO')" oculta-filtros="ocultarFiltros" model="model" filtro="FECHA_CUMPLIDO" filtro-orden="FECHA_CUMPLIDOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 180px">
							<encabezado-tabla-ordenado titulo="FECOFI Post embarque" filtrar-orden="filtrarOrden('FECOFIPOSTEMBARQUE')" oculta-filtros="ocultarFiltros" model="model" filtro="FECOFIPOSTEMBARQUE" filtro-orden="FECOFIPOSTEMBARQUEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="Cod. liquidado" filtrar-orden="filtrarOrden('CODIGOLIQUIDADO')" oculta-filtros="ocultarFiltros" model="model" filtro="CODIGOLIQUIDADO" filtro-orden="CODIGOLIQUIDADOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 150px">
							<encabezado-tabla-ordenado titulo="Total derechos exp." filtrar-orden="filtrarOrden('TOTALDEDERECHOSEXPO')" oculta-filtros="ocultarFiltros" model="model" filtro="TOTALDEDERECHOSEXPO" filtro-orden="TOTALDEDERECHOSEXPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Registrado</th>
					</tr>
					<tr>
						<th>
							<encabezado-tabla-ordenado titulo="Año" filtrar-orden="filtrarOrden('DET_ANIO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_ANIO" filtro-orden="DET_ANIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Aduana" filtrar-orden="filtrarOrden('DET_ADUANA')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_ADUANA" filtro-orden="DET_ADUANAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden('DET_TIPO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_TIPO" filtro-orden="DET_TIPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Nro." filtrar-orden="filtrarOrden('DET_NRO')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_NRO" filtro-orden="DET_NROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Letra" filtrar-orden="filtrarOrden('DET_LETRA_CTRL')" oculta-filtros="ocultarFiltros" model="model" filtro="DET_LETRA_CTRL" filtro-orden="DET_LETRA_CTRLORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Divisa" filtrar-orden="filtrarOrden('DIVISAFOB')" oculta-filtros="ocultarFiltros" model="model" filtro="DIVISAFOB" filtro-orden="DIVISAFOBORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 140px; text-align: right">
							<encabezado-tabla-ordenado titulo="Monto" filtrar-orden="filtrarOrden('MONTOFOB')" oculta-filtros="ocultarFiltros" model="model" filtro="MONTOFOB" filtro-orden="MONTOFOBORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Divisa" filtrar-orden="filtrarOrden('DIVISAFLETE')" oculta-filtros="ocultarFiltros" model="model" filtro="DIVISAFLETE" filtro-orden="DIVISAFLETEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 140px; text-align: right">
							<encabezado-tabla-ordenado titulo="Monto" filtrar-orden="filtrarOrden('MONTOFLETE')" oculta-filtros="ocultarFiltros" model="model" filtro="MONTOFLETE" filtro-orden="MONTOFLETEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Divisa" filtrar-orden="filtrarOrden('DIVISASEGURO')" oculta-filtros="ocultarFiltros" model="model" filtro="DIVISASEGURO" filtro-orden="DIVISASEGURO"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 140px; text-align: right">
							<encabezado-tabla-ordenado titulo="Monto" filtrar-orden="filtrarOrden('MONTOSEGURO')" oculta-filtros="ocultarFiltros" model="model" filtro="MONTOSEGURO" filtro-orden="MONTOSEGUROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Por" filtrar-orden="filtrarOrden('REGISTRADO_POR')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_POR" filtro-orden="REGISTRADO_PORORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="En" filtrar-orden="filtrarOrden('REGISTRADO_EN')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_EN" filtro-orden="REGISTRADO_ENORDEN"></encabezado-tabla-ordenado>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.DETALLADA }}</td>
						<td>{{ registro.DET_ANIO }}</td>
						<td>{{ registro.DET_ADUANA }}</td>
						<td>{{ registro.DET_TIPO }}</td>
						<td>{{ registro.DET_NRO }}</td>
						<td>{{ registro.DET_LETRA_CTRL }}</td>
						<td>{{ registro.IMPO_EXPO }}</td>
						<td>{{ registro.DIVISAFOB }}</td>
						<td style="text-align: right">{{ registro.DIVISAFOB | formatCurrency }} {{ registro.MONTOFOB | currency}}</td>
						<td>{{ registro.DIVISAFLETE }}</td>
						<td style="text-align: right">{{ registro.DIVISAFLETE | formatCurrency }} {{ registro.MONTOFLETE | currency }}</td>
						<td>{{ registro.DIVISASEGURO }}</td>
						<td style="text-align: right">{{ registro.DIVISASEGURO | formatCurrency }} {{ registro.MONTOSEGURO | currency }}</td>
						<td>{{ registro.ADUANASALIDA }}</td>
						<td>{{ registro.PAISDESTINO }}</td>
						<td>{{ registro.FECOFI | date: 'dd/MM/yyyy':'UTC'}}</td>
						<td>{{ registro.FECHA_CUMPLIDO | date: 'dd/MM/yyyy':'UTC'}}</td>
						<td>{{ registro.FECOFIPOSTEMBARQUE | date: 'dd/MM/yyyy':'UTC'}}</td>
						<td>{{ registro.CODIGOLIQUIDADO }}</td>
						<td>{{ registro.TOTALDEDERECHOSEXPO }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy hh:mm':'UTC' }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
	</div>
</div>