<div class="container col-lg-12">
	<div class="row">
		<div class="col-lg-12">
			<h1>Solicitud - Módulo 1</h1>
		</div>
		<div class="col-lg-12">
			<div class="table-responsive" style="max-height: 650px; max-width: 100%; overflow: auto">
				<table class="table table-striped table-bordered">
					<thead>
					<tr>
						<th rowspan="2">Tipo Registro</th>
						<th rowspan="2">Solicitud</th>
						<th colspan="5">Solicitud</th>
						<th colspan="2">ATA</th>
						<th rowspan="2">Estado</th>
						<th rowspan="2">Proceso</th>
						<th rowspan="2">Fecha Registro</th>
						<th rowspan="2">CUIT Importaci&oacute;n</th>
						<th rowspan="2">Lugar Operativo</th>
						<th colspan="2">Dep&oacute;sito</th>
						<th colspan="3">Transporte interno</th>
						<th rowspan="2">Comentario</th>
						<th rowspan="2">Sumaria</th>
						<th colspan="5">Sumaria</th>
						<th rowspan="2">Buque</th>
						<th colspan="2">Registrado</th>
					</tr>
					<tr>
						<th>A&ntilde;o</th>
						<th>Aduana</th>
						<th>Tipo</th>
						<th>Nro</th>
						<th>Letra Control</th>
						<th>CUIT</th>
						<th>Nombre</th>
						<th>Origen</th>
						<th>Destino</th>
						<th>Medio</th>
						<th>Nacionalidad</th>
						<th>Matr&iacute;cula</th>
						<th>A&ntilde;o</th>
						<th>Aduana</th>
						<th>Tipo Sumaria</th>
						<th>Nro Manifiesto</th>
						<th>Letra Control</th>
						<th>Por</th>
						<th>En</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SOLICITUD }}</td>
						<td>{{ registro.SOL_ANIO }}</td>
						<td>{{ registro.SOL_ADUANA }}</td>
						<td>{{ registro.SOL_TIPO }}</td>
						<td>{{ registro.SOL_NRO }}</td>
						<td>{{ registro.SOL_LETRA_CTRL }}</td>
						<td>{{ registro.CUITATA }}</td>
						<td>{{ registro.NOMBREATA }}</td>
						<td>{{ registro.ESTADO }}</td>
						<td>{{ registro.PROCESO }}</td>
						<td>{{ registro.FECHA_REGISTRO | date: 'dd/MM/yyyy'}}</td>
						<td>{{ registro.CUIT_IMPO }}</td>
						<td>{{ registro.LUGAR_OPERATIVO }}</td>
						<td>{{ registro.DEPOSITOORIGEN }}</td>
						<td>{{ registro.DEPOSITODESTINO }}</td>
						<td>{{ registro.MEDIOTRANSPORTEINTERNO }}</td>
						<td>{{ registro.NACMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.MATRICULAMEDIOTRANSPINTERNO }}</td>
						<td>{{ registro.COMENTARIO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.SUM_ANIO }}</td>
						<td>{{ registro.SUM_ADUANA }}</td>
						<td>{{ registro.SUM_TIPO }}</td>
						<td>{{ registro.SUM_NRO }}</td>
						<td>{{ registro.SUM_LETRA_CTRL }}</td>
						<td>{{ registro.NOMBREBUQUE }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy hh:mm'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
	</div>
</div>