<div class="col-lg-12">
	<div>
		<h3>Afectación - Módulo 1</h3>
	</div>
	<div>
		<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
		<div class="invoice-shadow table-responsive" style="max-height: 670px; max-width: 100%; overflow: auto">
			<table class="table table-striped table-bordered">
				<thead>
				<tr>
					<th rowspan="2" style="min-width: 90px"><a href="" ng-click="filtrarOrden('TIPOREGISTRO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'TIPOREGISTRO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'TIPOREGISTRO' && model.filtroOrdenReverse"></span>
						Tipo Reg.
					</a></th>
					<th rowspan="2"><a href="" ng-click="filtrarOrden('AFECTACION')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFECTACION' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFECTACION' && model.filtroOrdenReverse"></span>
						Afectaci&oacute;n
					</a></th>
					<th colspan="5" class="columnaAnidada">Afectaci&oacute;n</th>
					<th colspan="2" class="columnaAnidada">ATA</th>
					<th rowspan="2"><a href="" ng-click="filtrarOrden('ESTADO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'ESTADO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'ESTADO' && model.filtroOrdenReverse"></span>
						Estado
					</a></th>
					<th rowspan="2"><a href="" ng-click="filtrarOrden('PROCESO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'PROCESO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'PROCESO' && model.filtroOrdenReverse"></span>
						Proceso
					</a></th>
					<th rowspan="2" style="min-width: 120px"><a href="" ng-click="filtrarOrden('FECHA_REGISTRO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'FECHA_REGISTRO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'FECHA_REGISTRO' && model.filtroOrdenReverse"></span>
						Fecha registro
					</a></th>
					<th rowspan="2" style="min-width: 200px"><a href="" ng-click="filtrarOrden('CUITIMPO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'CUITIMPO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'CUITIMPO' && model.filtroOrdenReverse"></span>
						CUIT Impo
					</a></th>
					<th rowspan="2" style="min-width: 150px"><a href="" ng-click="filtrarOrden('ADUANA_LLEGADA_SALIDA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'ADUANA_LLEGADA_SALIDA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'ADUANA_LLEGADA_SALIDA' && model.filtroOrdenReverse"></span>
						Adu. llegada/salida
					</a></th>
					<th rowspan="2" style="min-width: 100px"><a href="" ng-click="filtrarOrden('PAISDESTINO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'PAISDESTINO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'PAISDESTINO' && model.filtroOrdenReverse"></span>
						Pa&iacute;s destino
					</a></th>
					<th rowspan="2" style="min-width: 110px"><a href="" ng-click="filtrarOrden('DIASPLAZOTRANSPORTE')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'DIASPLAZOTRANSPORTE' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'DIASPLAZOTRANSPORTE' && model.filtroOrdenReverse"></span>
						Plazo transp.
					</a></th>
					<th rowspan="2" style="min-width: 200px"><a href="" ng-click="filtrarOrden('TRANSPORTISTA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'TRANSPORTISTA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'TRANSPORTISTA' && model.filtroOrdenReverse"></span>
						Transportista
					</a></th>
					<th rowspan="2" style="min-width: 150px"><a href="" ng-click="filtrarOrden('PAISTRANSPORTISTA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'PAISTRANSPORTISTA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'PAISTRANSPORTISTA' && model.filtroOrdenReverse"></span>
						Pa&iacute;s transportista
					</a></th>
					<th rowspan="2" style="min-width: 110px"><a href="" ng-click="filtrarOrden('MOTIVOAFECTACION')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'MOTIVOAFECTACION' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'MOTIVOAFECTACION' && model.filtroOrdenReverse"></span>
						Motivo afect.
					</a></th>
					<th rowspan="2" style="min-width: 120px"><a href="" ng-click="filtrarOrden('IDENTIFICADORMOTIVOMICDTA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'IDENTIFICADORMOTIVOMICDTA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'IDENTIFICADORMOTIVOMICDTA' && model.filtroOrdenReverse"></span>
						Identif. motivo
					</a></th>
					<th rowspan="2"><a href="" ng-click="filtrarOrden('SUMARIA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUMARIA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUMARIA' && model.filtroOrdenReverse"></span>
						Sumaria
					</a></th>
					<th colspan="5" class="columnaAnidada">Sumaria</th>
					<th colspan="3" class="columnaAnidada">Transporte interno</th>
					<th rowspan="2" style="min-width: 130px"><a href="" ng-click="filtrarOrden('LUGAROPERATIVO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'LUGAROPERATIVO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'LUGAROPERATIVO' && model.filtroOrdenReverse"></span>
						Lugar Operativo
					</a></th>
					<th rowspan="2" style="min-width: 110px"><a href="" ng-click="filtrarOrden('LUGARDEGIRO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'LUGARDEGIRO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'LUGARDEGIRO' && model.filtroOrdenReverse"></span>
						Lugar de Giro
					</a></th>
					<th rowspan="2" style="min-width: 200px"><a href="" ng-click="filtrarOrden('NOMBREBUQUE')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NOMBREBUQUE' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NOMBREBUQUE' && model.filtroOrdenReverse"></span>
						Buque
					</a></th>
					<th rowspan="2" style="min-width: 200px"><a href="" ng-click="filtrarOrden('COMENTARIO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'COMENTARIO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'COMENTARIO' && model.filtroOrdenReverse"></span>
						Comentario
					</a></th>
					<th colspan="2" class="columnaAnidada">Registrado</th>
				</tr>
				<tr>
					<th><a href="" ng-click="filtrarOrden('AFE_ANIO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFE_ANIO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFE_ANIO' && model.filtroOrdenReverse"></span>
						A&ntilde;o
					</a></th>
					<th><a href="" ng-click="filtrarOrden('AFE_ADUANA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFE_ADUANA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFE_ADUANA' && model.filtroOrdenReverse"></span>
						Aduana
					</a></th>
					<th><a href="" ng-click="filtrarOrden('AFE_TIPO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFE_TIPO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFE_TIPO' && model.filtroOrdenReverse"></span>
						Tipo
					</a></th>
					<th><a href="" ng-click="filtrarOrden('AFE_NRO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFE_NRO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFE_NRO' && model.filtroOrdenReverse"></span>
						Nro
					</a></th>
					<th><a href="" ng-click="filtrarOrden('AFE_LETRA_CTRL')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'AFE_LETRA_CTRL' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'AFE_LETRA_CTRL' && model.filtroOrdenReverse"></span>
						Letra
					</a></th>
					<th><a href="" ng-click="filtrarOrden('CUITATA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'CUITATA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'CUITATA' && model.filtroOrdenReverse"></span>
						CUIT
					</a></th>
					<th style="min-width: 200px"><a href="" ng-click="filtrarOrden('NOMBREATA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NOMBREATA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NOMBREATA' && model.filtroOrdenReverse"></span>
						Nombre
					</a></th>
					<th><a href="" ng-click="filtrarOrden('SUM_ANIO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUM_ANIO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUM_ANIO' && model.filtroOrdenReverse"></span>
						A&ntilde;o
					</a></th>
					<th><a href="" ng-click="filtrarOrden('SUM_ADUANA')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUM_ADUANA' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUM_ADUANA' && model.filtroOrdenReverse"></span>
						Aduana
					</a></th>
					<th><a href="" ng-click="filtrarOrden('SUM_TIPO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUM_TIPO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUM_TIPO' && model.filtroOrdenReverse"></span>
						Tipo
					</a></th>
					<th><a href="" ng-click="filtrarOrden('SUM_NRO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUM_NRO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUM_NRO' && model.filtroOrdenReverse"></span>
						Nro
					</a></th>
					<th><a href="" ng-click="filtrarOrden('SUM_LETRA_CTRL')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUM_LETRA_CTRL' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUM_LETRA_CTRL' && model.filtroOrdenReverse"></span>
						Letra
					</a></th>
					<th><a href="" ng-click="filtrarOrden('MEDIOTRANSPORTEINTERNO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'MEDIOTRANSPORTEINTERNO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'MEDIOTRANSPORTEINTERNO' && model.filtroOrdenReverse"></span>
						Medio
					</a></th>
					<th><a href="" ng-click="filtrarOrden('NACMEDIOTRANSPINTERNO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NACMEDIOTRANSPINTERNO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NACMEDIOTRANSPINTERNO' && model.filtroOrdenReverse"></span>
						Nacionalidad
					</a></th>
					<th><a href="" ng-click="filtrarOrden('MATRICULAMEDIOTRANSPINTERNO')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'MATRICULAMEDIOTRANSPINTERNO' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'MATRICULAMEDIOTRANSPINTERNO' && model.filtroOrdenReverse"></span>
						Matr&iacute;cula
					</a></th>
					<th><a href="" ng-click="filtrarOrden('REGISTRADO_POR')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'REGISTRADO_POR' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'REGISTRADO_POR' && model.filtroOrdenReverse"></span>
						Por
					</a></th>
					<th style="min-width: 130px"><a href="" ng-click="filtrarOrden('REGISTRADO_EN')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'REGISTRADO_EN' && !model.filtroOrdenReverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'REGISTRADO_EN' && model.filtroOrdenReverse"></span>
						En
					</a></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="registro in datosRegistro" class="fila-animada">
					<td>{{ registro.TIPOREGISTRO }}</td>
					<td>{{ registro.AFECTACION }}</td>
					<td>{{ registro.AFE_ANIO }}</td>
					<td>{{ registro.AFE_ADUANA }}</td>
					<td>{{ registro.AFE_TIPO }}</td>
					<td>{{ registro.AFE_NRO }}</td>
					<td>{{ registro.AFE_LETRA_CTRL }}</td>
					<td>{{ registro.CUITATA }}</td>
					<td><text-pop text="{{ registro.NOMBREATA }}" max="17"></text-pop></td>
					<td>{{ registro.ESTADO }}</td>
					<td>{{ registro.PROCESO }}</td>
					<td>{{ registro.FECHA_REGISTRO | date: 'dd/MM/yyyy' }}</td>
					<td><text-pop text="{{ registro.CUITIMPO }}" max="16"></text-pop></td>
					<td>{{ registro.ADUANA_LLEGADA_SALIDA }}</td>
					<td>{{ registro.PAISDESTINO }}</td>
					<td>{{ registro.DIASPLAZOTRANSPORTE }}</td>
					<td><text-pop text="{{ registro.TRANSPORTISTA }}" max="17"></text-pop></td>
					<td>{{ registro.PAISTRANSPORTISTA }}</td>
					<td>{{ registro.MOTIVOAFECTACION }}</td>
					<td>{{ registro.IDENTIFICADORMOTIVOMICDTA }}</td>
					<td>{{ registro.SUMARIA }}</td>
					<td>{{ registro.SUM_ANIO }}</td>
					<td>{{ registro.SUM_ADUANA }}</td>
					<td>{{ registro.SUM_TIPO }}</td>
					<td>{{ registro.SUM_NRO }}</td>
					<td>{{ registro.SUM_LETRA_CTRL }}</td>
					<td>{{ registro.MEDIOTRANSPORTEINTERNO }}</td>
					<td>{{ registro.NACMEDIOTRANSPINTERNO }}</td>
					<td>{{ registro.MATRICULAMEDIOTRANSPINTERNO }}</td>
					<td>{{ registro.LUGAROPERATIVO }}</td>
					<td>{{ registro.LUGARDEGIRO }}</td>
					<td>{{ registro.NOMBREBUQUE }}</td>
					<td><text-pop text="{{ registro.COMENTARIO }}" max="16"></text-pop></td>
					<td>{{ registro.REGISTRADO_POR }}</td>
					<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy HH:mm':'UTC' }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
</div>
<button class="btn btn-success" ng-show="!cargando && datosRegistro.length > 0" ng-click="descargarCSV()" ng-disabled="disableDown">
	<span ng-show="!disableDown"><span class="glyphicon glyphicon-download"></span> Descargar CSV</span>
	<span ng-show="disableDown"><img src="images/loadingChico.gif" height="20" width="20"> Procesando</span>
</button>