<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Sumaria Manifiesto de Importaciones</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Sumaria</td>
						<td>A&ntilde;o</td>
						<td>Aduana</td>
						<td>Tipo Sumaria</td>
						<td>Nro Manifiesto</td>
						<td>Letra de Control</td>
						<td>Conocimiento</td>
						<td>Titulo Completo</td>
						<td>Marca</td>
						<td>Consignatario</td>
						<td>Notificar a</td>
						<td>Comentario</td>
						<td>Consolidado</td>
						<td>Transito / Transbordo</td>
						<td>Fraccionado</td>
						<td>Bloqueo</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.ANIO }}</td>
						<td>{{ registro.ADUANA }}</td>
						<td>{{ registro.TIPO_SUMARIA }}</td>
						<td>{{ registro.MANI_NRO }}</td>
						<td>{{ registro.LETRA_CTRL }}</td>
						<td>{{ registro.CONOCIMIENTO }}</td>
						<td>{{ registro.TITULOCOMPLETO }}</td>
						<td>{{ registro.MARCA }}</td>
						<td>{{ registro.CONSIGNATARIO }}</td>
						<td>{{ registro.NOTIFICARA }}</td>
						<td>{{ registro.COMENTARIO }}</td>
						<td>{{ registro.CONSOLIDADO }}</td>
						<td>{{ registro.TRANSITO_TRANSBORDO }}</td>
						<td>{{ registro.FRACCIONADO }}</td>
						<td>{{ registro.BLOQUEO }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="currentPage" items-per-page="itemsPerPage" total-items="totalItems"></div-pagination>
	</div>
</div>