<div class="col-lg-12">
	<div>
		<div>
			<h3>Sumaria Manifiesto de Importaciones - Módulo 1</h3>
		</div>
		<div>
			<accordion-afip-search></accordion-afip-search>
			<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
			<div class="table-responsive" style="max-height: 670px; max-width: 100%; overflow: auto">
				<table class="table table-striped table-bordered">
					<thead>
					<tr>
						<th rowspan="2" style="min-width: 90px">
							<encabezado-tabla-ordenado titulo="Tipo reg." filtrar-orden="filtrarOrden('TIPOREGISTRO')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPOREGISTRO" filtro-orden="TIPOREGISTRO"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Sumaria" filtrar-orden="filtrarOrden('SUMARIA')" oculta-filtros="ocultarFiltros" model="model" filtro="SUMARIA" filtro-orden="SUMARIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="5" class="columnaAnidada">Sumaria</th>
						<th colspan="2" class="columnaAnidada">ATA</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Estado" filtrar-orden="filtrarOrden('ESTADO')" oculta-filtros="ocultarFiltros" model="model" filtro="ESTADO" filtro-orden="ESTADOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Fecha</th>
						<th rowspan="2" style="min-width: 110px">
							<encabezado-tabla-ordenado titulo="Tranp. vacío" filtrar-orden="filtrarOrden('TRANSPORTEVACIO')" oculta-filtros="ocultarFiltros" model="model" filtro="TRANSPORTEVACIO" filtro-orden="TRANSPORTEVACIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 140px">
							<encabezado-tabla-ordenado titulo="País procedencia" filtrar-orden="filtrarOrden('PAISPROCEDENCIA')" oculta-filtros="ocultarFiltros" model="model" filtro="PAISPROCEDENCIA" filtro-orden="PAISPROCEDENCIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Transportista" filtrar-orden="filtrarOrden('TRANSPORTISTA')" oculta-filtros="ocultarFiltros" model="model" filtro="TRANSPORTISTA" filtro-orden="TRANSPORTISTAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 150px">
							<encabezado-tabla-ordenado titulo="País transportista" filtrar-orden="filtrarOrden('PAISTRANSPORTISTA')" oculta-filtros="ocultarFiltros" model="model" filtro="PAISTRANSPORTISTA" filtro-orden="PAISTRANSPORTISTAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Comentario" filtrar-orden="filtrarOrden('COMENTARIO')" oculta-filtros="ocultarFiltros" model="model" filtro="COMENTARIO" filtro-orden="COMENTARIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Impo/Expo" filtrar-orden="filtrarOrden('IMPO_EXPO')" oculta-filtros="ocultarFiltros" model="model" filtro="IMPO_EXPO" filtro-orden="IMPO_EXPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Desconsolidado" filtrar-orden="filtrarOrden('DESCONSOLIDADO')" oculta-filtros="ocultarFiltros" model="model" filtro="DESCONSOLIDADO" filtro-orden="DESCONSOLIDADOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Título" filtrar-orden="filtrarOrden('TITULO')" oculta-filtros="ocultarFiltros" model="model" filtro="TITULO" filtro-orden="TITULOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 150px">
							<encabezado-tabla-ordenado titulo="Mercadería a bordo" filtrar-orden="filtrarOrden('MERCADERIAABORDO')" oculta-filtros="ocultarFiltros" model="model" filtro="MERCADERIAABORDO" filtro-orden="MERCADERIAABORDOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Vía" filtrar-orden="filtrarOrden('VIA')" oculta-filtros="ocultarFiltros" model="model" filtro="VIA" filtro-orden="VIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 210px">
							<encabezado-tabla-ordenado titulo="Nacionalidad medio transp." filtrar-orden="filtrarOrden('NACIONALIDADMEDIOTRANSPORTE')" oculta-filtros="ocultarFiltros" model="model" filtro="NACIONALIDADMEDIOTRANSPORTE" filtro-orden="NACIONALIDADMEDIOTRANSPORTEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="Lugar operativo" filtrar-orden="filtrarOrden('LUGAROPERATIVO')" oculta-filtros="ocultarFiltros" model="model" filtro="LUGAROPERATIVO" filtro-orden="LUGAROPERATIVOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 120px">
							<encabezado-tabla-ordenado titulo="Lugar de giro" filtrar-orden="filtrarOrden('LUGARDEGIRO')" oculta-filtros="ocultarFiltros" model="model" filtro="LUGARDEGIRO" filtro-orden="LUGARDEGIROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Buque" filtrar-orden="filtrarOrden('NOMBREBUQUE')" oculta-filtros="ocultarFiltros" model="model" filtro="NOMBREBUQUE" filtro-orden="NOMBREBUQUEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Registrado</th>
					</tr>
					<tr>
						<th>
							<encabezado-tabla-ordenado titulo="Año" filtrar-orden="filtrarOrden('SUM_ANIO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_ANIO" filtro-orden="SUM_ANIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Aduana" filtrar-orden="filtrarOrden('SUM_ADUANA')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_ADUANA" filtro-orden="SUM_ADUANAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden('SUM_TIPO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_TIPO" filtro-orden="SUM_TIPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Nro." filtrar-orden="filtrarOrden('SUM_NRO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_NRO" filtro-orden="SUM_NROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Letra" filtrar-orden="filtrarOrden('SUM_LETRA_CTRL')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_LETRA_CTRL" filtro-orden="SUM_LETRA_CTRLORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="CUIT" filtrar-orden="filtrarOrden('CUITATA')" oculta-filtros="ocultarFiltros" model="model" filtro="CUITATA" filtro-orden="CUITATAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Nombre" filtrar-orden="filtrarOrden('NOMBREATA')" oculta-filtros="ocultarFiltros" model="model" filtro="NOMBREATA" filtro-orden="NOMBREATAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Registro" filtrar-orden="filtrarOrden('FECHAREGISTRO')" oculta-filtros="ocultarFiltros" model="model" filtro="FECHAREGISTRO" filtro-orden="FECHAREGISTROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Arribo" filtrar-orden="filtrarOrden('FECHAARRIBO')" oculta-filtros="ocultarFiltros" model="model" filtro="FECHAARRIBO" filtro-orden="FECHAARRIBOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Por" filtrar-orden="filtrarOrden('REGISTRADO_POR')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_POR" filtro-orden="REGISTRADO_POR"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="En" filtrar-orden="filtrarOrden('REGISTRADO_EN')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_EN" filtro-orden="REGISTRADO_EN"></encabezado-tabla-ordenado>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.SUM_ANIO }}</td>
						<td>{{ registro.SUM_ADUANA }}</td>
						<td>{{ registro.SUM_TIPO }}</td>
						<td>{{ registro.SUM_NRO }}</td>
						<td>{{ registro.SUM_LETRA_CTRL }}</td>
						<td>{{ registro.CUITATA }}</td>
						<td><text-pop text="{{ registro.NOMBREATA }}" max="16"></text-pop></td>
						<td>{{ registro.ESTADO }}</td>
						<td>{{ registro.FECHAREGISTRO | date: 'dd/MM/yyyy'}}</td>
						<td>{{ registro.FECHAARRIBO | date: 'dd/MM/yyyy'}}</td>
						<td>{{ registro.TRANSPORTEVACIO }}</td>
						<td>{{ registro.PAISPROCEDENCIA }}</td>
						<td><text-pop text="{{ registro.TRANSPORTISTA }}" max="16"></text-pop></td>
						<td>{{ registro.PAISTRANSPORTISTA }}</td>
						<td><text-pop text="{{ registro.COMENTARIO }}" max="16"></text-pop></td>
						<td>{{ registro.IMPO_EXPO }}</td>
						<td>{{ registro.DESCONSOLIDADO }}</td>
						<td><text-pop text="{{ registro.TITULO }}" max="16"></text-pop></td>
						<td>{{ registro.MERCADERIAABORDO }}</td>
						<td>{{ registro.VIA }}</td>
						<td>{{ registro.NACIONALIDADMEDIOTRANSPORTE }}</td>
						<td>{{ registro.LUGAROPERATIVO }}</td>
						<td>{{ registro.LUGARDEGIRO }}</td>
						<td><text-pop text="{{ registro.NOMBREBUQUE }}" max="16"></text-pop></td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy hh:mm'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
	</div>
</div>