<div class="container"><br>
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><b>Sumaria Impo</b></li>
				<li><a ui-sref="afip.impo1">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.impo2">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.impo3">M&oacute;dulo 3</a></li>
				<li><a ui-sref="afip.impo4">M&oacute;dulo 4</a></li>
				<li><a ui-sref="afip.impo5">M&oacute;dulo 5</a></li>
				<li><b>Sumaria Expo</b></li>
				<li><a ui-sref="afip.expo1">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.expo2">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.expo3">M&oacute;dulo 3</a></li>
				<li><a ui-sref="afip.expo4">M&oacute;dulo 4</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<div ui-view></div>
		</div>
	</div>
</div>