<div class="container">
	<div class="row">
		<div class="col-md-2">
			<br>
			<ul class="nav nav-pills nav-stacked">
				<li><b>Solicitud</b></li>
				<li ng-class="{selectedOption: 'solicitud1' == actualRegistro}"><a ui-sref="afip.solicitud.solicitud1" ng-click="cargaDatos('solicitud1')">M&oacute;dulo 1</a></li>
				<li ng-class="{selectedOption: 'solicitud2' == actualRegistro}"><a ui-sref="afip.solicitud.solicitud2" ng-click="cargaDatos('solicitud2')">M&oacute;dulo 2</a></li>
				<li ng-class="{selectedOption: 'solicitud3' == actualRegistro}"><a ui-sref="afip.solicitud.solicitud3" ng-click="cargaDatos('solicitud3')">M&oacute;dulo 3</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="col-lg-12" ng-show="datosRegistro.length == 0 && !cargando">
				<br>
				<div-panel config-panel="panelMensaje">
					<span>{{ panelMensaje.mensaje }}</span>
				</div-panel>
			</div>
			<div class="col-lg-12 text-center" ng-show="cargando">
				<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
			</div>
			<div ui-view ng-hide="cargando || totalItems == 0"></div>
		</div>
	</div>
</div>