<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Sumaria Manifiesto de Exportaciones</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Sumaria</td>
						<td>CUIT ATA</td>
						<td>Nombre ATA</td>
						<td>Codigo de Proceso</td>
						<td>Manifiesto Consolidado</td>
						<td>Estado</td>
						<td>Fecha Registro</td>
						<td>Fecha Arribo</td>
						<td>Transp Vac&iacute;o</td>
						<td>Pa&iacute;s Procedencia</td>
						<td>Transportista</td>
						<td>Pa&iacute;s del Transportista</td>
						<td>Comentario</td>
						<td>Impo / Expo</td>
						<td>Desconsolidado</td>
						<td>T&iacute;tulo</td>
						<td>Mercader&iacute;a Abordo</td>
						<td>V&iacute;a</td>
						<td>Nacionalidad Medio Transp.</td>
						<td>Lugar Operativo</td>
						<td>Lugar de Giro</td>
						<td>Buque</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.CUITATA }}</td>
						<td>{{ registro.NOMBREATA }}</td>
						<td>{{ registro.CODIGOPROCESO }}</td>
						<td>{{ registro.MANICONSOLIDADO }}</td>
						<td>{{ registro.ESTADO }}</td>
						<td>{{ registro.FECHAREGISTRO }}</td>
						<td>{{ registro.FECHAARRIBO }}</td>
						<td>{{ registro.TRANSPORTEVACIO }}</td>
						<td>{{ registro.PAISPROCEDENCIA }}</td>
						<td>{{ registro.TRANSPORTISTA }}</td>
						<td>{{ registro.PAISTRANSPORTISTA }}</td>
						<td>{{ registro.COMENTARIO }}</td>
						<td>{{ registro.IMPO_EXPO }}</td>
						<td>{{ registro.DESCONSOLIDADO }}</td>
						<td>{{ registro.TITULO }}</td>
						<td>{{ registro.MERCADERIAABORDO }}</td>
						<td>{{ registro.VIA }}</td>
						<td>{{ registro.NACIONALIDADMEDIOTRANSPORTE }}</td>
						<td>{{ registro.LUGAROPERATIVO }}</td>
						<td>{{ registro.LUGARDEGIRO }}</td>
						<td>{{ registro.BUQUE }}</td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="currentPage" items-per-page="itemsPerPage" total-items="totalItems"></div-pagination>
	</div>
</div>