<div class="container">
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<h1>Informaci&oacute;n Detalle de Importaciones</h1>
		</div>
		<div class="col-lg-10">
			<div class="table-responsive" style="max-height: 800px; max-width: 100%; overflow: auto">
				<table>
					<thead>
					<tr>
						<td>Tipo Registro</td>
						<td>Detallada</td>
						<td>Nro &Iacute;tem</td>
						<td>Posici&oacute;n Arancelaria</td>
						<td>Estado Mercanc&iacute;a</td>
						<td>Pa&iacute;s Origen</td>
						<td>Pa&iacute;s Procedencia</td>
						<td>Unidad Declarada</td>
						<td>Cant Unidad Declarada</td>
						<td>Base Imponible D&oacute;lares</td>
						<td>Unidad Estad&iacute;stica</td>
						<td>Estado Cant Unidades</td>
						<td>Registrado por</td>
						<td>Registrado en</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ TIPOREGISTRO }}</td>
						<td>{{ DETALLADA }}</td>
						<td>{{ NRO_ITEM }}</td>
						<td>{{ POSICIONARANCELARIA }}</td>
						<td>{{ ESTADO_MERCA }}</td>
						<td>{{ PAIS_ORIGEN }}</td>
						<td>{{ PAIS_PROCEDENCIA }}</td>
						<td>{{ UNIDAD_DECLARADA }}</td>
						<td>{{ CANTIDAD_UNIDAD_DECLARADA }}</td>
						<td>{{ BASEIMPONIBLEDOLARES }}</td>
						<td>{{ UNIDAD_ESTADISTICA }}</td>
						<td>{{ CANTIDAD_UNIDADES_ESTAD }}</td>
						<td>{{ REGISTRADO_POR }}</td>
						<td>{{ REGISTRADO_EN }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>