<div class="container"><br>
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><b>Detalle Impo</b></li>
				<li><a ui-sref="afip.detalle.detimpo1" ng-click="cargaDatos('detimpo1')">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.detalle.detimpo2" ng-click="cargaDatos('detimpo2')">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.detalle.detimpo3" ng-click="cargaDatos('detimpo3')">M&oacute;dulo 3</a></li>
				<li><b>Detalle Expo</b></li>
				<li><a ui-sref="afip.detalle.detexpo1" ng-click="cargaDatos('detexpo1')">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.detalle.detexpo2" ng-click="cargaDatos('detexpo2')">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.detalle.detexpo3" ng-click="cargaDatos('detexpo3')">M&oacute;dulo 3</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="col-lg-12 text-center" ng-show="cargando">
				<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
			</div>
			<div ui-view ng-hide="cargando"></div>
		</div>
	</div>
</div>