<div class="container"><br>
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><b>Sumaria Impo</b></li>
				<li><a ui-sref="afip.sumatorias.impo1" ng-click="cargaDatos('impo1')">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.sumatorias.impo2" ng-click="cargaDatos('impo2')">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.sumatorias.impo3" ng-click="cargaDatos('impo3')">M&oacute;dulo 3</a></li>
				<li><a ui-sref="afip.sumatorias.impo4" ng-click="cargaDatos('impo4')">M&oacute;dulo 4</a></li>
				<li><b>Sumaria Expo</b></li>
				<li><a ui-sref="afip.sumatorias.expo1" ng-click="cargaDatos('expo1')">M&oacute;dulo 1</a></li>
				<li><a ui-sref="afip.sumatorias.expo2" ng-click="cargaDatos('expo2')">M&oacute;dulo 2</a></li>
				<li><a ui-sref="afip.sumatorias.expo3" ng-click="cargaDatos('expo3')">M&oacute;dulo 3</a></li>
				<li><a ui-sref="afip.sumatorias.expo4" ng-click="cargaDatos('expo4')">M&oacute;dulo 4</a></li>
				<li><a ui-sref="afip.sumatorias.expo5" ng-click="cargaDatos('expo5')">M&oacute;dulo 5</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="col-lg-12 text-center" ng-show="cargando">
				<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
			</div>
			<div ui-view ng-hide="cargando"></div>
		</div>
	</div>
</div>