<div class="col-lg-12">
	<div>
		<div>
			<h3>Sumaria Manifiesto de Exportaciones - Módulo 3</h3>
		</div>
		<div>
			<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
			<div class="table-responsive" style="max-height: 670px; max-width: 100%; overflow: auto">
				<table class="table table-striped table-bordered">
					<thead>
					<tr>
						<th rowspan="2" style="min-width: 90px">
							<encabezado-tabla-ordenado titulo="Tipo reg." filtrar-orden="filtrarOrden('TIPOREGISTRO')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPOREGISTRO" filtro-orden="TIPOREGISTRO"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Sumaria" filtrar-orden="filtrarOrden('SUMARIA')" oculta-filtros="ocultarFiltros" model="model" filtro="SUMARIA" filtro-orden="SUMARIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="5" class="columnaAnidada">Sumaria</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Conocimiento" filtrar-orden="filtrarOrden('CONOCIMIENTO')" oculta-filtros="ocultarFiltros" model="model" filtro="CONOCIMIENTO" filtro-orden="CONOCIMIENTOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 110px">
							<encabezado-tabla-ordenado titulo="Nro. línea" filtrar-orden="filtrarOrden('NRO_LINEA')" oculta-filtros="ocultarFiltros" model="model" filtro="NRO_LINEA" filtro-orden="NRO_LINEAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Embalaje</th>
						<th rowspan="2">
							<encabezado-tabla-ordenado titulo="Peso" filtrar-orden="filtrarOrden('PESO')" oculta-filtros="ocultarFiltros" model="model" filtro="PESO" filtro-orden="PESO"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Tipo mercadería" filtrar-orden="filtrarOrden('TIPO_MERCADERIA')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPO_MERCADERIA" filtro-orden="TIPO_MERCADERIAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th rowspan="2" style="min-width: 150px">
							<encabezado-tabla-ordenado titulo="Numeración bultos" filtrar-orden="filtrarOrden('NUMERACION_BULTOS')" oculta-filtros="ocultarFiltros" model="model" filtro="NUMERACION_BULTOS" filtro-orden="NUMERACION_BULTOSORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="4" class="columnaAnidada">Cantidad</th>
						<th rowspan="2" style="min-width: 200px">
							<encabezado-tabla-ordenado titulo="Comentarios" filtrar-orden="filtrarOrden('COMENTARIOS')" oculta-filtros="ocultarFiltros" model="model" filtro="COMENTARIOS" filtro-orden="COMENTARIOSORDEN"></encabezado-tabla-ordenado>
						</th>
						<th colspan="2" class="columnaAnidada">Registrado</th>
					</tr>
					<tr>
						<th>
							<encabezado-tabla-ordenado titulo="Año" filtrar-orden="filtrarOrden('SUM_ANIO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_ANIO" filtro-orden="SUM_ANIOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Aduana" filtrar-orden="filtrarOrden('SUM_ADUANA')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_ADUANA" filtro-orden="SUM_ADUANAORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden('SUM_TIPO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_TIPO" filtro-orden="SUM_TIPOORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Nro." filtrar-orden="filtrarOrden('SUM_NRO')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_NRO" filtro-orden="SUM_NROORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Letra" filtrar-orden="filtrarOrden('SUM_LETRA_CTRL')" oculta-filtros="ocultarFiltros" model="model" filtro="SUM_LETRA_CTRL" filtro-orden="SUM_LETRA_CTRLORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Código" filtrar-orden="filtrarOrden('COD_EMBALAJE')" oculta-filtros="ocultarFiltros" model="model" filtro="COD_EMBALAJE" filtro-orden="COD_EMBALAJEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="filtrarOrden('TIPO_EMBALAJE')" oculta-filtros="ocultarFiltros" model="model" filtro="TIPO_EMBALAJE" filtro-orden="TIPO_EMBALAJEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Parcial" filtrar-orden="filtrarOrden('CANTIDAD_PARCIAL')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDAD_PARCIAL" filtro-orden="CANTIDAD_PARCIALORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Total" filtrar-orden="filtrarOrden('CANTIDAD_TOTAL')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDAD_TOTAL" filtro-orden="CANTIDAD_TOTALORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Sobrante/Faltante" filtrar-orden="filtrarOrden('CANTIDAD_SOBRANTE_FALTANTE')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDAD_SOBRANTE_FALTANTE" filtro-orden="CANTIDAD_SOBRANTE_FALTANTEORDEN"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 90px">
							<encabezado-tabla-ordenado titulo="A afectar" filtrar-orden="filtrarOrden('CANTIDADAFECTAR')" oculta-filtros="ocultarFiltros" model="model" filtro="CANTIDADAFECTAR" filtro-orden="CANTIDADAFECTARORDEN"></encabezado-tabla-ordenado>
						</th>
						<th>
							<encabezado-tabla-ordenado titulo="Por" filtrar-orden="filtrarOrden('REGISTRADO_POR')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_POR" filtro-orden="REGISTRADO_POR"></encabezado-tabla-ordenado>
						</th>
						<th style="min-width: 130px">
							<encabezado-tabla-ordenado titulo="En" filtrar-orden="filtrarOrden('REGISTRADO_EN')" oculta-filtros="ocultarFiltros" model="model" filtro="REGISTRADO_EN" filtro-orden="REGISTRADO_EN"></encabezado-tabla-ordenado>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="registro in datosRegistro">
						<td>{{ registro.TIPOREGISTRO }}</td>
						<td>{{ registro.SUMARIA }}</td>
						<td>{{ registro.SUM_ANIO }}</td>
						<td>{{ registro.SUM_ADUANA }}</td>
						<td>{{ registro.SUM_TIPO }}</td>
						<td>{{ registro.SUM_NRO }}</td>
						<td>{{ registro.SUM_LETRA_CTRL }}</td>
						<td><text-pop text="{{ registro.CONOCIMIENTO }}" max="16"></text-pop></td>
						<td>{{ registro.NRO_LINEA }}</td>
						<td>{{ registro.COD_EMBALAJE }}</td>
						<td>{{ registro.TIPO_EMBALAJE }}</td>
						<td>{{ registro.PESO }}</td>
						<td><text-pop text="{{ registro.TIPO_MERCADERIA }}" max="16"></text-pop></td>
						<td>{{ registro.NUMERACIONBULTOS }}</td>
						<td>{{ registro.CANTIDAD_PARCIAL }}</td>
						<td>{{ registro.CANTIDAD_TOTAL }}</td>
						<td>{{ registro.CANTIDAD_SOBRANTE_FALTANTE }}</td>
						<td>{{ registro.CANTIDADAFECTAR }}</td>
						<td><text-pop text="{{ registro.COMENTARIOS }}" max="16"></text-pop></td>
						<td>{{ registro.REGISTRADO_POR }}</td>
						<td>{{ registro.REGISTRADO_EN | date: 'dd/MM/yyyy hh:mm':'UTC'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>
	</div>
</div>