<div class="col-lg-12" ng-show="detalle">
	<div class="row">
		<div class="col-lg-12">
			<h1>Detalles del contenedor {{ contenedorElegido.contenedor }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Comprobantes</h3>
			<vista-comprobantes model="model" datos-invoices="invoices" ocultar-filtros="ocultarFiltros" total-items="invoicesTotalItems" loading-state="loadingInvoices" mostrar-ptos-venta="false" ocultar-accordion-invoices-search="true" ocultar-accordion-comprobantes-vistos="true" panel-mensaje="mensajeResultado" volver-a-principal="volverAPrincipal"></vista-comprobantes>
		</div>
	</div>

	<div class="row" ng-hide="ocultaTasas">
		<div class="col-lg-12">
			<h3>Tasas Cargas</h3>
			<div-cargando mostrar="loadingTasas">
				<table-tasas-cargas tasas="tasas" total-tasas="totalTasas" config-panel="configPanelTasas" moneda="moneda"></table-tasas-cargas>
			</div-cargando>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Gates</h3>
			<table-gates ocultar-busqueda="true" datos-gates="gates" detalles-gates="detalleGates" total-items="gatesTotalItems" ocultar-filtros="ocultarFiltros" loading-state="loadingGates" config-panel="configPanelGates"></table-gates>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Turnos</h3>
			<table-turnos ocultar-busqueda="true" datos-turnos="turnos" total-items="turnosTotalItems" ocultar-filtros="ocultarFiltros" config-panel="configPanelTurnos" loading-state="loadingTurnos"></table-turnos>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>A.F.I.P. Sumaria</h3>
			<table-container-sumaria datos-sumaria="sumariaAfip" loading-state="cargandoSumaria" config-panel="sumariaConfigPanel"></table-container-sumaria>
		</div>
	</div>
</div>