<div class="container agp" ng-controller="cfacturasCtrl">

<div class="row">
	<div class="col-lg-12">
		<h1>Control de comprobantes</h1>
	</div>
</div>

<div data-ng-hide="$state.includes('cfacturas.result')" class="row">

<tabset justified="true">
<tab heading="Tasa a las cargas" select="cambioTab('tasas')">
	<br>
	<div class="row" data-ng-hide="$state.includes('invoices.result')">
		<div class="col-lg-12">
			<div ng-include="'view/invoices.search.html'"></div>
		</div>
	</div>

	<div class="row">
		<accordion-comprobantes-vistos datos-comprobantes="comprobantesVistosTasas" mostrar-detalle="mostrarDetalle(comprobante)" quitar-vista="quitarVista(comprobante)" moneda="{{moneda}}"></accordion-comprobantes-vistos>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingTasaCargas">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12 well" ng-hide="loadingTasaCargas">
		<div class="panel {{ tasaCargas.cartel }}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ tasaCargas.titulo }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ tasaCargas.mensaje }}</p>
			</div>
		</div>

		<table-invoices ng-show="tasaCargas.mostrarResultado" datos-invoices="tasaCargas.resultado" filtrar="filtrar(filtro, contenido)" ocultar-filtros="{{ocultarFiltros}}" acceso="{{acceso}}" moneda="{{moneda}}" filtro-orden="{{filtroOrden}}" filtro-orden-reverse="filtroOrdenReverse" mostrar-detalle="mostrarDetalle(comprobante)" filtrar-orden="filtrarOrden(filtro)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>

		<div-pagination current-page="$parent.currentPageTasaCargas" page-changed="pageChangedTasa()" total-items="totalItemsTasaCargas"></div-pagination>
	</div>
</tab>

<tab heading="Correlatividad" select="cambioTab('correlativo')">
	<br>
	<div class="row" data-ng-hide="$state.includes('invoices.result')">
		<div class="col-lg-12">
			<div ng-include="'view/invoices.search.html'"></div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Puntos de venta de la terminal seleccionada</h3>
			</div>
			<div class="panel-body">
				<span ng-repeat="numero in terminalSellPoints"><a href ng-click="filtrar.nroPtoVenta(numero)">{{ numero }}</a><span ng-show="!$last"> - </span></span>
			</div>
		</div>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingCorrelatividad">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12" ng-hide="loadingCorrelatividad">
		<div class="panel {{ pantalla.cartelCorrelativo }}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pantalla.tituloCorrelativo }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ pantalla.mensajeCorrelativo }}</p>
				<span ng-repeat="numero in pantalla.resultadoCorrelativo">{{ numero }}<span ng-show="!$last"> - </span></span>
			</div>
		</div>
	</div>
</tab>

<tab heading="Control de códigos" select="cambioTab('codigos')">
	<br>
	<div class="row" data-ng-hide="$state.includes('invoices.result')">
		<div class="col-lg-12">
			<div ng-include="'view/invoices.search.html'"></div>
		</div>
	</div>

	<div class="row">
		<accordion-comprobantes-vistos datos-comprobantes="comprobantesVistosCodigos" mostrar-detalle="mostrarDetalle(comprobante)" quitar-vista="quitarVista(comprobante)" moneda="{{moneda}}"></accordion-comprobantes-vistos>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingControlCodigos">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12 well" ng-hide="loadingControlCodigos">
		<div class="panel {{ pantalla.cartelCodigos }}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pantalla.tituloCodigos }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ pantalla.mensajeCodigos }}</p>
				<span ng-repeat="numero in pantalla.resultadoCodigos"><a title="Filtrar por:" href ng-click="filtrar('codigo', numero)">{{ numero }}</a><span ng-show="!$last"> - </span></span>
			</div>
		</div>

		<div class="col-lg-12 text-center" ng-show="cargandoPaginaComprobantes">
			<img class="media-object" style="margin-left: 40%;" src="images/ajax_loader_gray_512.gif" width="252" height="252">
		</div>

		<div class="col-lg-12 well" ng-show="pantalla.mostrarResultado && !cargandoPaginaComprobantes">
			<table-invoices datos-invoices="pantalla.comprobantesRotos" filtrar="filtrar(filtro, contenido)" ocultar-filtros="{{ocultarFiltros}}" acceso="{{acceso}}" moneda="{{moneda}}" filtro-orden="{{filtroOrden}}" filtro-orden-reverse="filtroOrdenReverse" mostrar-detalle="mostrarDetalle(comprobante)" filtrar-orden="filtrarOrden(filtro)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>
			<div-pagination ng-hide="hayFiltros" current-page="$parent.currentPageCodigos" page-changed="pageChangedCodigos()" total-items="totalItemsCodigos"></div-pagination>
			<div-pagination ng-show="hayFiltros" current-page="$parent.currentPageFiltros" page-changed="pageChangedFiltros()" total-items="totalItemsFiltros"></div-pagination>
		</div>
	</div>

</tab>

<tab heading="Control de tarifas" ng-show="false">
	<br>
	<div class="row col-lg-12">
		<div class="panel {{ pantalla.cartelTarifas }}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pantalla.tituloTarifas }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ pantalla.mensajeTarifas }}</p>
				<span ng-repeat="numero in pantalla.resultadoCorrelativo">{{ numero }}<span ng-show="!$last"> - </span></span>
			</div>
		</div>
	</div>

	<div class="row row col-lg-12">
		<div class="table-responsive">
			<table ng-show="pantalla.mostrarResultadoTarifas" class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>Comprobante</th>
					<th>Razon Social</th>
					<th>Fecha</th>
					<th>Tarifas erróneas</th>
					<th>Detalles</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="comprobante in pantalla.comprobantesMalCobrados">
					<td>{{ comprobante.nroComprob }}</td>
					<td>{{ comprobante.razon }}</td>
					<td>{{ comprobante.fecha.emision | date: 'dd/MM/yyyy' }}</td>
					<td><span ng-repeat="numeroCod in comprobante.codigosFaltantes">{{ numeroCod }}<span ng-show="!$last"> - </span></span></td>
					<td><button ui-sref=".result" class="btn btn-primary" type="button" ng-click="mostrarDetalle(comprobante)">M&aacute;s detalles</button></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</tab>

<tab heading="Comprobantes a revisar" select="cambioTab('revisar')">
	<br>
	<div class="row" data-ng-hide="$state.includes('invoices.result')">
		<div class="col-lg-12">
			<div ng-include="'view/invoices.search.html'"></div>
		</div>
	</div>

	<div class="row">
		<accordion-comprobantes-vistos datos-comprobantes="comprobantesVistosRevisar" mostrar-detalle="mostrarDetalle(comprobante)" quitar-vista="quitarVista(comprobante)" moneda="{{moneda}}"></accordion-comprobantes-vistos>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingRevisar">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>

	<div class="col-lg-12" ng-show="!loadingRevisar && comprobantesRevisar.length == 0">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Comprobantes a revisar</h3>
			</div>
			<div class="panel-body">
				<span>No se encontraron comprobantes marcados para revisar.</span>
			</div>
		</div>
	</div>

	<div class="col-lg-12 well" ng-hide="loadingRevisar || comprobantesRevisar.length == 0">
		<table-invoices datos-invoices="comprobantesRevisar" filtrar="filtrar(filtro, contenido)" ocultar-filtros="{{ocultarFiltros}}" acceso="{{acceso}}" moneda="{{moneda}}" filtro-orden="{{filtroOrden}}" filtro-orden-reverse="filtroOrdenReverse" mostrar-detalle="mostrarDetalle(comprobante)" filtrar-orden="filtrarOrden(filtro)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>
		<div-pagination current-page="$parent.currentPageRevisar" page-changed="pageChangedRevisar()" total-items="totalItemsRevisar"></div-pagination>
	</div>
</tab>

<tab heading="Comprobantes erróneos" select="cambioTab('error')">
	<br>
	<div class="row" data-ng-hide="$state.includes('invoices.result')">
		<div class="col-lg-12">
			<div ng-include="'view/invoices.search.html'"></div>
		</div>
	</div>

	<div class="row">
		<accordion-comprobantes-vistos datos-comprobantes="comprobantesVistosError" mostrar-detalle="mostrarDetalle(comprobante)" quitar-vista="quitarVista(comprobante)" moneda="{{moneda}}"></accordion-comprobantes-vistos>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingError">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>

	<div class="col-lg-12" ng-show="!loadingError && comprobantesError.length == 0">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Comprobantes erróneos</h3>
			</div>
			<div class="panel-body">
				<span>No se encontraron comprobantes marcados como erróneos.</span>
			</div>
		</div>
	</div>

	<div class="col-lg-12 well" ng-hide="loadingError || comprobantesError.length == 0">
		<table-invoices datos-invoices="comprobantesError" filtrar="filtrar(filtro, contenido)" ocultar-filtros="{{ocultarFiltros}}" acceso="{{acceso}}" moneda="{{moneda}}" filtro-orden="{{filtroOrden}}" filtro-orden-reverse="filtroOrdenReverse" mostrar-detalle="mostrarDetalle(comprobante)" filtrar-orden="filtrarOrden(filtro)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>
		<div-pagination current-page="$parent.currentPageError" page-changed="pageChangedError()" total-items="totalItemsError"></div-pagination>
	</div>
</tab>

</tabset>

</div>

<div data-ng-show="$state.includes('cfacturas.result')">
	<div ui-view></div>
</div>

<br>
</div>