<div class="container" ng-controller="containerCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h1>Contenedor</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<accordion>
				<accordion-group is-open="status.open">
					<accordion-heading>
						<strong>Buscar por</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</accordion-heading>
					<div class="row">
						<div class="form-group col-lg-4 col-md-4 col-sm-6">
							<angucomplete-alt id="idContenedor"
											  placeholder="Contenedor"
											  pause="100"
											  selected-object="containerSelected"
											  local-data="listaContenedores"
											  search-fields="contenedor"
											  title-field="contenedor"
											  minlength="1"
											  input-class="form-control"
											  filtrar="filtrado(filtrar, contenido)"
											  input-field="contenedor"
											  match-class="highlight"
											  limit-results="15"
											  outside-model="model.contenedor"
											  auto-match="true"></angucomplete-alt>
						</div>
						<div class="form-group col-lg-4">
							<button class="btn btn-primary" ng-click="filtrado('', ''); status.open = !status.open"><span class="glyphicon glyphicon-search"></span> Buscar</button>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Comprobantes</h3>
			<vista-comprobantes model="model" datos-invoices="invoices" ocultar-filtros="ocultarFiltrosInvoices" total-items="totalItems" loading-state="cargando" mostrar-ptos-venta="false" ocultar-accordion-invoices-search="true" ocultar-accordion-comprobantes-vistos="true" panel-mensaje="mensajeResultado"></vista-comprobantes>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Tasas Cargas</h3>
			<table-tasas-cargas></table-tasas-cargas>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Gates</h3>
			<table-gates datos-gates="gates" filtrar-orden="filtrarOrden(filtro)" detalles-gates="detallesGates" total-items="totalItems" ocultar-filtros="{{ocultarFiltrosGates}}"></table-gates>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>Turnos</h3>
			<table-turnos datos-turnos="turnos" total-items="turnosTotalItems"></table-turnos>
		</div>
	</div>

</div>