<div class="container">

	<!-- Tables
	================================================== -->
	<!--<div class="bs-docs-section">-->

	<div class="row">
		<div class="col-lg-11">
			<div class="xpage-header">
				<h1 id="forms">Panel de control</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-11">
			<button type="button" ui-sref="cfacturas" class="btn btn-primary btn-lg">Correlatividad</button>
			<button type="button" ui-sref="gates" class="btn btn-primary btn-lg">Gates</button>
			<button type="button" ui-sref="cdiario" class="btn btn-primary btn-lg">Control Diario</button>
		</div>
	</div>
</div>
