<div class="container col-xlg-offset-2 col-xlg-8">

	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/paneldecontrol.png" height="64" width="80" class="hidden-xs">Panel de control</h1>
	</div>

	<div class="row">
		<br>
		<div class="col-lg-8">
			<h4 ng-show="tipoFiltro=='cantidad'" class="text-left">Comprobantes diario: {{ comprobantesCantidad.invoicesCount }}</h4>
			<h4 ng-show="tipoFiltro=='total'" class="text-left">Facturado diario: $ {{ comprobantesCantidad.totalCount | currency }}</h4>
			<div class="rowcol-lg-12">
				<div class="form-group col-lg-5">
					<div class="input-group text-left">
						<label for="desde" class="sr-only">Fecha</label>
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfechaInicio = !openfechaInicio;"><span class="glyphicon glyphicon-calendar"></span></button></span>
						<input id="desde" type="text" class="form-control" ng-keyup="hitEnter($event)" ng-model="desde" uib-datepicker-popup="yyyy-MM-dd" is-open="openfechaInicio" datepicker-options="datepickerNormal" ng-change="traerDatosFacturadoDia()" readonly clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
					</div>
				</div>
				<div class="form-group radio col-lg-7 text-right">
					<label>
						<input type="radio" ng-model="tipoFiltro" value="cantidad">Cantidad de comprobantes
					</label>
					<label>
						<input type="radio" ng-model="tipoFiltro" value="total">Total facturado
					</label>
				</div>
			</div>
			<div class="col-lg-12 table-responsive" style="max-height: 230px; max-width: 100%; overflow: auto">
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th class="text-left"><span class="glyphicon glyphicon-list-alt"></span> Comprobante</th>
						<th class="text-center"><span class="glyphicon glyphicon-credit-card"></span> BACTSSA</th>
						<th class="text-center"><span class="glyphicon glyphicon-credit-card"></span> TERMINAL 4</th>
						<th class="text-center"><span class="glyphicon glyphicon-credit-card"></span> TRP</th>
						<th class="text-right">Subtotal</th>
					</tr>
					</thead>
					<tbody>
					<tr style="font-size: 8pt" ng-show="tipoFiltro=='cantidad'" ng-repeat="comprobante in comprobantesCantidad">
						<td class="text-left">{{ comprobante.codTipoComprob | nombreComprobante : false }}</td>
						<td class="text-right">{{ comprobante.BACTSSA.cnt[0] | numero }} ({{ comprobante.BACTSSA.cnt[1] | numero | number:2 }} %)</td>
						<td class="text-right">{{ comprobante.TERMINAL4.cnt[0] | numero }} ({{ comprobante.TERMINAL4.cnt[1] | numero | number:2 }} %)</td>
						<td class="text-right">{{ comprobante.TRP.cnt[0] | numero }} ({{ comprobante.TRP.cnt[1] | numero | number:2 }} %)</td>
						<td class="text-right"><b>{{ comprobante.cnt }}</b></td>
					</tr>
					<tr style="font-size: 8pt" ng-show="tipoFiltro=='total'" ng-repeat="comprobante in comprobantesCantidad">
						<td class="text-left">{{ comprobante.codTipoComprob | nombreComprobante : false }}</td>
						<td class="text-right">$ {{ comprobante.BACTSSA.total[0] | numero | currency }} ({{ comprobante.BACTSSA.total[1] | numero | number:2 }} %)</td>
						<td class="text-right">$ {{ comprobante.TERMINAL4.total[0] | numero | currency }} ({{ comprobante.TERMINAL4.total[1] | numero | number:2 }} %)</td>
						<td class="text-right">$ {{ comprobante.TRP.total[0] | numero | currency }} ({{ comprobante.TRP.total[1] | numero | number:2 }} %)</td>
						<td class="text-right"><b>$ {{ comprobante.total | currency }}</b></td>
					</tr>
					<tr>
						<th class="text-right" colspan="4">Total</th>
						<th ng-show="tipoFiltro=='cantidad'" class="text-right">{{ comprobantesCantidad.invoicesCount }}</th>
						<th ng-show="tipoFiltro=='total'" class="text-right">$ {{ comprobantesCantidad.totalCount | currency }}</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--<div class="col-lg-4" ng-show="errorCargaTasas">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los facturado por tasas a las cargas.
				<h6>{{mensajeErrorCargaTasas}}</h6>
				<span>Presione <a href ng-click="traerDatosFacturadoDiaTasas()">aquí</a> para reintentar.</span>
			</div>
		</div>-->

		<div class="col-lg-4" ng-show="loadingFacturadoDia">
			<img class="media-object center-block" src="images/loading.gif">
		</div>
		<div class="col-lg-4" ng-hide="loadingFacturadoDia || errorFacturadoDia">
			<h4 class="text-left">Facturado diario</h4>
			<div>
				<dynamic-chart
						chart-object="chartFacturado"
						select="selectRow(selectedRowIndexFacturado)"
						colors="barColors">
				</dynamic-chart>
			</div>
		</div>
		<div class="col-lg-4" ng-show="errorFacturadoDia">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los facturado por día.
				<h6>{{mensajeErrorFacturadoDia}}</h6>
				<span>Presione <a href ng-click="traerDatosFacturadoDia()">aquí</a> para reintentar.</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4" ng-show="loadingFacturadoMes">
			<img class="media-object center-block" src="images/loading.gif">
		</div>
		<div class="col-lg-4" ng-hide="loadingFacturadoMes || errorFacturadoMes">
			<h4 class="text-left">Facturado mensual</h4>
			<p class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isOpenMonth = !isOpenMonth"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM" is-open="isOpenMonth" datepicker-options="datepickerMonth" ng-model="mesDesde" ng-change="traerDatosFacturadoMes()" readonly clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
			</p>
			<div>
				<dynamic-chart
						chart-object="chartFacturas"
						select="selectRow(selectedRowIndexFacturas)"
						colors="barColors">
				</dynamic-chart>
			</div>
		</div>
		<div class="col-lg-4" ng-show="errorFacturadoMes">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los facturado por mes.
				<h6>{{mensajeErrorFacturadoMes}}</h6>
				<span>Presione <a href ng-click="traerDatosFacturadoMes()">aquí</a> para reintentar.</span>
			</div>
		</div>

		<div class="col-lg-4" ng-show="loadingGates">
			<img class="media-object center-block" src="images/loading.gif">
		</div>
		<div class="col-lg-4" ng-show="!loadingGates || errorGates">
			<h4 class="text-left">Gates mensuales</h4>
			<p class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isOpenGates = !isOpenGates"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM" is-open="isOpenGates" datepicker-options="datepickerMonth" ng-change="traerDatosGates()" ng-model="mesDesdeGates" readonly clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
			</p>
			<div>
				<dynamic-chart
						chart-object="chartGates"
						select="selectRow(selectedRowIndexGates)"
						colors="barColors">
				</dynamic-chart>
			</div>
		</div>
		<div class="col-lg-4" ng-show="errorGates">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los gates.
				<h6>{{mensajeErrorGates}}</h6>
				<span>Presione <a href ng-click="traerDatosGates()">aquí</a> para reintentar.</span>
			</div>
		</div>

		<div class="col-lg-4" ng-show="loadingTurnos">
			<img class="media-object center-block" src="images/loading.gif">
		</div>
		<div class="col-lg-4" ng-hide="loadingTurnos || errorTurnos">
			<h4 class="text-left">Turnos mensuales</h4>
			<p class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isOpenTurnos = !isOpenTurnos"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM" is-open="isOpenTurnos" datepicker-options="datepickerMonthTurnos" ng-change="traerDatosTurnos()" ng-model="mesDesdeTurnos" readonly clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
			</p>
			<div>
				<dynamic-chart
						chart-object="chartTurnos"
						select="selectRow(selectedRowIndexTurnos)"
						colors="barColors">
				</dynamic-chart>
			</div>
		</div>
		<div class="col-lg-4" ng-show="errorTurnos">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los turnos.
				<h6>{{mensajeErrorTurnos}}</h6>
				<span>Presione <a href ng-click="traerDatosTurnos()">aquí</a> para reintentar.</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div ng-show="loadingGatesTurnos">
			<img class="media-object center-block" src="images/loading.gif">
		</div>
		<div ng-hide="loadingGatesTurnos">
			<h4 class="text-left">{{ labelPorHora }}</h4>
			<div class="row col-lg-6 col-lg-offset-2">
				<div class="form-group col-lg-6">
					<div class="input-group text-left">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="isOpenDayGatesTurnos = !isOpenDayGatesTurnos;"><i class="glyphicon glyphicon-calendar"></i> Desde</button>
					</span>
						<input type="text" readonly class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="isOpenDayGatesTurnos" datepicker-options="datepickerGatesTurnos" ng-model="diaGatesTurnos" ng-change="traerDatosGatesTurnosDia()" clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
					</div>
				</div>
				<div class="form-group col-lg-6">
					<div class="input-group text-left">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="isOpenDayGatesTurnosFin = !isOpenDayGatesTurnosFin"><i class="glyphicon glyphicon-calendar"></i> Hasta</button>
					</span>
						<input type="text" readonly class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="isOpenDayGatesTurnosFin" datepicker-options="datepickerGatesTurnos" ng-model="diaGatesTurnosFin" ng-change="traerDatosGatesTurnosDia()" clear-text="Borrar" close-text="Listo" current-text="Hoy"/>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="input-group">
					<div class="btn-group">
						<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Gates'" ng-change="traerDatosGatesTurnosDia()">Gates</label>
						<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Turnos'" ng-change="traerDatosGatesTurnosDia()">Turnos</label>
					</div>
				</div>
			</div>
			<!--<div class="col-lg-4 col-lg-offset-3">
				<div uib-collapse="isOpenDayGatesTurnos">
					<div class="well well-lg">
						<uib-datepicker ng-model="diaGatesTurnos" datepicker-options="datepickerGatesTurnos" show-weeks="false" ></uib-datepicker>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-3">
				<div uib-collapse="isOpenDayGatesTurnosFin">
					<div class="well well-lg">
						<uib-datepicker ng-model="diaGatesTurnosFin" datepicker-options="datepickerGatesTurnos" ng-change="traerDatosGatesTurnosDia()"></uib-datepicker>
					</div>
				</div>
			</div>-->
			<div class="col-lg-12">
				<dynamic-chart
						chart-object="chartDiaGatesTurnos"
						select="selectRow(selectedRowIndexFacturado)"
						colors="barColors">
				</dynamic-chart>
			</div>
		</div>
		<div class="col-lg-4" ng-show="errorGatesTurnos">
			<div class="alert alert-danger">
				<strong>Error</strong> - No se han podido cargar los datos de los turnos.
				<h6>{{mensajeErrorGatesTurnos}}</h6>
				<span>Presione <a href ng-click="traerDatosGatesTurnosDia()">aquí</a> para reintentar.</span>
			</div>
		</div>
	</div>
</div>
