<div class="container">

	<!-- Tables
	================================================== -->
	<!--<div class="bs-docs-section">-->

	<div class="row">
		<div class="col-lg-3">
			<br>
			<div class="xpage-header">
				<h1 id="forms">Panel de control</h1>
			</div>
		</div>
		<div class="col-lg-9">
			<br>
			<div class="btn-group btn-group-justified">
				<a ui-sref="cfacturas" class="btn btn-default"><img src="images/invoices.png"><br>Comprobantes</a>
				<a ui-sref="gates" class="btn btn-default"><img src="images/container.png"><br>Gates</a>
				<a ui-sref="turnos" class="btn btn-default"><img src="images/calendar.png"><br>Turnos</a>
			</div>
		</div>
	</div>

	<div class="row"><p></p>
		<div class="col-lg-12">
			<div class="control-label">
				<span><strong>D&iacute;a: {{ fecha | date: 'dd/MM/yyyy' }}</strong></span>
			</div>
			<div class="row">
				<div class="col-lg-3 list-group-item">
					<span>Cantidad de Facturas</span>
					<span class="badge text-right">{{ control.invoicesCount }}</span>
				</div>
				<div class="col-lg-3 list-group-item">
					<span>Cantidad de tasas AGP</span>
					<span class="badge text-right">{{ control.ratesCount }}</span>
				</div>
				<div class="col-lg-3 list-group-item">
					<span>Precio total tasas AGP</span>
					<span class="badge text-right">{{ control.ratesTotal | currency }}</span>
				</div>
				<div class="col-lg-3 list-group-item">
					<span>Precio total facturas</span>
					<span class="badge text-right">{{ control.tasasTotal | currency }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<br>
		<div class="col-lg-3">
			<column-chart-stack data="chartData" title="{{chartTitle}}"
			           width="{{chartWidth}}" height="{{chartHeight}}"
			           select="selectRow(selectedRowIndex)"></column-chart-stack>
		</div>

		<div class="col-lg-4">
			<p class="input-group">
				<input type="text" readonly="true" class="form-control" datepicker-popup="{{format}}" ng-model="desde" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isCollapsedDay = !isCollapsedDay"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div collapse="isCollapsedDay">
				<div class="well well-lg">
					<datepicker ng-model="desdeTasas" show-weeks="false" ng-change="traerDatosFacturadoDiaTasas()"></datepicker>
				</div>
			</div>
			<div collapse="!isCollapsedDay">
				<column-chart-stack data="chartDataFacturadoTasas" title="{{chartTitleFacturadoTasas}}"
				              width="{{chartWidthFacturadoTasas}}" height="{{chartHeightFacturadoTasas}}"
				              select="selectRow(selectedRowIndexFacturadoTasas)"></column-chart-stack>
			</div>
		</div>

		<div class="col-lg-4">
			<p class="input-group">
				<input type="text" readonly="true" class="form-control" datepicker-popup="{{format}}" ng-model="desde" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isCollapsedDay = !isCollapsedDay"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div collapse="isCollapsedDay">
				<div class="well well-lg">
					<datepicker ng-model="desde" show-weeks="false" ng-change="traerDatosFacturadoDia()"></datepicker>
				</div>
			</div>
			<div collapse="!isCollapsedDay">
				<column-chart data="chartDataFacturado" title="{{chartTitleFacturado}}"
				                    width="{{chartWidthFacturado}}" height="{{chartHeightFacturado}}"
				                    select="selectRow(selectedRowIndexFacturado)"></column-chart>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-lg-4">
			<p class="input-group">
				<input type="text" readonly="true" class="form-control" datepicker-popup="{{formatSoloMes}}" ng-model="mesDesde" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isCollapsedMonth = !isCollapsedMonth"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div collapse="isCollapsedMonth">
				<div class="well well-lg">
					<datepicker ng-model="mesDesde" min-mode="month" datepicker-mode="monthMode" show-weeks="false" ng-change="traerDatosFacturadoMes()"></datepicker>
				</div>
			</div>
			<div collapse="!isCollapsedMonth">
				<column-chart data="chartDataFacturas" title="{{chartTitleFacturas}}"
				              width="{{chartWidthFacturas}}" height="{{chartHeightFacturas}}"
				              select="selectRow(selectedRowIndexFacturas)"></column-chart>
			</div>
		</div>

		<div class="col-lg-4">
			<p class="input-group">
				<input type="text" readonly="true" class="form-control" datepicker-popup="{{formatSoloMes}}" ng-model="mesDesdeGates" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isCollapsedGates = !isCollapsedGates"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div collapse="isCollapsedGates">
				<div class="well well-lg">
					<datepicker ng-model="mesDesdeGates" min-mode="month" datepicker-mode="monthMode" show-weeks="false" ng-change="traerDatosGates()"></datepicker>
				</div>
			</div>
			<div collapse="!isCollapsedGates">
				<column-chart data="chartDataGates" title="{{chartTitleGates}}"
			              width="{{chartWidthGates}}" height="{{chartHeightGates}}"
			              select="selectRow(selectedRowIndexGates)"></column-chart>
			</div>
		</div>

		<div class="col-lg-4">
			<p class="input-group">
				<input type="text" readonly="true" class="form-control" datepicker-popup="{{formatSoloMes}}" ng-model="mesDesdeTurnos" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="isCollapsedTurnos = !isCollapsedTurnos"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div collapse="isCollapsedTurnos">
				<div class="well well-lg">
					<datepicker ng-model="mesDesdeTurnos" min-mode="month" datepicker-mode="monthMode" show-weeks="false" ng-change="traerDatosTurnos()"></datepicker>
				</div>
			</div>
			<div collapse="!isCollapsedTurnos">
				<column-chart data="chartDataTurnos" title="{{chartTitleTurnos}}"
			              width="{{chartWidthTurnos}}" height="{{chartHeightTurnos}}"
			              select="selectRow(selectedRowIndexTurnos)"></column-chart>
			</div>
		</div>
	</div>

</div>
