<div class="container agp" ng-controller="controlComprobantesCtrl">

<div class="row">
	<div class="col-lg-12">
		<h1>Control de comprobantes</h1>
	</div>
</div>

<div data-ng-hide="$state.includes('cfacturas.result')" class="row">

<tabset justified="true">

<tab heading="Tasa a las cargas" ng-controller="tasaCargasCtrl">
	<br>
	<vista-comprobantes model="model" datos-invoices="tasaCargas.resultado" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingTasaCargas" control-codigos="false" mostrar-ptos-venta="false" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

<tab heading="Control de Correlatividad" ng-controller="correlatividadCtrl">
	<br>
	<accordion-busqueda-correlatividad></accordion-busqueda-correlatividad>

	<div class="col-lg-12 text-center" ng-show="loadingCorrelatividad">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12" ng-hide="loadingCorrelatividad">
		<div-panel config-panel="pantalla">
			<p>{{ pantalla.mensajeCorrelativo }}</p>
			<span ng-repeat="numero in pantalla.resultadoCorrelativo">{{ numero }}<span ng-show="!$last"> - </span></span>
		</div-panel>
	</div>
</tab>

<tab heading="Control de códigos" ng-controller="codigosCtrl">
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesRotos" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingControlCodigos" control-codigos="true" codigos-sin-asociar="codigosSinAsociar" mostrar-ptos-venta="mostrarPtosVentas" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

<tab heading="Control de tarifas" ng-show="false">
	<br>
	<div class="row col-lg-12">
		<div class="panel {{ pantalla.cartelTarifas }}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ pantalla.tituloTarifas }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ pantalla.mensajeTarifas }}</p>
				<span ng-repeat="numero in pantalla.resultadoCorrelativo">{{ numero }}<span ng-show="!$last"> - </span></span>
			</div>
		</div>
	</div>

	<div class="row row col-lg-12">
		<div class="table-responsive">
			<table ng-show="pantalla.mostrarResultadoTarifas" class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>Comprobante</th>
					<th>Razon Social</th>
					<th>Fecha</th>
					<th>Tarifas erróneas</th>
					<th>Detalles</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="comprobante in pantalla.comprobantesMalCobrados">
					<td>{{ comprobante.nroComprob }}</td>
					<td>{{ comprobante.razon }}</td>
					<td>{{ comprobante.fecha.emision | date: 'dd/MM/yyyy' }}</td>
					<td><span ng-repeat="numeroCod in comprobante.codigosFaltantes">{{ numeroCod }}<span ng-show="!$last"> - </span></span></td>
					<td><button ui-sref=".result" class="btn btn-primary" type="button" ng-click="mostrarDetalle(comprobante)">M&aacute;s detalles</button></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</tab>

<tab heading="Comprobantes a revisar" ng-controller="comprobantesRevisarCtrl" ng-show="acceso == 'agp'">
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesRevisar" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingRevisar" control-codigos="false" mostrar-ptos-venta="true" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

<tab heading="Comprobantes erróneos" ng-controller="comprobantesErrorCtrl" ng-show="acceso == 'agp'">
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesError" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingError" control-codigos="false" mostrar-ptos-venta="true" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

</tabset>

</div>

<br>
</div>