<div class="container agp" ng-controller="controlComprobantesCtrl">

<div class="row">
	<div class="col-lg-12">
		<h1 class="hidden-xs"><img src="images/invoices.png" height="64" width="64"> Control de comprobantes</h1>
		<h1 class="visible-xs">Control de comprobantes</h1>
	</div>
</div>

<div data-ng-hide="$state.includes('cfacturas.result')" class="row">

<tabset justified="true">

<tab class="hidden-print" heading="Sin Tasa a las cargas" ng-controller="tasaCargasCtrl">
	<div class="visible-print-block">
		<h3>Sin Tasa a las cargas</h3>
	</div>
	<br>
	<accordion-invoices-search></accordion-invoices-search>
	<div class="col-lg-12 text-center" ng-show="loadingTasaCargas">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12" ng-hide="loadingTasaCargas || hayError">
		<div-panel config-panel="{tipo: 'panel-info', titulo: 'Contenedores sin tasa a las cargas ' + totalContenedores}">
			<div ng-show="totalContenedores == 0">No se encontraron contenedores sin tasa a las cargas para los filtros seleccionados</div>
			<div style="max-height: 200px; max-width: 100%; overflow: auto" ng-hide="totalContenedores == 0">
				<div class="input-group col-lg-12">
					<input type="text" class="form-control" ng-model="search" placeholder="Filtrar resultados" toupper>
					<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
				</div>
				<br>
				<span ng-repeat="tasa in tasaCargas.resultado | filter: search">
					<a href ng-class="{mark: (model.contenedor == tasa.contenedor)}" ng-click="verContenedor(tasa.contenedor)">{{ tasa.contenedor }}</a><span ng-show="!$last"> - </span>
				</span>
			</div>
		</div-panel>
	</div>
	<div class="col-lg-12" ng-show="hayError">
		<div-panel config-panel="mensajeResultado">
			<span>{{ mensajeResultado.mensaje }}</span>
		</div-panel>
	</div>
	<buque-viaje-detail></buque-viaje-detail>
</tab>

<tab class="hidden-print" heading="Control de Correlatividad" ng-controller="correlatividadCtrl">
	<div class="visible-print-block">
		<h3>Control de correlatividad</h3>
	</div>
	<br>
	<accordion-busqueda-correlatividad></accordion-busqueda-correlatividad>
	<div class="visible-print-block"><span ng-hide="model.fechaDesde == ''">Desde: {{ model.fechaDesde | date: 'dd/MM/yyyy' }}</span></div>
	<div class="visible-print-block"><span ng-hide="model.fechaHasta == ''">Hasta: {{ model.fechaHasta | date: 'dd/MM/yyyy' }}</span></div>
	<br class="visible-print-block">
	<div class="col-lg-12 text-center" ng-show="loadingCorrelatividad">
		<img class="media-object" style="margin-left: 40%; margin-top: 50px" src="images/ajax_loader_gray_512.gif" width="252" height="252">
	</div>
	<div class="col-lg-12" ng-hide="loadingCorrelatividad">
		<h3 ng-show="totalFaltantes > 0"><b>{{ tipoComprob }}</b> faltantes {{ totalFaltantes }}</h3>
		<div-panel ng-repeat="pantalla in puntosDeVenta" config-panel="pantalla" ng-show="pantalla.totalCnt > 0">
			<p>Se hallaron {{ pantalla.totalCnt }} comprobantes faltantes:</p>
			<span ng-repeat="numero in pantalla.resultadoCorrelativo track by $index">{{ numero }}<span ng-show="!$last"> - </span></span>
		</div-panel>
		<div-panel config-panel="pantalla" ng-show="totalFaltantes == 0">
			{{ pantalla.mensajeCorrelativo }}
		</div-panel>
		<div class="row hidden-print" ng-show="mostrarBotonImprimir">
			<div class="col-lg-10 col-lg-offset-1" style="text-align: center">
				<a href="javascript:window.print()" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
			</div>
		</div>
	</div>
</tab>

<tab class="hidden-print" heading="Control de códigos" ng-controller="codigosCtrl">
	<div class="visible-print-block">
		<h3>Control de códigos</h3>
	</div>
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesRotos" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingControlCodigos" control-codigos="true" codigos-sin-asociar="codigosSinAsociar" mostrar-ptos-venta="mostrarPtosVentas" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

<tab class="hidden-print" heading="Comprobantes sin revisar" ng-controller="comprobantesRevisarCtrl" ng-show="acceso == 'agp'">
	<div class="visible-print-block">
		<h3>Comprobantes sin revisar</h3>
	</div>
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesRevisar" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingRevisar" control-codigos="false" mostrar-ptos-venta="true" panel-mensaje="mensajeResultado"></vista-comprobantes>
</tab>

<tab class="hidden-print" heading="Comprobantes erróneos" ng-controller="comprobantesErrorCtrl">
	<div class="visible-print-block">
		<h3>Comprobantes erróneos</h3>
	</div>
	<br>
	<vista-comprobantes model="model" datos-invoices="comprobantesError" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="loadingError" control-codigos="false" mostrar-ptos-venta="true" panel-mensaje="mensajeResultado" filtro-estados="ERROR"></vista-comprobantes>
</tab>

</tabset>

</div>

<br>
</div>