<div class="container" ng-controller="containerCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="hidden-xs"><img src="images/container.png" height="64" width="64">Contenedor</h1>
			<h1 class="visible-xs">Contenedor</h1>
		</div>
	</div>

	<accordion-invoices-search ng-controller="searchController"></accordion-invoices-search>

	<div ng-hide="hayError">
		<div class="row">
			<div class="col-lg-12">
				<h3>Comprobantes</h3>
				<vista-comprobantes model="model" datos-invoices="invoices" ocultar-filtros="filtrosComprobantes" total-items="invoicesTotalItems" loading-state="cargando" mostrar-ptos-venta="false" ocultar-accordion-invoices-search="true" ocultar-accordion-comprobantes-vistos="true" panel-mensaje="mensajeResultado"></vista-comprobantes>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h3>Tasas Cargas</h3>
				<table-tasas-cargas config-panel="tasasConfigPanel" tasas="tasas" total-tasas="totalTasas"></table-tasas-cargas>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h3>Gates</h3>
				<table-gates datos-gates="gates" detalles-gates="detallesGates" total-items="gatesTotalItems" ocultar-filtros="filtrosComprobantes" config-panel="gatesConfigPanel" loading-state="cargandoGates"></table-gates>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h3>Turnos</h3>
				<table-turnos datos-turnos="turnos" total-items="turnosTotalItems" ocultar-filtros="filtrosComprobantes" config-panel="turnosConfigPanel" loading-state="cargandoTurnos"></table-turnos>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h3>A.F.I.P. Sumaria</h3>
				<table-container-sumaria datos-sumaria="sumariaAfip" loading-state="cargandoSumaria" config-panel="sumariaConfigPanel"></table-container-sumaria>
			</div>
		</div>
	</div>

	<div class="col-lg-12" ng-show="hayError">
		<div-panel config-panel="mensajeGeneral">
			<span>{{ mensajeGeneral.mensaje }}</span>
		</div-panel>
	</div>

</div>