<div class="container col-xlg-offset-2 col-xlg-8" ng-controller="pricelistCtrl">

	<div class="row">
		<div class="col-lg-12">
			<h1><img ng-src="images/tarifario.png" height="64" width="50" class="hidden-xs">Editar tarifario</h1>
		</div>
	</div>

	<div class="row hidden-print" ng-hide="hayError">
		<div class="col-lg-12">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o tarifa" toupper>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-8 checkbox">
					<label>
						<input type="checkbox" ng-model="tasas" ng-change="cargaPricelist()">Sólo tasa a las cargas
					</label>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openfechaVigencia = !openfechaVigencia;">Fecha de vigencia <span class="glyphicon glyphicon-calendar"></span></button></span>
						<label for="fechaVigencia" class="sr-only">Fecha de vigencia</label>
						<input id="fechaVigencia" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="fechaVigencia" is-open="openfechaVigencia" readonly style="background-color: #ffffff">
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row" ng-hide="hayError">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="export-table table table-bordered table-hover">
					<thead>
					<tr>
						<th class="col-lg-1"><a href="" ng-click="ordenarPor('code')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'code' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'code' && reverse"></span>
							<span class="glyphicon glyphicon-bookmark"></span> Código
						</a></th>
						<th class="col-lg-6"><a href="" ng-click="ordenarPor('description')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'description' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'description' && reverse"></span>
							<span class="glyphicon glyphicon-credit-card"></span> Tarifa
						</a></th>
						<th class="col-lg-2"><a href="" ng-click="ordenarPor('unit')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'unit' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'unit' && reverse"></span>
							<span class="glyphicon glyphicon-tag"></span> Unidad
						</a></th>
						<th class="col-lg-1">
							<span class="glyphicon glyphicon-usd"></span> Moneda
						</th>
						<th class="col-lg-2"><a href="" ng-click="ordenarPor('orderPrice')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'orderPrice' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'orderPrice' && reverse"></span>
							<span class="glyphicon glyphicon-usd"></span> Tope
						</a></th>
					</tr>
					</thead>
					<tbody>
					<tr style="height:60px" class="hidden-print" ng-repeat="price in filteredPrices = (userPricelist | filter:search) | orderBy: predicate : reverse | emptyToEnd: predicate | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
						<td><input class="textarea-td" type="text" ng-model="price.code"></td>
						<td><textarea class="textarea-td" ng-model="price.description"></textarea></td>
						<td>
							<select class="form-control" ng-model="price.idUnit">
								<option ng-repeat="unidad in unidadesTarifas" value="{{ unidad._id }}">{{ unidad.description }}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="price.nuevoTopPrice.currency">
								<option value="DOL">U$S</option>
								<option value="PES">$ARG</option>
							</select>
						</td>
						<td style="text-align: right">
							<input class="text-right textarea-td" type="number" min="0" step="any" ng-model="price.nuevoTopPrice.price">
						</td>
					</tr>
					<tr style="height:60px" class="visible-print" ng-repeat="price in pricelist | filter:search | orderBy: predicate : reverse">
						<td style="width: 10%">{{ price.code }}</td>
						<td style="width: 64%">{{ price.description }}</td>
						<td style="width: 12%">{{ price.unit}}</td>
						<td style="text-align: right; width: 14%" >
							<span ng-show="!(price.topPrices[0].price > 0)" class="glyphicon glyphicon-warning-sign text-danger"> Sin definir</span> <span ng-show="price.topPrices[0].price > 0">{{ price.topPrices[0].currency | formatCurrency }} {{ price.topPrices[0].price | currency }}</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<button style="margin-top: 20px" class="col-lg-2 text-center btn btn-primary" ng-click="guardarCambios()"><span class="glyphicon glyphicon-save"></span>Guardar</button>
			<div-pagination class="col-lg-10" total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>
		</div>
	</div>

	<div class="col-lg-12" ng-show="hayError">
		<div-panel config-panel="mensajeResultado">
			<span>{{ mensajeResultado.mensaje }}</span>
		</div-panel>
	</div>

</div>