<div class="container" ng-controller="gatesCtrl">

	<div>
		<div class="row">
			<div class="col-lg-12">
				<h1><img ng-src="images/icon-gates.png" height="64" width="64" class="hidden-xs">Gates</h1>
			</div>
		</div>

		<div class="row">
			<table-gates ocultar-busqueda="false" model="model" datos-gates="gates" detalles-gates="detallesGates" total-items="totalItems" items-per-page="itemsPerPage" current-page="currentPage" config-panel="configPanel" loading-state="cargando"></table-gates>
		</div>
	</div>

</div>