<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="hidden-xs"><img ng-src="images/invoices.png" height="64" width="64"> Control de Gates</h1>
			<h1 class="visible-xs">Control de Gates</h1>
		</div>
	</div>

	<tabset justified="true">

		<tab class="hidden-print" heading="Facturaciones sin Gate">
			<div class="visible-print-block">
				<h3>Comprobantes sin gates</h3>
			</div>
			<br>
			<table-missing-gates dato-faltante="'gates'"></table-missing-gates>
		</tab>

		<tab class="hidden-print" heading="Gates sin Facturación">
			<div class="visible-print-block">
				<h3>Gates sin comprobantes</h3>
			</div>
			<br>
			<table-missing-invoices dato-faltante="'invoices'"></table-missing-invoices>
		</tab>

	</tabset>
	<br>
</div>