<div class="container" ng-controller="gatesInvoicesCtrl" >
	<div class="row" ng-hide="$state.includes('gates.invoices.result')">
		<div class="col-lg-12">
			<h4>Comprobantes del contenedor {{ contenedor }}</h4>
			<table-invoices datos-invoices="invoices" model="model" ocultar-filtros="['codComprobante', 'nroComprobante', 'razonSocial', 'fechaDesde' 'nroPtoVentaOrden', 'codTipoComprobOrden', 'nroComprobOrden', 'razonOrden', 'fechaOrden', 'importeOrden']" filtrar="filtrar(filtro, contenido)" mostrar-detalle="mostrarDetalle(comprobante)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>
			<button class="btn btn-default" ng-click="$state.go('^');"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
		</div>
	</div>
	<div class="row" ng-show="$state.includes('gates.invoices.result')" ng-init="ocultarFiltros=['codigo', 'contenedor', 'razonSocial']">
		<div ui-view></div>
	</div>
</div>