<div class="container" ng-controller="gatesCtrl">

	<div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="hidden-xs"><img src="images/icon-gates.png" height="64" width="64">Gates</h1>
				<h1 class="visible-xs">Gates</h1>
			</div>
		</div>

		<div class="row hidden-print" ng-hide="detallesGates">
			<containers-gates-search model="model" current-page="currentPage"></containers-gates-search>
		</div>

		<div class="row visible-print-block">
			<impresion-filtros></impresion-filtros>
		</div>

		<div class="row">
			<table-gates model="model" datos-gates="gates" detalles-gates="detallesGates" total-items="totalItems" current-page="currentPage" config-panel="configPanel" ></table-gates>
		</div>
	</div>

</div>