<div class="container col-lg-12">
	<div ng-hide="$state.includes('gates.invoices.result')">
		<fieldset><legend>Comprobantes del contenedor {{ container }}</legend></fieldset>
		<accordion-comprobantes-vistos comprobantes-vistos="comprobantesVistos" mostrar-detalle="mostrarDetalle(comprobante)"></accordion-comprobantes-vistos>
		<table-invoices datos-invoices="invoices" ocultar-filtros="['codComprobante', 'nroComprobante', 'razonSocial', 'fechaDesde' 'nroPtoVentaOrden', 'codTipoComprobOrden', 'nroComprobOrden', 'razonOrden', 'fechaOrden', 'importeOrden']" filtrar="filtrar(filtro, contenido)" acceso="{{acceso}}" filtro-orden="{{filtroOrden}}" filtro-orden-reverse="filtroOrdenReverse" mostrar-detalle="mostrarDetalle(comprobante)" filtrar-orden="filtrarOrden(filtro)" track-invoice="trackInvoice(comprobante, estado)"></table-invoices>
		<button class="btn btn-default" ng-click="$state.go('^'); paginationHide=false"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
	</div>
	<div class="row" ng-init="ocultarFiltros=['codigo', 'contenedor', 'razonSocial']">
		<div ui-view></div>
	</div>
</div>