<div class="container" ng-controller="gatesCtrl">

	<div>
		<div class="row">
			<div class="col-lg-12">
				<h1 id="forms">Gates</h1>
			</div>
		</div>

		<div class="row" data-ng-show="$state.includes('gates')" data-ng-hide="$state.includes('gates.invoices')">
			<accordion-gates-turnos-search model="model"></accordion-gates-turnos-search>
		</div>

		<div class="row" data-ng-show="$state.includes('gates')" data-ng-hide="$state.includes('gates.invoices')">
			<table-gates datos-gates="gates" filtrar-orden="filtrarOrden(filtro)" total-items="totalItems"></table-gates>
		</div>
	</div>

	<div data-ng-show="$state.includes('gates.invoices')">
		<div class="row printable">
			<div ui-view></div>
		</div>
	</div>

</div>