<div class="container">

	<div class="hidden-print">
		<div class="row">
			<div class="col-lg-12">
				<h1><img src="images/comprobantes.png" height="64" width="64" class="hidden-xs">Comprobantes</h1>
				<h3>{{terminal.full_name}} <span ng-show="acceso=='agp'">({{nombre}})</span></h3>
			</div>
		</div>

		<div data-ng-hide="$state.includes('invoices.result')">
			<vista-comprobantes datos-invoices="invoices" ocultar-filtros="ocultarFiltros" total-items="totalItems" loading-state="cargando" mostrar-ptos-venta="true"></vista-comprobantes>
		</div>

	</div>

	<div data-ng-show="$state.includes('invoices.result')">
		<div class="row">
			<div ui-view></div>
		</div>
	</div>

</div>
