<div class="container">

	<div class="hidden-print">
		<div class="row" data-ng-hide="$state.includes('gates.invoices')">
			<br>
			<div class="col-lg-1">
				<img src="images/comprobantes.png" height="110" width="108">
			</div>
			<div class="col-lg-11">
				<div class="row xpage-header">
					<h1 id="forms">Comprobantes - {{ terminal.full_name }}<span ng-show="acceso=='agp'" style="margin-left: 30px">({{ nombre }})</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" data-ng-hide="$state.includes('invoices.result')">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Buscar por:</strong></div>
					<div class="panel-body form-horizontal">
						<div class="form-group">
							<div class="col-lg-4">
								<div class="input-group">
									<input type="text" ng-keyup="hitEnter($event)" ng-model="nroComprobante" class="form-control" placeholder="N° Comprobante"/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.nroComprobante();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<input type="text" ng-model="vouchersType[codTipoComprob]" class="form-control" placeholder="Tipo Comprobante" toupper disabled/>
									<input type="hidden" ng-model="codTipoComprob" class="form-control"/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.codComprobante();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<input type="text" ng-keyup="hitEnter($event)" ng-model="razonSocial" class="form-control" placeholder="Raz&oacute;n Social" toupper/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.razonSocial();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-4">
								<div class="input-group">
									<input type="text" ng-keyup="hitEnter($event)" ng-model="documentoCliente" class="form-control" placeholder="Documento Cliente"/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.documentoCliente();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<input type="text" ng-keyup="hitEnter($event)" ng-model="contenedor" class="form-control" placeholder="Contenedor">
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.contenedor();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="input-group">
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openFechaDesde = !openFechaDesde;"><span class="glyphicon glyphicon-calendar"></span></button></span>
									<input type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="{{formatDate}}" ng-model="fechaDesde" is-open="openFechaDesde" datepicker-options="dateOptions" show-button-bar="false" />
									<span class="input-group-btn"><button class="btn btn-default" ng-click="filtrar.fechaDesde();"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
								</div>
							</div>
							<div class="col-lg-1">
								<button class="btn btn-primary" ng-click="cargaFacturas()"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<accordion data-ng-hide="$state.includes('invoices.result') || $state.includes('gates.invoices.result') || comprobantesVistos.length == 0">
			<accordion-group is-open="status.open">
				<accordion-heading>
					Comprobantes vistos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="col-lg-1 text-right">Pto. Venta</th>
							<th>Comprobante</th>
							<th class="col-lg-1 text-right">Nro</th>
							<th>Razón Social</th>
							<th class="text-center">Fecha</th>
							<th class="text-right">Importe Total</th>
							<th class="col-lg-1 text-center">Detalles</th>
							<th class="col-lg-1 text-center">Quitar</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="invoice in comprobantesVistos">
							<td class="text-right">{{ invoice.nroPtoVenta }}</td>
							<td><a href ng-click="filtrar.codComprobante(invoice.codTipoComprob)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ vouchersType[invoice.codTipoComprob] }}</td>
							<td class="text-right"><a href ng-click="filtrar.nroComprobante(invoice.nroComprob)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.nroComprob }}</td>
							<td><a href ng-click="filtrar.razonSocial(invoice.razon)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.razon }}</td>
							<td class="text-center"><a href ng-click="filtrar.fechaDesde(invoice.fecha.emision)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.fecha.emision | date: 'dd/MM/yyyy' }}</td>
							<td class="text-right">{{ moneda | formatCurrency }} {{ conversionMoneda(invoice.importe.total, invoice.codMoneda, invoice.cotiMoneda) | currency }}</td>
							<td class="text-center"><button ui-sref=".result" class="btn btn-info" ng-click="$parent.verDetalle = invoice"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
							<td class="text-center"><button class="btn btn-info" ng-click="$parent.quitarVista(invoice)"><span class="glyphicon glyphicon-remove"></span></button></td>
						</tr>
						</tbody>
					</table>
				</div>
			</accordion-group>
		</accordion>

		<div class="row" data-ng-show="$state.includes('gates.invoices')">
			<fieldset>
				<legend>Facturas del contenedor {{ container }}</legend>
			</fieldset>
		</div>

		<div class="row" data-ng-hide="$state.includes('invoices.result') || $state.includes('gates.invoices.result')">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="col-lg-1" style="text-align: right">Pto. Venta</th>
							<th>Comprobante</th>
							<th style="text-align: right" class="col-lg-1">Nro</th>
							<th >Razón Social</th>
							<th style="text-align: center">Fecha</th>
							<th style="text-align: right">Importe Total</th>
							<th class="col-lg-1" style="text-align: center">Detalles</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="invoice in invoices">
							<td style="text-align: right">{{ invoice.nroPtoVenta }}</td>
							<td><a href ng-click="filtrar.codComprobante(invoice.codTipoComprob)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ vouchersType[invoice.codTipoComprob] }}</td>
							<td style="text-align: right"><a href ng-click="filtrar.nroComprobante(invoice.nroComprob)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.nroComprob }}</td>
							<td><a href ng-click="filtrar.razonSocial(invoice.razon)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.razon }}</td>
							<td style="text-align: center"><a href ng-click="filtrar.fechaDesde(invoice.fecha.emision)" data-ng-hide="$state.includes('gates.invoices')"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.fecha.emision | date: 'dd/MM/yyyy' }}</td>
							<td style="text-align: right">{{ moneda | formatCurrency }} {{ conversionMoneda(invoice.importe.total, invoice.codMoneda, invoice.cotiMoneda) | currency }}</td>
							<td style="text-align: center"><button ui-sref=".result" class="btn btn-info" ng-click="$parent.mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div data-ng-hide="$state.includes('gates.invoices')">
					<div class="text-center"><pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="20" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></div>
				</div>
				<div data-ng-show="$state.includes('gates.invoices')">
					<button class="btn btn-default" ng-click="$state.go('^')"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
				</div>
			</div>
		</div>
	</div>

	<div data-ng-show="$state.includes('invoices.result') || $state.includes('gates.invoices.result')">
		<div class="row">
			<div ui-view></div>
		</div>
	</div>

</div>
