<div class="container" ng-controller="ratesCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="hidden-xs"><img src="images/icon-gates.png" height="64" width="64">Tasas a las cargas</h1>
			<h1 class="visible-xs">Tasas a las cargas</h1>
		</div>
	</div>
	<accordion-min heading="Filtrar por">
		<div class="col-lg-4 col-sm-6">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Día</span>
					<label class="sr-only" for="fechaInicio">Día</label>
					<input id="fechaInicio" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="model.fecha" is-open="openfechaInicio" max-date="maxDate" />
								<span class="input-group-btn">
									<button class="btn btn-default" ng-click="openDate($event); openfechaInicio = !openfechaInicio;"><span class="glyphicon glyphicon-calendar"></span></button>
								</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="form-group">
				<button class="btn btn-primary" ng-click="cargaRates()">Buscar</button>
			</div>
		</div>
	</accordion-min>
	<div-cargando mostrar="cargando">
		<div ng-hide="rates.length != undefined && rates.length > 0">
			<div-panel config-panel="configPanel">{{ configPanel.mensaje }}</div-panel>
		</div>
		<div ng-show="rates.length != undefined && rates.length > 0">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th><a href="" ng-click="ordenarPor('_id.terminal')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == '_id.terminal' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == '_id.terminal' && reverse"></span>
							Terminal
						</a></th>
						<th>C&oacute;digo</th>
						<th>Descripci&oacute;n</th>
						<th><a href="" ng-click="ordenarPor('ton')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'ton' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'ton' && reverse"></span>
							Toneladas
						</a></th>
						<th class="text-right"><a href="" ng-click="ordenarPor('total')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'total' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'total' && reverse"></span>
							Total
						</a></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="tasa in rates | orderBy : predicate : reverse">
						<td>{{ tasa._id.terminal }}</td>
						<td>{{ tasa._id.code }}</td>
						<td>{{ ponerDescripcion(tasa._id.code) }}</td>
						<td class="text-right">{{ tasa.ton }}</td>
						<td class="text-right">{{ moneda | formatCurrency }} {{ tasa.total | currency }}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="row" ng-show="mostrarGrafico">
				<div class="col-lg-12 text-center">
					<dynamic-chart
							data="chartDataReporteTarifas"
							title="{{chartTitleReporteTarifas}}"
							width="{{chartWidthReporteTarifas}}"
							height="{{chartHeightReporteTarifas}}"
							select="selectRow(selectedRowIndexReporteTarifas)"
							type="{{columnChart}}"
							currency="true"
							stacked="false"
							is3-d="false"
							money="monedaFija"
							columns="{{ tarifasElegidas }}">
					</dynamic-chart>

				</div>
			</div>
		</div>
	</div-cargando>
</div>