<!--<input type="text" ng-model="search" class="search-query" placeholder="Search">>-->
<div class="container">

	<div class="row hidden-print">
		<div class="col-lg-11">
			<div class="xpage-header">
				<h1 id="forms">Facturas</h1>
			</div>
		</div>
	</div>

	<div class="row" ng-init="onOff = false" ng-hide="onOff">
		<div class="col-lg-11">
			<div class="well" ng-hide="busquedaContenedor">
				<div class="form-group">
					<legend>Buscar Facturas por</legend>
					<div class="form-group">
						<div class="col-lg-2">
							<input type="text" ng-model="nroComprobante" class="form-control" placeholder="N° Comprobante">
						</div>
						<div class="col-lg-3">
							<input type="text" ng-model="razonSocial" class="form-control" placeholder="Raz&oacute;n Social">
						</div>
						<div class="col-lg-3">
							<input type="text" ng-model="documentoCliente" class="form-control" placeholder="Documento del Cliente">
						</div>
						<div class="col-lg-3">
							<p class="input-group">
								<input type="text" class="form-control" id="fechaDesde" datepicker-popup="{{format}}" ng-model="fechaDesde" is-open="openFechaDesde" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" />
								<span class="input-group-btn">
									<button class="btn btn-default" ng-click="open($event); openFechaDesde = true;"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
						<button type="button" class="btn btn-primary" ng-click="search()">Buscar</button>
					</div>
				</div>
			</div>
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>Comprobante</th>
					<th>Razon Social</th>
					<th>Fecha</th>
					<th>Importe Total</th>
					<th>Detalles</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="invoice in invoices">
					<td>{{ invoice.nroComprob }}</td>
					<td>{{ invoice.razon }}</td>
					<td>{{ invoice.fecha.emision | date: 'dd/MM/yyyy' }}</td>
					<td>${{ invoice.importe.total }}</td>
					<td><button ui-sref=".result" class="btn btn-primary" ng-click="$parent.verDetalle = invoice; $parent.onOff = !$parent.onOff">M&aacute;s detalles</button></td>
				</tr>
				</tbody>
			</table>
			<a href="" ><pagination href="" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></a>
		</div>
	</div>

	<div ng-hide="!onOff">
		<div ui-view></div>
	</div>

</div>
