<div class="container" ng-controller="">

	<div class="row">
		<div class="col-lg-12">
			<div class="xpage-header">
				<h1><img ng-src="images/Acceso.gif" height="64" width="64" class="hidden-xs"> Liquidaciones</h1>
			</div>
		</div>
	</div>

	<tabset justified="true">

		<tab class="hidden-print" heading="Sin Liquidar">
			<div class="visible-print-block">
				<h3>Sin liquidar</h3>
			</div>
			<br>
			<table-liquidaciones datos-invoice="sinLiquidar" items-per-page="itemsPerPage" total-items="totalSinLiquidar" liquidadas="false"></table-liquidaciones>
		</tab>

		<tab class="hidden-print" heading="Liquidaciones">
			<div class="visible-print-block">
				<h3>Liquidaciones</h3>
			</div>
			<br>
			<table-liquidaciones datos-invoice="liquidaciones" items-per-page="itemsPerPage" total-items="totalLiquidadas" liquidadas="true"></table-liquidaciones>
		</tab>

	</tabset>

</div>