<div class="container col-lg-offset-1 col-lg-10 col-md-12">

	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/liquidaciones.jpg" height="64" width="64" class="hidden-xs"> Liquidaciones</h1>
	</div>

	<!--<div class="col-lg-offset-10 col-lg-2 text-right">
		<button class="btn btn-info" ng-disabled="!ocultarCotizacion" ng-click="ocultarCotizacion = false">Ver cotizacion dólar</button>
	</div>-->

	<div class="animate-hide" ng-hide="ocultarCotizacion">
		<div class="modal-header bg-info" style="border-radius: 5px">
			<h3>Cotización</h3>
		</div>
		<div class="modal-body bg-info">
			<div class="table-responsive" style="height: 300px; overflow: scroll;">
				<table class="table table-bordered table-hover" style="text-align: center">
					<thead>
					<tr>
						<th>Fecha</th>
						<th>Cotización</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="cotizacion in datosDolar">
						<td>{{ cotizacion.FECHA | date: 'dd/MM/yyyy' }}</td>
						<td>{{ cotizacion.VALOR | currency: ('PES' | formatCurrency) }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer bg-info" style="border-radius: 5px">
			<button class="btn btn-info" ng-click="ocultarCotizacion = true">Cerrar</button>
		</div>
	</div>

	<uib-tabset justified="true">

		<uib-tab class="hidden-print" heading="Pre-Liquidar" select="cambiarModo('sinLiquidar')">
			<div class="col-lg-12">
				<div>
					<h3>Comprobantes sin liquidar</h3>
				</div>
				<hr>
				<liquidaciones-search model="sinLiquidar.model" ocultar-filtros="sinLiquidar.ocultarFiltros"></liquidaciones-search>
				<div class="col-lg-12 text-center" ng-show="sinLiquidar.cargando">
					<img class="media-object center-block" src="images/loading.gif">
				</div>
				<detalle-liquidacion
						payment="sinLiquidarPayment"
						tasa-agp="tasaAgp"
						ng-hide="sinLiquidar.cargando" >
				</detalle-liquidacion>
				<table-sin-liquidar
						payment="sinLiquidarPayment"
						tasa-agp="tasaAgp"
						ocultar-filtros="sinLiquidar.ocultarFiltros"
						ng-if="!sinLiquidar.cargando">
				</table-sin-liquidar>
				<div class="row">
					<div class="col-lg-6 text-left">
						<button class="btn btn-primary" ng-click="anexarComprobantes()" ng-disabled="!preLiquidacion.verDetalle">Anexar a pre-liquidación {{ preLiquidacion.selected.preNumber }}</button>
					</div>
					<div class="col-lg-6 text-right">
						<button class="btn btn-info" ng-click="descargarCSV()"><span class="glyphicon glyphicon-download"></span> Descargar CSV</button>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div>
					<h3>Pre-Liquidaciones</h3>
				</div>
				<hr>
				<liquidaciones-search model="preLiquidacion.model" ocultar-filtros="preLiquidacion.ocultarFiltros"></liquidaciones-search>
				<table-pre-liquidacion cargando="preLiquidacion.cargando" datos-pagos="preLiquidacion.datos" panel-mensaje="preLiquidacion.panelMensaje" detalle="cargarDetallePreLiquidacion(pago)"></table-pre-liquidacion>
				<!--<div-pagination total-items="totalLiquidaciones" items-per-page="itemsPerPage" current-page="currentPageLiquidaciones"></div-pagination>-->
				<div class="col-lg-12 hidden-print" ng-show="preLiquidacion.total > itemsPerPage">
					<div class="text-center visible-xs"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="5" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-sm"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="7" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-md"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="11" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-lg"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="15" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
				</div>
				<div class="row">
					<div class="col-lg-offset-8 col-lg-4 text-right">
						<button class="btn btn-primary" ng-click="preLiquidar()">Generar pre-liquidación</button>
					</div>
				</div>
				<hr>
				<accordion-min heading="Detalle Pre-Liquidación nº {{ preLiquidacion.selected.preNumber }}" ng-show="preLiquidacion.verDetalle">
					<!--<h5 class="col-lg-12"><strong> Toneladas: {{ preLiquidacion.detalle.tons | number: 2 }} - Tasa: U$S {{ preLiquidacion.detalle.total | currency }} - Importe: $ {{ preLiquidacion.detalle.totalPeso | currency }} - IVA: $ {{ preLiquidacion.detalle.totalPeso * 0.21 | currency }} - Total: $ {{ preLiquidacion.detalle.totalPeso * 1.21 | currency }}</strong></h5>-->
					<detalle-liquidacion
							payment="preLiquidacion.selected"
							tasa-agp="preLiquidacion.tasaAgp"
							ng-hide="!preLiquidacion.verDetalle">
					</detalle-liquidacion>
					<table-sin-liquidar
							payment="preLiquidacion.selected"
							ocultar-filtros="ocultarFiltrosComprobantes"
							tasa-agp="preLiquidacion.tasaAgp"
							ng-if="preLiquidacion.verDetalle">
					</table-sin-liquidar>
				</accordion-min>
				<div class="col-lg-12 text-right">
					<button class="btn btn-danger" ng-click="eliminarPreLiquidacion()" ng-disabled="!preLiquidacion.verDetalle">Eliminar</button>
					<button class="btn btn-primary" ng-click="liquidar()" ng-disabled="!preLiquidacion.verDetalle">Liquidar</button>
				</div>
			</div>

		</uib-tab>

		<uib-tab class="hidden-print" heading="Pre-Liquidaciones" select="cambiarModo('sinLiquidar')">
			<div class="col-lg-12">
				<div>
					<h3>Pre-Liquidaciones</h3>
				</div>
				<hr>
				<liquidaciones-search model="preLiquidacion.model" ocultar-filtros="preLiquidacion.ocultarFiltros"></liquidaciones-search>
				<table-pre-liquidacion cargando="preLiquidacion.cargando" datos-pagos="preLiquidacion.datos" panel-mensaje="preLiquidacion.panelMensaje" detalle="cargarDetallePreLiquidacion(pago)"></table-pre-liquidacion>
				<!--<div-pagination total-items="totalLiquidaciones" items-per-page="itemsPerPage" current-page="currentPageLiquidaciones"></div-pagination>-->
				<div class="col-lg-12 hidden-print" ng-show="preLiquidacion.total > itemsPerPage">
					<div class="text-center visible-xs"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="5" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-sm"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="7" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-md"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="11" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-lg"><uib-pagination boundary-links="true" total-items="preLiquidacion.total" items-per-page="itemsPerPage" ng-model="preLiquidacion.currentPage" max-size="15" ng-click="cargarPreLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
				</div>
				<div class="row">
					<detalle-liquidacion ng-show="preLiquidacion.verDetalle" payment="preLiquidacion.selected"></detalle-liquidacion>
					<div class="col-lg-offset-8 col-lg-4 text-right">
						<br>
						<button class="btn btn-danger" ng-click="eliminarPreLiquidacion()" ng-disabled="!preLiquidacion.verDetalle">Eliminar</button>
						<button class="btn btn-primary" ng-click="liquidar()" ng-disabled="!preLiquidacion.verDetalle">Liquidar</button>
					</div>
				</div>
			</div>
		</uib-tab>

		<uib-tab class="hidden-print" heading="Liquidaciones" select="cambiarModo('liquidacion')">
			<div class="col-lg-12">
				<div>
					<h3>Liquidaciones</h3>
				</div>
				<hr>
				<liquidaciones-search model="liquidacion.model" ocultar-filtros="liquidacion.ocultarFiltros"></liquidaciones-search>
				<table-pagos cargando="liquidacion.cargando" data="liquidacion.datos" panel-mensaje="liquidacion.panelMensaje" detalle="detalleLiquidacion($event, pago)"></table-pagos>
				<div class="col-lg-12 hidden-print" ng-show="liquidacion.total > itemsPerPage">
					<div class="text-center visible-xs"><uib-pagination boundary-links="true" total-items="liquidacion.total" items-per-page="itemsPerPage" ng-model="liquidacion.currentPage" max-size="5" ng-click="cargarLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-sm"><uib-pagination boundary-links="true" total-items="liquidacion.total" items-per-page="itemsPerPage" ng-model="liquidacion.currentPage" max-size="7" ng-click="cargarLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-md"><uib-pagination boundary-links="true" total-items="liquidacion.total" items-per-page="itemsPerPage" ng-model="liquidacion.currentPage" max-size="11" ng-click="cargarLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
					<div class="text-center visible-lg"><uib-pagination boundary-links="true" total-items="liquidacion.total" items-per-page="itemsPerPage" ng-model="liquidacion.currentPage" max-size="15" ng-click="cargarLiquidaciones()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
				</div>
				<accordion-min heading="Comprobantes - Liquidación número: {{ liquidacion.selected.number }}" ng-if="liquidacion.verDetalle">
					<table-sin-liquidar
						payment="liquidacion.selected"
						ocultar-filtros="ocultarFiltrosComprobantes"
						tasa-agp="tasaAgp">
					</table-sin-liquidar>
				</accordion-min>
			</div>
		</uib-tab>

	</uib-tabset>

</div>