<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<div class="xpage-header">
				<h1 id="forms">Ingreso</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="well">
				<form ng-submit="login()" class="bs-example form-horizontal">
					<fieldset>
						<legend>Usuario</legend>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="email" class="form-control" ng-model="email" id="inputEmail" placeholder="Ingresar correo electrónico" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-keyup="hitEnter($event, price)" ng-model="password" id="inputPassword" placeholder="Ingresar clave" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary" ng-disabled="entrando">Entrar</button>
								<button type="button" ui-sref="changepass" class="btn">Cambiar password</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</div>