<!-- SIN USAR POR AHORA -->

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span></span> {{ tarifa.code }} - {{ tarifa.description }}
                </h4>
            </div>
            <div class="modal-body">
                <span>{{ match.codes.codeNew.length }} c&oacute;digos cargados.</span>
                <ul class="unstyled">
                    <li ng-repeat="codigo in match.codes.codeNew">
                        <span>{{ codigo }}</span>
                    </li>
                </ul>
                <!--<form ng-submit="agregarCodigo()">
                    <input type="text" ng-model="nuevoCodigo" ng-keyup="hitEnter($event)" required
                           size=30 placeholder="agregue nuevo código aquí">
                    <input class="btn-primary" type="submit" value="agregar">
                </form>-->
                <form ng-submit="agregarCodigo(nuevoCodigo)">
                    <input type="text" ng-model="nuevoCodigo" required
                           size=30 placeholder="agregue nuevo código aquí">
                    <input class="btn-primary" type="submit" value="agregar">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
            </div>
        </div>
    </div>
</div>