<div class="container" ng-controller="matchPricesCtrl">

	<div ng-hide="nuevoConcepto">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="hidden-xs"><img src="images/asociar.png" height="64" width="64">Asociación de tarifario</h1>
				<h1 class="visible-xs">Asoc. de tarifario</h1>
				<h3>{{terminal.full_name}} <span ng-show="acceso=='agp'">({{nombre}})</span></h3>
			</div>
		</div>

		<div class="row hidden-print" ng-hide="hayError">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o tarifa" toupper>
					<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="conMatch">Sólo códigos asociados
					</label>
					<label>
						<input type="checkbox" ng-model="tasas" ng-change="prepararDatos()">Sólo tasa a las cargas
					</label>
				</div>
			</div>
		</div>
		<!--<div class="row" ng-show="acceso=='terminal'">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o tarifa" toupper>
					<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
				</div>
			</div>
		</div>-->
		<div class="row" ng-hide="flagGuardado">
			<div class="col-lg-6">
				<div class="alert alert-dismissable alert-success">
					<button type="button" class="close" ng-click="esconderAlerta()">×</button>
					<strong>Éxito</strong> - Se han guardado los códigos de la página anterior.
				</div>
			</div>
		</div>

		<div class="row" ng-hide="hayError">
			<div class="col-lg-12">
				<div class="bs-example table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th><a href="" ng-click="ordenarPor('code')">
								<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'code' && !reverse"></span>
								<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'code' && reverse"></span>
								<span class="glyphicon glyphicon-bookmark"></span> Código
							</a></th>
							<th><a href="" ng-click="ordenarPor('description')">
								<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'description' && !reverse"></span>
								<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'description' && reverse"></span>
								<span class="glyphicon glyphicon-credit-card"></span> Tarifa
							</a></th>
							<th><a href="" ng-click="ordenarPor('topPrices[0].price')">
								<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'topPrices[0].price' && !reverse"></span>
								<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'topPrices[0].price' && reverse"></span>
								<span class="glyphicon glyphicon-credit-card"></span> Tope
							</a></th>
							<th><span class="glyphicon glyphicon-check"></span> Código asociado</th>
							<th class="hidden-print" ng-show="acceso=='terminal'"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</th>
						</tr>
						</thead>
						<tbody>
						<tr style="height:60px" ng-repeat="price in filteredPrices = (listaSeleccionada | filter: search) | orderBy : predicate : reverse | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" class="{{ price.claseFila }}">
							<td class="col-lg-1">
								<span>{{ price.code }}</span>
							</td>
							<td class="col-lg-5">
								<span>{{ price.description | maxLength : 160 }}</span><a href="" ng-show="(price.description.length > 160) && !price.editar" popover="{{ price.description }}" popover-trigger="mouseenter"> (...)</a>
							</td>
							<td class="col-lg-2 text-right">
								<span>{{ price.topPrices[0].currency | formatCurrency }} {{ price.topPrices[0].price | currency }}</span>
							</td>
							<td class="col-lg-2" style="text-align: right">
								<span ng-repeat="codigo in price.matches[0].match track by $index" ng-show="acceso=='terminal'">
									<a title="Eliminar" href ng-click="borrar(price, codigo)">{{ codigo }}</a>
									<span ng-show="!$last">, </span>
								</span>
								<span ng-repeat="codigo in price.matches[0].match track by $index" ng-show="acceso=='agp'">
									<span>{{ codigo }}</span>
									<span ng-show="!$last">, </span>
								</span>
							</td>
							<td class="col-lg-2 hidden-print" style="text-align: right" ng-show="acceso=='terminal'">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="price.new" ng-keyup="hitEnter($event, price)" toupper>
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary" ng-click="agregarCodigo(price, $index)" ng-init="price.disabled = true" ng-disabled="price.disabled"><span class="glyphicon glyphicon-plus"></span></button>
									</span>
								</div>
							</td>
							<td ng-show="price.terminal != 'AGP' && puedeEditar">
								<button class="btn btn-primary" popover="Modificar tarifa" popover-trigger="mouseenter" ng-click="editarTarifa(price)"><span class="glyphicon glyphicon-edit"></span></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div-pagination total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>

		<div class="row hidden-print" ng-show="acceso=='terminal' && !hayError">
			<div class="col-lg-12">
				<button class="btn btn-primary" ng-click="guardar()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
				<button class="btn" ng-click="abrirNuevoConcepto()"><span class="glyphicon glyphicon-asterisk"></span> Nuevo concepto</button>
			</div>
		</div>

		<div class="col-lg-12" ng-show="hayError">
			<div-panel config-panel="mensajeResultado">
				<span>{{ mensajeResultado.mensaje }}</span>
			</div-panel>
		</div>

	</div>

	<div ng-show="nuevoConcepto">

		<div class="row">
			<div class="col-lg-12">
				<div class="xpage-header">
					<h1 id="nuevo">Otras tarifas</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="well">
					<form ng-submit="guardarNuevoConcepto()" name="cargaNuevoConcepto">

						<legend>Tarifa</legend>
						<div class="row">
							<div class="form-group col-lg-3">
								<div class="input-group">
									<span class="input-group-addon">Código</span>
									<input type="text" class="form-control" ng-model="codigo" id="inputCodigo" placeholder="Ingresar código" ng-required="esRequerido" toupper>
								</div>
							</div>
							<div class="form-group col-lg-3">
								<div class="input-group">
									<span class="input-group-addon">Unidad</span>
									<select class="form-control" id="inputUnidad" ng-model="unidad" ng-required="esRequerido">
										<option ng-repeat="unit in unidadesTarifas" value="{{ unit._id }}">{{ unit.description }}</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<div class="input-group">
									<span class="input-group-addon">Descripción</span>
									<input type="text" class="form-control" ng-model="descripcion" id="inputDescri" placeholder="Ingresar descripcion" ng-required="esRequerido">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-3" ng-hide="flagEditando">
								<div class="input-group">
									<span class="input-group-addon">Moneda</span>
									<select class="form-control" id="inputMoneda" ng-model="moneda" ng-required="esRequerido">
										<option value="DOL">U$S</option>
										<option value="PES" ng-selected="true">$ARG</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-3" ng-hide="flagEditando">
								<div class="input-group">
									<span class="input-group-addon">Precio</span>
									<input type="text" class="form-control" ng-model="precio" id="inputPrecio" placeholder="Ingresar precio" ng-required="esRequerido">
								</div>
							</div>
							<div class="form-group col-lg-1">
								<div class="input-group" ng-hide="flagEditando">
									<button class="btn btn-default" ng-click="salir()" ng-hide="flagEditando"><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</button>
								</div>
							</div>
							<div class="form-group col-lg-1">
								<div class="input-group" ng-hide="flagEditando">
									<button type="submit" class="btn btn-primary col-lg-offset-1" ng-hide="flagEditando"><span class="glyphicon glyphicon-save"></span> Agregar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row col-lg-12" ng-show="flagEditando">
			<div class="col-lg-6" ng-show="preciosHistoricos.length > 0">
				<legend>Tarifas hitóricas</legend>
				<div class="bs-example table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="col-lg-4 text-center">
								<span class="glyphicon glyphicon-bookmark"></span> Fecha
							</th>
							<th class="col-lg-4 text-center">
								<span class="glyphicon glyphicon-usd"></span> Moneda
							</th>
							<th class="col-lg-4 text-center">
								<span class="glyphicon glyphicon-credit-card"></span> Precio
							</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="price in preciosHistoricos">
							<td class="col-lg-4 text-center">
								<div class="input-group">
									<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="price.from" is-open="openFechaTarifa"/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openFechaTarifa = !openFechaTarifa;"><span class="glyphicon glyphicon-calendar"></span></button></span>
								</div>
							</td>
							<td class="col-lg-4 text-center">
								<select class="form-control" ng-model="price.currency" ng-required="esRequerido">
									<option value="DOL" ng-selected="true">U$S</option>
									<option value="PES">$ARG</option>
								</select>
							</td>
							<td class="col-lg-4 text-center">
								<input type="text" class="form-control" ng-model="price.price" placeholder="Ingresar precio" ng-required="esRequerido">
							</td>
						</tr>
						<tr>
							<td class="col-lg-4 text-center">
								<div class="input-group">
									<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="newFrom" is-open="openNewFrom"/>
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openNewFrom = !openNewFrom;"><span class="glyphicon glyphicon-calendar"></span></button></span>
								</div>
							</td>
							<td class="col-lg-4 text-center">
								<select class="form-control" ng-model="newCurrency" ng-required="esRequerido">
									<option value="DOL">U$S</option>
									<option value="PES">$ARG</option>
								</select>
							</td>
							<td class="col-lg-4 text-center">
								<input type="text" class="form-control" ng-model="newPrice" placeholder="Ingresar precio">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<button class="btn btn-default" ng-click="salir()"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
						<button class="btn btn-primary" ng-click="guardarNuevoConcepto()" ><span class="glyphicon glyphicon-save"></span> Guardar</button>
					</div>
					<div class="col-lg-6 text-right">
						<button class="btn btn-danger" ng-click="eliminarTarifa()"><span class="glyphicon glyphicon-remove"></span> Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>