<div class="container">
	<div ng-hide="listaMatch">
		<div class="row">
			<div class="col-lg-11">
				<div class="xpage-header">
					<h1 id="forms">Tarifario - {{ dataUser.full_name }}</h1>
				</div>
			</div>
		</div>

		<div class="row" ng-hide="flagGuardado">
			<div class="col-lg-11">
				<div class="alert alert-dismissable alert-success">
					<button type="button" class="close" ng-click="esconderAlerta()">×</button>
					<strong>Éxito</strong> - Se han guardado los códigos de la página anterior.
				</div>
			</div>
		</div>

		<div class="well">
			<div class="form-group">
				<legend>Buscar Tarifa por</legend>
				<div class="form-group">
					<div class="col-lg-4">
						<input type="text" ng-model="codigo" class="form-control" placeholder="Codigo">
					</div>
					<div class="col-lg-4">
						<input type="text" ng-model="codigoAsociado" class="form-control" placeholder="Codigo Asociado">
					</div>
					<button type="button" class="btn btn-primary" ng-click="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-11">
				<div class="bs-example table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>Código</th>
							<th width="60%">Tarifa</th>
							<th width="15%">Cod. Asociado</th>
							<th width="20%">Cargar</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="price in filteredPrices" class="{{ price.match.claseFila }}">
							<td>{{ price._id }}</td>
							<td>{{ price.description }}</td>
							<td>
								<span ng-repeat="codigo in price.match[0].codes track by $index"><a title="Eliminar" href ng-click="borrar(price, codigo)">{{ codigo }}</a><span ng-show="!$last">, </span></span>
							</td>
							<td>
								<div class="col-lg-9">
									<input type="text" class="form-control" ng-model="price.new" size=10 ng-keyup="hitEnter($event, price)">
								</div>
								<input class="btn btn-primary" type="button" value="+" ng-click="agregarCodigo(price, $index)">
							</td>
						</tr>
						</tbody>
					</table>
				</div><!-- /example -->
			</div>
		</div>
		<a href="" ><pagination href="" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></a>
		<div class="row">
			<div class="col-lg-11">
				<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
				<button class="btn" ng-click="abrirNuevoConcepto()">Nuevo concepto</button>
			</div>
		</div>
	</div>
    <!--</div>-->

	<div ng-hide="nuevoConcepto">
		<div class="row">
			<div class="col-lg-12">
				<div class="xpage-header">
					<h1 id="nuevo">Otras tarifas</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="well">
					<form ng-submit="guardarNuevoConcepto()" class="bs-example form-horizontal">
						<fieldset>
							<legend>Tarifa</legend>
							<div class="form-group">
								<label for="inputCodigo" class="col-lg-2 control-label">Código</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="codigo" id="inputCodigo" placeholder="Ingresar código" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputDescri" class="col-lg-2 control-label">Descripción</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="descripcion" id="inputDescri" placeholder="Ingresar descripcion" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputUnidad" class="col-lg-2 control-label">Unidad</label>
								<div class="col-lg-10">
									<select class="form-control" id="inputUnidad" ng-model="unidad" ng-required="true">
										<option value="CONTAINER">Contenedor</option>
										<option value="TN">tn</option>
										<option value="BOX">cajón</option>
									</select>
								</div>
								<!--<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="unidad" id="inputUnidad" placeholder="Ingresar unidad" ng-required="true">
								</div>-->
							</div>
							<div class="form-group">
								<label for="inputMoneda" class="col-lg-2 control-label">Moneda</label>
								<div class="col-lg-10">
									<select class="form-control" id="inputMoneda" ng-model="moneda" ng-required="true">
										<option value="DOL">U$S</option>
										<option value="PES">$ARG</option>
									</select>
								</div>
								<!--<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="moneda" id="inputMoneda" placeholder="Ingresar moneda" ng-required="true">
								</div>-->
							</div>
							<div class="form-group">
								<label for="inputPrecio" class="col-lg-2 control-label">Precio</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="precio" id="inputPrecio" placeholder="Ingresar precio" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
									<button type="submit" class="btn btn-primary">Agregar</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<br>