<div class="container">
	<div ng-hide="listaMatch">
		<div class="row">
			<div class="col-lg-11">
				<div class="xpage-header">
					<h1 id="forms">Tarifario</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-11">
				<div class="bs-example table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th>Código</th>
							<th width="60%">Tarifa</th>
							<th width="15%">Cod. Asociado</th>
							<th width="20%">Cargar</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="price in pricelist">
							<td>{{ price.id }}</td>
							<td>{{ price.description }}</td>
							<td>
								<span ng-repeat="codigo in price.match.codes[0].codes track by $index"><a title="Eliminar" href ng-click="borrar(price, codigo)">{{ codigo }}</a><span ng-show="!$last">, </span></span>
							</td>
							<td>
								<div class="col-lg-9">
									<input type="text" class="form-control" ng-model="price.new" size=10 ng-keyup="hitEnter($event, price)">
								</div>
								<input class="btn btn-primary" type="button" value="+" ng-click="agregarCodigo(price)">
							</td>
						</tr>
						</tbody>
					</table>
				</div><!-- /example -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
				<button class="btn" ng-click="abrirNuevoConcepto()">Nuevo concepto</button>
			</div>
		</div>
	</div>
    <!--</div>-->

	<div ng-hide="nuevoConcepto">
		<div class="row">
			<div class="col-lg-12">
				<div class="xpage-header">
					<h1 id="nuevo">Otras tarifas</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="well">
					<form ng-submit="guardarNuevoConcepto()" class="bs-example form-horizontal">
						<fieldset>
							<legend>Tarifa</legend>
							<div class="form-group">
								<label for="inputCodigo" class="col-lg-2 control-label">Código</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="codigo" id="inputCodigo" placeholder="Ingresar código" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputDescri" class="col-lg-2 control-label">Descripción</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="descripcion" id="inputDescri" placeholder="Ingresar descripcion" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputUnidad" class="col-lg-2 control-label">Unidad</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="unidad" id="inputUnidad" placeholder="Ingresar unidad" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputMoneda" class="col-lg-2 control-label">Moneda</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="moneda" id="inputMoneda" placeholder="Ingresar moneda" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPrecio" class="col-lg-2 control-label">Precio</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" ng-model="precio" id="inputPrecio" placeholder="Ingresar precio" ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
									<button type="submit" class="btn btn-primary">Agregar</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
