<accordion-invoices-search model="model" ocultar-filtros="ocultarFiltros"></accordion-invoices-search>

<div class="col-lg-12 text-center" ng-show="cargando">
	<img class="media-object center-block" src="images/loading.gif">
</div>
<div class="col-lg-12" ng-hide="cargando">
	<div ng-hide="datosFaltantes.length != undefined && filteredDatos.length > 0">
		<div-panel config-panel="configPanel">
			{{ configPanel.mensaje }}
			<p ng-show="hayError">Presione <a href ng-click="recargar()">aquí</a> para volver a intentarlo.</p>
		</div-panel>
	</div>
	<div ng-show="datosFaltantes.length != undefined && filteredDatos.length > 0">
		<h5><strong>Resultados: {{ filteredDatos.length }}</strong><span class="visible-print-block"><strong>Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }} (página {{ currentPage }})</strong></span></h5>
		<div class="table-responsive" ng-hide="cargando">
			<table class="table table-striped table-bordered table-hover" style="text-align: center">
				<thead>
				<tr>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('gateTimestamp')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'gateTimestamp' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'gateTimestamp' && $parent.reverse"></span>
						Fecha
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('buque')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'buque' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'buque' && $parent.reverse"></span>
						Buque
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('viaje')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'viaje' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'viaje' && $parent.reverse"></span>
						Viaje
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('contenedor')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'contenedor' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'contenedor' && $parent.reverse"></span>
						Contenedor
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('patenteCamion')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'patenteCamion' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'patenteCamion' && $parent.reverse"></span>
						Patente camión
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('tipo')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'tipo' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'tipo' && $parent.reverse"></span>
						Tipo
					</a></th>
					<th style="text-align: center">
						Horario
					</th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('turnoInicio')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'turnoInicio' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'turnoInicio' && $parent.reverse"></span>
						Inicio turno
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('turnoFin')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'turnoFin' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'turnoFin' && $parent.reverse"></span>
						Fin turno
					</a></th>
					<th style="text-align: center"><a href="" ng-click="$parent.ordenarPor('mov')">
						<span class="glyphicon glyphicon-sort-by-attributes" ng-show="$parent.predicate == 'mov' && !$parent.reverse"></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="$parent.predicate == 'mov' && $parent.reverse"></span>
						Movimiento
					</a></th>
					<th style="text-align: center">
						<span class="glyphicon glyphicon-zoom-in"></span>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr class="fila-animada" ng-repeat="registro in filteredDatos | orderBy: $parent.predicate : $parent.reverse | startFrom:(currentPage-1) * model.itemsPerPage | limitTo:model.itemsPerPage">
					<td>{{ registro.gateTimestamp | date: 'dd/MM/yyyy' }}</td>
					<td>{{ registro.buque }}</td>
					<td>{{ registro.viaje }}</td>
					<td>{{ registro.contenedor }}</td>
					<td>{{ registro.patenteCamion }}</td>
					<td><span class="label" ng-class="{'label-success' : registro.tipo == 'IN', 'label-danger' : registro.tipo == 'OUT'}">{{ registro.tipo }}</span></td>
					<td ng-init="colorH = colorHorario(registro)" ng-style="{'color': colorH}">{{ registro.gateTimestamp | date: 'HH:mm' }}</td>
					<td>{{ registro.turnoInicio | date: 'HH:mm' }}</td>
					<td>{{ registro.turnoFin | date: 'HH:mm' }}</td>
					<td>{{ registro.mov }}</td>
					<td><a href="" ng-click="detalleContenedor(registro.contenedor)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
				</tr>
			</table>
		</div>
		<div-pagination total-items="filteredDatos.length" current-page="currentPage" items-per-page="model.itemsPerPage"></div-pagination>
	</div>
</div>

<div ng-show="mostrarDetalle" ng-controller="buqueViajeCtrl">
	<buque-viaje-detail></buque-viaje-detail>
</div>