<div class="container" ng-controller="changePassCtrl">

	<div class="row">
		<div class="col-lg-12">
			<div class="xpage-header">
				<h1 id="forms">Cambio de contraseña</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="well">
				<form ng-submit="changePass()" class="bs-example form-horizontal">
					<fieldset>
						<legend>Usuario</legend>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="email" class="form-control" ng-model="email" id="inputEmail" placeholder="Ingresar correo electrónico" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Password anterior</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="password" id="inputPassword" placeholder="Ingresar clave" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label for="newPassword" class="col-lg-2 control-label">Nuevo Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="newPass" id="newPassword" placeholder="Ingresar clave" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label for="confirmPassword" class="col-lg-2 control-label">Confirmar Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="confirmPass" id="confirmPassword" placeholder="Ingresar clave" ng-required="true" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button ui-sref="login" class="btn btn-default">Cancelar</button>
								<button type="submit" class="btn btn-primary">Guardar</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--</div>-->
</div>