<div class="container col-lg-offset-1 col-lg-10 col-md-12">

	<div class="row col-lg-12 page-header">
		<h1 class="hidden-xs"><img ng-src="images/tarifario.png" height="64" width="50" class="hidden-xs">Tarifario</h1>
	</div>

	<div class="row hidden-print" ng-hide="hayError">
		<div class="col-lg-12">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Buscar por código, descripción o tarifa" toupper>
				<span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tasas" ng-change="actualizarPricelist()" ng-disabled="!tiposTarifas[0].active">Sólo tasa a las cargas
				</label>
			</div>
		</div>
	</div>

	<div class="row" ng-hide="hayError">
		<div class="col-lg-12">
			<ul class="nav nav-tabs hidden-print">
				<li ng-repeat="tipoTarifa in tiposTarifas" ng-class="{'active': tipoTarifa.active}">
					<a href ng-click="cambiarTarifas(tipoTarifa);">{{ tipoTarifa.nombre }}</a>
				</li>
			</ul>
			<br>

				<table class="invoice-shadow table table-bordered table-responsive">
					<thead>
					<tr>
						<th style="width: 10%"><a href="" ng-click="ordenarPor('code')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'code' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'code' && reverse"></span>
							<span class="glyphicon glyphicon-bookmark"></span> Código
						</a></th>
						<th style="width: 64%"><a href="" ng-click="ordenarPor('description')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'description' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'description' && reverse"></span>
							<span class="glyphicon glyphicon-credit-card"></span> Tarifa
						</a></th>
						<th style="width: 12%"><a href="" ng-click="ordenarPor('unit')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'unit' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'unit' && reverse"></span>
							<span class="glyphicon glyphicon-tag"></span> Unidad
						</a></th>
						<th style="width: 14%"><a href="" ng-click="ordenarPor('orderPrice')">
							<span class="glyphicon glyphicon-sort-by-attributes" ng-show="predicate == 'orderPrice' && !reverse"></span>
							<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="predicate == 'orderPrice' && reverse"></span>
							<span class="glyphicon glyphicon-usd"></span> Tope
						</a></th>
					</tr>
					</thead>
					<tbody ng-repeat="price in filteredPrices = (listaElegida | filter:search | orderBy: predicate : reverse) | emptyToEnd: predicate | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage track by $index">
					<tr style="height:60px" class="hidden-print clickableRow" ng-click="showDetail($index)">
						<td style="width: 10%">{{ price.code }}</td>
						<td style="width: 64%">{{ price.description | maxLength : 210 }}<a href="" ng-show="(price.description.length > 210)"uib-popover="{{ price.description }}" popover-trigger="mouseenter"> (...)</a></td>
						<td style="width: 12%">{{ price.unit}}</td>
						<td style="text-align: right; width: 14%">
							<span ng-show="!(price.topPrices[price.topPrices.length-1].price > 0)" class="glyphicon glyphicon-warning-sign text-danger"> Sin definir</span> <span ng-show="price.topPrices[price.topPrices.length-1].price > 0">{{ price.topPrices[price.topPrices.length-1].price | currency: (price.topPrices[price.topPrices.length-1].currency | formatCurrency) }}</span>
						</td>
					</tr>
					<tr ng-repeat="top in price.topPrices" ng-init="price.SHOW = false" ng-show="price.SHOW">
						<td colspan="3" class="text-right">Vigencia: {{ top.from | date: 'dd/MM/yyyy HH:mm' }}</td>
						<td class="text-right">{{ top.price | currency: (top.currency | formatCurrency) }}</td>
					</tr>
					<tr style="height:60px" class="visible-print" ng-repeat="price in pricelist | filter:search | orderBy: predicate : reverse">
						<td style="width: 10%">{{ price.code }}</td>
						<td style="width: 64%">{{ price.description }}</td>
						<td style="width: 12%">{{ price.unit}}</td>
						<td style="text-align: right; width: 14%" >
							<span ng-show="!(price.topPrices[price.topPrices.length-1].price > 0)" class="glyphicon glyphicon-warning-sign text-danger"> Sin definir</span> <span ng-show="price.topPrices[price.topPrices.length-1].price > 0">{{ price.topPrices[price.topPrices.length-1].price | currency: (price.topPrices[price.topPrices.length-1].currency | formatCurrency) }}</span>
						</td>
					</tr>
					</tbody>
				</table>

			<div-pagination total-items="filteredPrices.length" items-per-page="itemsPerPage" current-page="currentPage"></div-pagination>
			<div class="col-lg-2" uib-dropdown is-open="status.isopen">
				<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disable="procesando">
					<span ng-show="!procesando"><span class="glyphicon glyphicon-list"></span> Exportar <span class="caret"></span></span>
					<span ng-show="procesando"><img src="images/loadingChico.gif" height="20" width="20"> Procesando</span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a href ng-click="exportarAPdf()">a PDF</a></li>
					<li role="menuitem"><a href ng-click="exportarAExcel()">a CSV</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-12" ng-show="hayError">
		<div-panel config-panel="mensajeResultado">
			<span>{{ mensajeResultado.mensaje }}</span>
		</div-panel>
	</div>

</div>
