<div class="container">

    <div class="row">
        <div class="col-lg-11">
            <div class="xpage-header">
                <h1 id="forms">Tarifario</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11">
            <div class="bs-example table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Tarifa</th>
                        <th>Unidad</th>
                        <th>Tope</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="price in filteredPrices">
                        <td>{{ price.id }}</td>
                        <td>{{ price.description }}</td>
                        <td>{{ price.unitCurrency}}</td>
                        <td class="text-right">{{ price.topPrice }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<a href="" ><pagination href="" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></a>
</div>
