<div class="container-fluid col-lg-12">
    <div class="visible-print-block">
        <h3>Facturación por empresa</h3>
    </div>
    <br>
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes</h3>
                </div>
                <div class="panel-body" style="max-height: 720px; overflow: scroll">
                    <input type="text" class="form-control" ng-model="searchClient" placeholder="Razón Social">
                    <h5 ng-repeat="cliente in filteredClientes = (listaClientes | filter: searchClient )"><a href ng-click="clientSelected(cliente)">{{ cliente.nombre }}</a></h5>
                </div>
            </div>
            <h6><strong>Total empresas: {{ listaClientes.length }}</strong></h6>
        </div>
        <div class="col-lg-9">
            <reporte-empresas-search model="model" ranking="ranking"></reporte-empresas-search>
            <div class="col-lg-12">
                <div-panel config-panel="mensajeResultado" ng-show="model.clients.length > 0">
                    <div>{{ model.clients.length }} clientes seleccionados:</div>
                    <div>
							<span ng-repeat="cliente in model.clients">
								<div style="width: auto; float:left; text-align:center"><a href ng-click="quitarCliente(cliente)"> {{ cliente }}</a><span ng-show="!$last"> -&nbsp</span></div>
							</span>
                    </div>
                </div-panel>
            </div>
            <div class="col-lg-12" ng-show="cargando">
                <img class="media-object center-block" src="images/loading.gif">
            </div>
            <div class="col-lg-12" ng-hide="cargando || resultados.length > 0">
                <div-panel config-panel="mensajeResultado">
                    <span>{{ mensajeResultado.mensaje }}</span>
                </div-panel>
            </div>
            <div class="col-lg-12" ng-hide="cargando || resultados.length == 0">
                <div class="table-responsive invoice-shadow">
                    <table class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                        <tr>
                            <th>CUIT</th>
                            <th>Razón social</th>
                            <th class="text-right">Comp.</th>
                            <th class="text-right">Porcentaje</th>
                            <th class="text-right">Promedio</th>
                            <th class="text-right">Máxima</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="total in resultados">
                            <td>{{ total.cuit }}</td>
                            <td>{{ total.razon }}</td>
                            <td class="text-right">{{ total.cnt }}</td>
                            <td class="text-right">% {{ total.total*100/totalTerminal | number: 2 }}</td>
                            <td class="text-right">{{ total.avg | currency: ('PES' | formatCurrency ) }}</td>
                            <td class="text-right">{{ total.max | currency: ('PES' | formatCurrency ) }}</td>
                            <td class="text-right">{{ total.total | currency: ('PES' | formatCurrency ) }}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right"><strong>Total facturado por la terminal en el período</strong></td>
                            <td colspan="2" class="text-right">{{ totalTerminal | currency: ('PES' | formatCurrency ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-hide="cargando || resultados.length == 0">
            <div class="col-lg-6 table-responsive">
                <dynamic-chart
                        chart-object="chartReporteEmpresas"
                        select="selectRow(selectedRowIndexReporteEmpresas)">
                </dynamic-chart>
            </div>
            <div class="col-lg-6 table-responsive">
                <dynamic-chart
                        chart-object="chartPorcentaje"
                        select="selectRow(selectedRowIndexPorcentaje)">
                </dynamic-chart>
            </div>
        </div>
        <div class="col-lg-12 text-right" ng-hide="cargando || resultados.length == 0">
            <button class="btn btn-success" ng-click="descargarPdf()"><span class="glyphicon glyphicon-download"></span> Descargar PDF</button>
            <div class="col-lg-2" uib-dropdown is-open="status.isopen" style="margin-top: 20px;">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-list"></span> Descargar CSV <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href ng-click="descargarCsv(false)">Parcial</a></li>
                    <li role="menuitem"><a href ng-click="descargarCsv(true)">Total</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>