<div class="container">

	<div class="row">
		<div class="col-lg-4">
			<div class="xpage-header">
				<h1 id="forms">Reportes</h1>
			</div>
		</div>

		<div class="col-lg-8 well">
			<div class="row">
				<div class="col-lg-6">
					<label for="fechaDesde">Desde</label>
					<p class="input-group">
						<input type="text" class="form-control" id="fechaDesde" datepicker-popup="{{format}}" ng-model="desde"  is-open="openFechaDesde" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" ng-required="true" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open($event, 'desde')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="col-lg-6">
					<label for="fechaHasta">Hasta</label>
					<p class="input-group">
						<input type="text" class="form-control" id="fechaHasta" datepicker-popup="{{format}}" ng-model="hasta"  is-open="openFechaHasta" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" ng-required="true" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open($event, 'hasta')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label for="selectComprobante" >Tipo de comprobante</label>
					<select class="form-control" id="selectComprobante" ng-model="tipoComprobante">
						<option ng-repeat="comprobante in comprobantesTipos" value="{{ comprobante._id }}" ng-selected="$first">{{ comprobante.description }}</option>
					</select>
				</div>
				<div class="col-lg-6">
					<br>
					<button class="btn btn-default" ui-sref="control"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
					<button class="btn btn-primary" ng-click="cargar()"><span class="glyphicon glyphicon-asterisk"></span> Cargar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<tabset>
			<tab heading="Períodos de mayor facturación">Vertical content 2</tab>
			<tab heading="Tarifas más utilizadas" select="cargarReporteTarifas()">
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>BACTSSA</h1></div>
					<div class="row">
						<div class="col-lg-4">
							<br>
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
								<th>Código</th>
								<th>Descripción</th>
								<th>Cantidad</th>
								</thead>
								<tbody>
								<tr ng-repeat="codigo in resultadosTarifasBactssa | orderBy: codigo[2]">
									<td>{{ codigo[0] }}</td>
									<td>{{ codigo[1] }}</td>
									<td>{{ codigo[2] }}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-8">
							<pie-chart3d data="chartDataTarifasBactssa" title="{{chartTitleTortaHorarios}}"
							             width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
							             select="selectRow(selectedRowIndexTarifasBactssa)"></pie-chart3d>
						</div>
					</div>
				</div>
				<hr>
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>TERMINAL 4</h1></div>
					<div class="row">
						<div class="col-lg-4">
							<br>
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
								<th>Código</th>
								<th>Descripción</th>
								<th>Cantidad</th>
								</thead>
								<tbody>
								<tr ng-repeat="codigo in resultadosTarifasTerminal4 | orderBy: codigo[1]">
									<td>{{ codigo[0] }}</td>
									<td>{{ matchesTerminal4[codigo[0]] }}</td>
									<td>{{ codigo[1] }}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-8">
							<pie-chart3d data="chartDataTarifasTerminal4" title="{{chartTitleTortaHorarios}}"
							             width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
							             select="selectRow(selectedRowIndexTarifasTerminal4)"></pie-chart3d>
						</div>
					</div>
				</div>
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>Terminal Río de la Plata</h1></div>
					<div class="row">
						<div class="col-lg-4">
							<br>
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
								<th>Código</th>
								<th>Descripción</th>
								<th>Cantidad</th>
								</thead>
								<tbody>
								<tr ng-repeat="codigo in resultadosTarifasTrp | orderBy: codigo[1]">
									<td>{{ codigo[0] }}</td>
									<td>{{ matchesTrp[codigo[0]] }}</td>
									<td>{{ codigo[1] }}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-8">
							<pie-chart3d data="chartDataTarifasTrp" title="{{chartTitleTortaHorarios}}"
							             width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
							             select="selectRow(selectedRowIndexTarifasTrp)"></pie-chart3d>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Porcentaje de cumplimientos de horarios" select="cargarReporteHorarios()">
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>BACTSSA</h1></div>
					<div class="col-lg-6">
						<br>
						<div class="row">
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
									<th colspan="2" style="width: 50%; text-align: center">Turnos totales</th>
									<th colspan="2" style="width: 50%; text-align: center">Turnos incumplidos</th>
								</thead>
								<thead class="bg-success">
									<th style="width: 25%">Programados</th>
									<th style="width: 25%">Sin programar</th>
									<th style="width: 25%">Ausencias</th>
									<th style="width: 25%">Tardes</th>
								</thead>
								<tr>
									<td>{{ chartDataTortaBactssa[0][1] + chartDataTortaBactssa[1][1] + chartDataTortaBactssa[2][1] }}</td>
									<td>{{ chartDataTortaBactssa[3][1] }}</td>
									<td>{{ chartDataTortaBactssa[1][1] }}</td>
									<td>{{ chartDataTortaBactssa[2][1] }}</td>
								</tr>
							</table>
						</div>
						<div class="row">
							<column-chart data="chartDataBarrasBactssa" title="{{chartTitleBarrasHorarios}}"
							              width="{{chartWidthBarrasHorarios}}" height="{{chartHeightBarrasHorarios}}"
							              select="selectRow(selectedRowIndexBarrasBactssa)"></column-chart>
						</div>
					</div>
					<div class="col-lg-6">
						<pie-chart3d data="chartDataTortaBactssa" title="{{chartTitleTortaHorarios}}"
						           width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
						           select="selectRow(selectedRowIndexTortaBactssa)"></pie-chart3d>
					</div>
				</div>
				<hr>
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>TERMINAL 4</h1></div>
					<div class="col-lg-6">
						<br>
						<div class=" row">
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
									<th colspan="2" style="width: 50%; text-align: center">Turnos totales</th>
									<th colspan="2" style="width: 50%; text-align: center">Turnos incumplidos</th>
								</thead>
								<thead class="bg-success">
									<th style="width: 25%">Programados</th>
									<th style="width: 25%">Sin programar</th>
									<th style="width: 25%">Ausencias</th>
									<th style="width: 25%">Tardes</th>
								</thead>
								<tr>
									<td>{{ chartDataTortaTerminal4[0][1] + chartDataTortaTerminal4[1][1] + chartDataTortaTerminal4[2][1] }}</td>
									<td>{{ chartDataTortaTerminal4[3][1] }}</td>
									<td>{{ chartDataTortaTerminal4[1][1] }}</td>
									<td>{{ chartDataTortaTerminal4[2][1] }}</td>
								</tr>
							</table>
						</div>
						<div class="row">
							<column-chart data="chartDataBarrasTerminal4" title="{{chartTitleBarrasHorarios}}"
						                    width="{{chartWidthBarrasHorarios}}" height="{{chartHeightBarrasHorarios}}"
						                    select="selectRow(selectedRowIndexBarrasTerminal4)"></column-chart>
						</div>
					</div>
					<div class="col-lg-6">
						<pie-chart3d data="chartDataTortaTerminal4" title="{{chartTitleTortaHorarios}}"
						           width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
						           select="selectRow(selectedRowIndexTortaTerminal4)"></pie-chart3d>
					</div>
				</div>
				<hr>
				<div class="row well">
					<div class="row col-lg-12" style="text-align: center"><h1>Terminal Río de la Plata</h1></div>
					<div class="col-lg-6">
						<br>
						<div class=" row">
							<table class="table table-bordered table-hover table-responsive">
								<thead class="bg-info">
									<th colspan="2" style="width: 50%; text-align: center">Turnos totales</th>
									<th colspan="2" style="width: 50%; text-align: center">Turnos incumplidos</th>
								</thead>
								<thead class="bg-success">
									<th style="width: 25%">Programados</th>
									<th style="width: 25%">Sin programar</th>
									<th style="width: 25%">Ausencias</th>
									<th style="width: 25%">Tardes</th>
								</thead>
								<tr>
									<td>{{ chartDataTortaTrp[0][1] + chartDataTortaTrp[1][1] + chartDataTortaTrp[2][1] }}</td>
									<td>{{ chartDataTortaTrp[3][1] }}</td>
									<td>{{ chartDataTortaTrp[1][1] }}</td>
									<td>{{ chartDataTortaTrp[2][1] }}</td>
								</tr>
							</table>
						</div>
						<div class="row">
							<column-chart data="chartDataBarrasTrp" title="{{chartTitleBarrasHorarios}}"
						                    width="{{chartWidthBarrasHorarios}}" height="{{chartHeightBarrasHorarios}}"
						                    select="selectRow(selectedRowIndexBarrasTrp)"></column-chart>
						</div>
					</div>
					<div class="col-lg-6">
						<pie-chart3d data="chartDataTortaTrp" title="{{chartTitleTortaHorarios}}"
						           width="{{chartWidthTortaHorarios}}" height="{{chartHeightTortaHorarios}}"
						           select="selectRow(selectedRowIndexTortaTrp)"></pie-chart3d>
					</div>
				</div>
			</tab>
		</tabset>
	</div>

</div>