<div class="col-lg-12 text-center" ng-show="cargando">
	<img class="media-object center-block" src="images/loading.gif">
</div>
<div ng-hide="cargando || mostrarResultado">
	<div class="row col-lg-12 center-block" ng-show="payment.invoices.totalCount == 0">
		<div-panel config-panel="panelMensaje">
			<span>{{ panelMensaje.mensaje }}</span>
		</div-panel>
	</div>
	<div class="table-responsive" ng-show="payment.invoices.totalCount > 0">
		<div class="col-lg-12">
			<h5 class="col-lg-4 text-left" ng-hide="byContainer">
				<strong>Resultados: {{ payment.invoices.totalCount }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope(currentPage, payment.invoices.totalCount) }} (página {{ currentPage }})</strong></span>
			</h5>
			<h5 class="col-lg-4 text-left" ng-show="byContainer">
				<strong>Resultados: {{ payment.invoicesByContainer.totalCount }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope(currentPage, payment.invoicesByContainer.totalCount) }} (página {{ currentPage }})</strong></span>
			</h5>
			<div class="checkbox col-lg-8 text-right">
				<label>
					<input type="checkbox" ng-model="tasaAgp"> Usar tasa AGP
				</label>
				<label>
					<input type="checkbox" ng-model="byContainer" ng-change="changeView()"> Contenedor
				</label>
			</div>
		</div>

		<table class="invoice-shadow table table-striped table-bordered">
			<thead>
			<tr class="text-center">
				<th class="text-center"><encabezado-tabla-ordenado titulo="Fecha" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="emision" filtro-orden="emisionOrden"></encabezado-tabla-ordenado></th>
				<th class="text-center"><encabezado-tabla-ordenado titulo="Tipo" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="codTipoComprob" filtro-orden="codTipoComprobOrden"></encabezado-tabla-ordenado></th>
				<th class="text-left"><encabezado-tabla-ordenado titulo="Buque" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="buque" filtro-orden="buqueOrden"></encabezado-tabla-ordenado></th>
				<th class="text-left"><encabezado-tabla-ordenado titulo="Cliente" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="razon" filtro-orden="razonOrden"></encabezado-tabla-ordenado></th>
				<th ng-show="byContainer" class="text-left"><encabezado-tabla-ordenado titulo="Contenedor" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="container" filtro-orden="containerOrden"></encabezado-tabla-ordenado></th>
				<th class="text-right"><encabezado-tabla-ordenado titulo="Ton." filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="cnt" filtro-orden="cntOrden"></encabezado-tabla-ordenado></th>
				<th class="text-right"><encabezado-tabla-ordenado titulo="Tarifa" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="impUnit" filtro-orden="impUnitOrden"></encabezado-tabla-ordenado></th>
				<th ng-hide="tasaAgp" class="text-right"><encabezado-tabla-ordenado titulo="Tasa" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="tasa" filtro-orden="tasaOrden"></encabezado-tabla-ordenado></th>
				<th ng-show="tasaAgp" class="text-right"><encabezado-tabla-ordenado titulo="Tasa" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="tasaAgp" filtro-orden="tasaAgpOrden"></encabezado-tabla-ordenado></th>
				<th class="text-right"><encabezado-tabla-ordenado titulo="Cot." filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="cotiMoneda" filtro-orden="cotiMonedaOrden"></encabezado-tabla-ordenado></th>
				<th ng-hide="tasaAgp" class="text-right"><encabezado-tabla-ordenado titulo="Importe" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="totalTasa" filtro-orden="totalTasaOrden"></encabezado-tabla-ordenado></th>
				<th ng-show="tasaAgp" class="text-right"><encabezado-tabla-ordenado titulo="Importe" filtrar-orden="ordenar(filtro)" oculta-filtros="ocultarFiltros" model="payment.searchParams" filtro="totalTasaAgp" filtro-orden="totalTasaAgpOrden"></encabezado-tabla-ordenado></th>
				<th class="hidden-print text-center"><span class="glyphicon glyphicon-zoom-in"></span></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-hide="byContainer" ng-repeat="invoice in payment.invoices.data" ng-class="{comprobanteReenviar: (invoice.interfazEstado. _id == 'R' || invoice.interfazEstado. _id == 'T')}" class="fila-animada">
				<td class="text-center" style="width: 9%; font-size: 9pt">{{ invoice.emision | date: 'dd/MM/yy' }}</td>
				<td class="text-center" style="width: 6%; font-size: 9pt"><span title="{{ invoice.codTipoComprob | nombreComprobante : false }}">{{ invoice.codTipoComprob | nombreComprobante : true }}</span></td>
				<td class="text-left" style="width: 12%; font-size: 9pt">{{ invoice.buque }}</td>
				<td class="text-left" style="width: 20%; font-size: 9pt">{{ invoice.razon }}</td>
				<td class="text-right" style="width: 6%; font-size: 9pt">{{ invoice.cnt | numberEx:2 }}</td>
				<td class="text-right" style="width: 10%; font-size: 9pt" ng-hide="tasaAgp">
					<span title=" Tarifa AGP {{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}" class="glyphicon glyphicon-circle-arrow-down text-danger" ng-show="invoice.impUnit < invoice.impUnitAgp"></span>
					<span title=" Tarifa AGP {{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}" class="glyphicon glyphicon-circle-arrow-up text-success" ng-show="invoice.impUnit > invoice.impUnitAgp"></span>{{ invoice.impUnit | currency: ('DOL' | formatCurrency) }}</td>
				<td class="text-right" style="width: 9%; font-size: 9pt" ng-show="tasaAgp">{{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}</td>
				<td ng-hide="tasaAgp" class="text-right" style="width: 9%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.tasa | currency: ('DOL' | formatCurrency) }}</span>
				</td>
				<td ng-show="tasaAgp" class="text-right" style="width: 9%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.tasaAgp | currency: ('DOL' | formatCurrency) }}</span>
				</td>
				<td class="text-right" style="width: 8%; font-size: 9pt">{{ invoice.cotiMoneda | currency: ('PES' | formatCurrency) }}</td>
				<td ng-hide="tasaAgp" class="text-right" style="width: 14%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.totalTasa | currency: ('PES' | formatCurrency)}}</span>
				</td>
				<td ng-show="tasaAgp" class="text-right" style="width: 14%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.totalTasaAgp | currency: ('PES' | formatCurrency)}}</span>
				</td>
				<td class="text-center" style="width: 4%; font-size: 9pt"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			</tr>
			</tbody>
			<tbody>
			<tr ng-show="byContainer" ng-repeat="invoice in payment.invoicesByContainer.data">
				<td class="text-center" style="width: 9%; font-size: 9pt">{{ invoice.emision | date: 'dd/MM/yy' }}</td>
				<td class="text-center" style="width: 6%; font-size: 9pt"><span title="{{ invoice.codTipoComprob | nombreComprobante : false }}">{{ invoice.codTipoComprob | nombreComprobante : true }}</span></td>
				<td class="text-left" style="width: 12%; font-size: 9pt">{{ invoice.buque }}</td>
				<td class="text-left" style="width: 20%; font-size: 9pt">{{ invoice.razon }}</td>
				<td class="text-right" style="width: 6%; font-size: 9pt">{{ invoice.container }}</td>
				<td class="text-right" style="width: 6%; font-size: 9pt">{{ invoice.cnt | numberEx:2 }}</td>
				<td class="text-right" style="width: 10%; font-size: 9pt" ng-hide="tasaAgp">
					<span title=" Tarifa AGP {{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}" class="glyphicon glyphicon-circle-arrow-down text-danger" ng-show="invoice.impUnit < invoice.impUnitAgp"></span>
					<span title=" Tarifa AGP {{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}" class="glyphicon glyphicon-circle-arrow-up text-success" ng-show="invoice.impUnit > invoice.impUnitAgp"></span>{{ invoice.impUnit | currency: ('DOL' | formatCurrency) }}</td>
				<td class="text-right" style="width: 11%; font-size: 9pt" ng-show="tasaAgp">{{ invoice.impUnitAgp | currency: ('DOL' | formatCurrency) }}</td>
				<td ng-hide="tasaAgp" class="text-right" style="width: 11%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.tasa | currency: ('DOL' | formatCurrency) }}</span>
				</td>
				<td ng-show="tasaAgp" class="text-right" style="width: 11%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.tasaAgp | currency: ('DOL' | formatCurrency) }}</span>
				</td>
				<td class="text-right" style="width: 8%; font-size: 9pt">{{ invoice.cotiMoneda | currency: ('PES' | formatCurrency) }}</td>
				<td ng-hide="tasaAgp" class="text-right" style="width: 14%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.totalTasa | currency: ('PES' | formatCurrency) }}</span>
				</td>
				<td ng-show="tasaAgp" class="text-right" style="width: 14%; font-size: 9pt">
					<span ng-style="{ 'color': (invoice.codTipoComprob == 3 || invoice.codTipoComprob == 8) ? '#ff0000' : '#000000' }">{{ invoice.totalTasaAgp | currency: ('PES' | formatCurrency) }}</span>
				</td>
				<td class="text-center" style="width: 4%; font-size: 9pt"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			</tr>
			</tbody>
		</table>

		<div class="col-lg-12 hidden-print" ng-show="!byContainer && (payment.invoices.totalCount > itemsPerPage)">
			<div class="text-center visible-xs"><uib-pagination boundary-links="true" total-items="payment.invoices.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-sm"><uib-pagination boundary-links="true" total-items="payment.invoices.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="7" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-md"><uib-pagination boundary-links="true" total-items="payment.invoices.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="11" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-lg"><uib-pagination boundary-links="true" total-items="payment.invoices.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="15" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
		</div>

		<div class="col-lg-12 hidden-print" ng-show="byContainer && (payment.invoicesByContainer.totalCount > itemsPerPage)">
			<div class="text-center visible-xs"><uib-pagination boundary-links="true" total-items="payment.invoicesByContainer.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-sm"><uib-pagination boundary-links="true" total-items="payment.invoicesByContainer.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="7" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-md"><uib-pagination boundary-links="true" total-items="payment.invoicesByContainer.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="11" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
			<div class="text-center visible-lg"><uib-pagination boundary-links="true" total-items="payment.invoicesByContainer.totalCount" items-per-page="itemsPerPage" ng-model="currentPage" max-size="15" ng-click="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination></div>
		</div>

		<br>
	</div>
</div>

<div class="col-lg-12" ng-if="mostrarResultado">
	<invoices-result></invoices-result>
</div>