<div class="hidden-print" ng-hide="detallesGates || ocultarBusqueda">
	<containers-gates-search></containers-gates-search>
</div>
<div class="visible-print-block" ng-hide="ocultarBusqueda">
	<impresion-filtros></impresion-filtros>
</div>
<div class="col-lg-12 text-center" ng-show="loadingState">
	<img class="media-object center-block" src="images/loading.gif">
</div>
<div class="col-lg-12" ng-hide="loadingState">
	<div ng-hide="datosGates.length != undefined && datosGates.length > 0 || detallesGates">
		<div-panel config-panel="configPanel">{{ configPanel.mensaje }}</div-panel>
	</div>
	<div ng-show="datosGates.length != undefined && datosGates.length > 0">
		<h5 ng-hide="detallesGates"><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong>Mostrando del {{ $parent.currentPage * $parent.itemsPerPage - ($parent.itemsPerPage - 1) }} al {{ $parent.currentPage * $parent.itemsPerPage > totalItems ? totalItems : $parent.currentPage * $parent.itemsPerPage }} (página {{ $parent.currentPage }})</strong></span></h5>
		<div ng-hide="detallesGates">
			<div class="table-responsive">
				<table class="table table-bordered table-hover" style="text-align: center">
					<tr>
						<th style="text-align: center"><encabezado-tabla-ordenado titulo="Fecha" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="gateTimestamp" filtro-orden="fechaOrden"></encabezado-tabla-ordenado></th>
						<th style="text-align: center">Buque</th>
						<th style="text-align: center">Viaje</th>
						<th style="text-align: center">Contenedor</th>
						<th style="text-align: center">Patente cami&oacute;n</th>
						<th style="text-align: center" colspan="2">Tipo</th>
						<th style="text-align: center"><encabezado-tabla-ordenado titulo="Horario" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="gateTimestamp" filtro-orden="fechaOrden"></encabezado-tabla-ordenado></th>
						<th style="text-align: center">Inicio turno</th>
						<th style="text-align: center">Fin turno</th>
						<th class="hidden-print" ng-hide="ocultarFiltros.indexOf('comprobantes', 0) >= 0" style="text-align: center">Facturas</th>
					</tr>
					<tr ng-repeat="gate in datosGates">
						<td>{{ gate.gateTimestamp | date: 'dd/MM/yyyy' }}</td>
						<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0 || gate.carga == 'NO'" ng-click="filtrado('buqueNombre', gate.buque)"><span class="glyphicon glyphicon-search"></span></a> {{ gate.buque }}</td>
						<td>{{ gate.viaje }}</td>
						<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('contenedor', 0) >= 0 || gate.carga == 'NO'" ng-click="filtrado('contenedor', gate.contenedor)"><span class="glyphicon glyphicon-search"></span></a> {{ gate.contenedor }}</td>
						<td>{{ gate.patenteCamion }}</td>
						<td class="text-center"><span class="label" ng-class="{'label-success' : gate.tipo == 'IN', 'label-danger' : gate.tipo == 'OUT'}">{{ gate.tipo }}</span></td>
						<td class="text-center">{{ gate.mov }}</td>
						<td ng-init="colorH = colorHorario(gate)" ng-style="{'color': colorH}">{{ gate.gateTimestamp | date: 'HH:mm' }}</td>
						<td>{{ gate.turnoInicio | date: 'HH:mm' }}</td>
						<td>{{ gate.turnoFin | date: 'HH:mm' }}</td>
						<td class="hidden-print" ng-hide="ocultarFiltros.indexOf('comprobantes', 0) >= 0" style="text-align: center; width: 3%"><a href ng-click="mostrarDetalle(gate)" ng-hide="gate.carga == 'NO'"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
				</table>
			</div>
			<div-pagination total-items="totalItems" current-page="currentPage" items-per-page="itemsPerPage"></div-pagination>
		</div>
	</div>
	<div class="row" ng-show="detallesGates">
		<div class="col-lg-12">
			<h4>Comprobantes del contenedor {{ contenedor }}</h4>
			<vista-comprobantes model="$parent.model" datos-invoices="invoices" ocultar-filtros="$parent.filtrosComprobantes" total-items="totalItems" loading-state="cargando" mostrar-ptos-venta="false" ocultar-accordion-invoices-search="true" ocultar-accordion-comprobantes-vistos="true" panel-mensaje="mensajeResultado" volver-a-principal="volverAPrincipal"></vista-comprobantes>
			<button class="btn btn-default hidden-print" ng-hide="mostrarResultado" ng-click="ocultarDetallesGates()"><span class="glyphicon glyphicon-arrow-left"></span> Volver a Gates</button>
			<br>
		</div>
	</div>
</div>