<div-cargando mostrar="loadingState">
	<div ng-hide="tasas.length != undefined && tasas.length > 0">
		<div-panel config-panel="configPanel">{{ configPanel.mensaje }}</div-panel>
	</div>
	<div ng-show="tasas.length != undefined && tasas.length > 0">
		<div class="table-responsive invoice-shadow">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>C&oacute;digo</th>
					<th>Descripci&oacute;n</th>
					<th>Toneladas</th>
					<th class="text-right">Total</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="tasa in tasas">
					<td>{{ tasa._id.id }}</td>
					<td>{{ tasa._id.descripcion }}</td>
					<td class="text-right">{{ tasa.cnt | number:2 }}</td>
					<td class="text-right">{{ moneda | formatCurrency }} {{ tasa.total | currency }}</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<th colspan="3" class="text-right">Total</th>
					<td class="text-right">{{ moneda | formatCurrency}} {{ totalTasas | currency }}</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div-cargando>