<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th style="text-align: right">
				<encabezado-tabla-ordenado titulo="Pto. Venta" filtrar-orden="filtrarOrden('nroPtoVenta')" oculta-filtros="ocultarFiltros" model="model" filtro="nroPtoVenta" filtro-orden="nroPtoVentaOrden"></encabezado-tabla-ordenado>
			</th>
			<th>
				<encabezado-tabla-ordenado titulo="Comprobante" filtrar-orden="filtrarOrden('codTipoComprob')" oculta-filtros="ocultarFiltros" model="model" filtro="codTipoComprob" filtro-orden="codTipoComprobOrden"></encabezado-tabla-ordenado>
			</th>
			<th style="text-align: right">
				<encabezado-tabla-ordenado titulo="Nro" filtrar-orden="filtrarOrden('nroComprob')" oculta-filtros="ocultarFiltros" model="model" filtro="nroComprob" filtro-orden="nroComprobOrden"></encabezado-tabla-ordenado>
			</th>
			<th>
				<encabezado-tabla-ordenado titulo="Razón Social" filtrar-orden="filtrarOrden('razon')" oculta-filtros="ocultarFiltros" model="model" filtro="razon" filtro-orden="razonOrden"></encabezado-tabla-ordenado>
			</th>
			<th style="text-align: center">
				<encabezado-tabla-ordenado titulo="Fecha" filtrar-orden="filtrarOrden('fecha.emision')" oculta-filtros="ocultarFiltros" model="model" filtro="fecha.emision" filtro-orden="fechaOrden"></encabezado-tabla-ordenado>
			</th>
			<th style="text-align: right">
				<encabezado-tabla-ordenado titulo="Importe Total" filtrar-orden="filtrarOrden('importe.total')" oculta-filtros="ocultarFiltros" model="model" filtro="importe.total" filtro-orden="importeOrden"></encabezado-tabla-ordenado>
			</th>
			<th class="hidden-print" style="text-align: center"><span class="glyphicon glyphicon-zoom-in"></span></th>
			<th style="text-align: center" ng-show="acceso=='agp'" class="col-lg-1">Estado</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="invoice in datosInvoices">
			<td style="text-align: right; width: 10%">{{ invoice.nroPtoVenta }}</td>
			<td style="width: 17%"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('codComprobante', 0) >= 0" ng-click="filtrado('codComprobante', invoice.codTipoComprob)"><span class="glyphicon glyphicon-search"></span></a> {{ vouchersType[invoice.codTipoComprob] }}</td>
			<td style="text-align: right; width: 9%"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('nroComprobante', 0) >= 0" ng-click="filtrado('nroComprobante', invoice.nroComprob)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.nroComprob }}</td>
			<td style="width: 25%"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('razonSocial', 0) >= 0" ng-click="filtrado('razonSocial', invoice.razon)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.razon | maxLength : 24}}<a href="" ng-show="(invoice.razon.length > 24)" popover="{{ invoice.razon }}" popover-trigger="mouseenter"> (...)</a></td>
			<td style="text-align: center; width: 10%;"><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('fechaDesde', 0) >= 0" ng-click="filtrado('fechaDesde', invoice.fecha.emision)"><span class="glyphicon glyphicon-search"></span></a> {{ invoice.fecha.emision | date: 'dd/MM/yyyy' }}</td>
			<td style="text-align: right; width: 12%"><a class="hidden-print" ng-show="chequearTarifas(invoice)" href="" popover="Error en tarifas" popover-trigger="mouseenter"><span class="text-danger glyphicon glyphicon-exclamation-sign"></span></a> {{ moneda | formatCurrency }} {{ invoice.importe.total | conversionMoneda: invoice.codMoneda: invoice.cotiMoneda | currency }}</td>
			<td class="hidden-print" style="text-align: center; width: 3%"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			<td ng-show="acceso=='agp'" style="text-align: left; width: 14%">
				<a href ng-click="trackInvoice(invoice)"><img ng-src="{{ invoice.interfazEstado.imagen }}" height="16" width="16" ng-click="trackInvoice(invoice)"><span class="{{ invoice.interfazEstado.btnEstado }}"> {{ invoice.interfazEstado.description }}</span></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
