
<div class="table-responsive" ng-show="datosInvoices.length > 0">
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr class="text-center">
			<th class="text-center">Tipo</th>
			<th class="text-right">Nro. comprob.</th>
			<th class="text-right">Toneladas</th>
			<th class="text-center">Tasa</th>
			<th class="text-center">Fecha</th>
			<th class="text-right">Importe</th>
			<th class="hidden-print text-center"><span class="glyphicon glyphicon-zoom-in"></span></th>
			<th class="text-center" ng-show="liquidadas">Fecha liquidación</th>
			<th class="text-center" ng-show="!liquidadas"><span class="glyphicon glyphicon-check"></span></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="invoice in datosInvoices" ng-init="invoice.liquidar = true">
			<td class="text-center">{{ invoice._id.codTipoComprob | nombreComprobante }}</td>
			<td class="text-right">{{ invoice._id.nroComprob }}</td>
			<td class="text-right">{{ invoice.cnt }}</td>
			<td class="text-center">{{ invoice._id.code }}</td>
			<td class="text-center">{{ invoice._id.fecha | date: 'dd/MM/yyyy' }}</td>
			<td class="text-right">U$S {{ invoice.importe | currency }}</td>
			<td class="text-center"><a href ng-click="mostrarDetalle(invoice)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			<td class="text-center" ng-show="liquidadas">{{ invoice.fechaLiquidacion }}</td>
			<td class="text-center" ng-show="!liquidadas"><input style="width: 15px; height: 15px;" type="checkbox" ng-model="invoice.liquidar"></td>
		</tr>
		</tbody>
	</table>
</div>