<div class="row hidden-print" ng-hide="ocultarBusqueda">
	<accordion-turnos-search></accordion-turnos-search>
</div>
<div class="row visible-print-block" ng-hide="ocultarBusqueda">
	<impresion-filtros></impresion-filtros>
</div>
<div class="col-lg-12 text-center" ng-show="loadingState">
	<img class="media-object imagenCargando" style="margin-left: 40%; margin-top: 50px">
</div>
<div class="col-lg-12" ng-hide="loadingState">
	<tabset ng-hide="ocultarBusqueda">
		<tab heading="IMPO" select="cambiarTipoMov('IMPO')"></tab>
		<tab heading="EXPO" select="cambiarTipoMov('EXPO')"></tab>
	</tabset>
	<br>
	<div ng-hide="datosTurnos.length != undefined && datosTurnos.length > 0">
		<div-panel config-panel="configPanel">{{ configPanel.mensaje }}</div-panel>
	</div>
	<div ng-show="datosTurnos.length != undefined && datosTurnos.length > 0">
		<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong>Mostrando del {{ $parent.currentPage * $parent.itemsPerPage - ($parent.itemsPerPage - 1) }} al {{ $parent.currentPage * $parent.itemsPerPage > totalItems ? totalItems : $parent.currentPage * $parent.itemsPerPage }} (página {{ $parent.currentPage }})</strong></span></h5>
		<!--<ul class="nav nav-tabs hidden-print">
			<li>
				<a ng-click="cambiarTipoMov('IMPO');">IMPO</a>
			</li>
			<li>
				<a ng-click="cambiarTipoMov('EXPO');">EXPO</a>
			</li>
		</ul>-->
		<div class="table-responsive">
			<table class="table table-bordered table-hover" style="text-align: center">
				<tr>
					<th style="text-align: center" colspan="3"><encabezado-tabla-ordenado titulo="Turno" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="fechaInicio" filtro-orden="fechaInicioOrden"></encabezado-tabla-ordenado></th>
					<!--<th style="text-align: center">Inicio del turno</th>-->
					<!--<th style="text-align: center">Fin del turno</th>-->
					<th style="text-align: center"><encabezado-tabla-ordenado titulo="Buque" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="buque" filtro-orden="buqueOrden"></encabezado-tabla-ordenado></th>
					<th style="text-align: center"><encabezado-tabla-ordenado titulo="Viaje" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="viaje" filtro-orden="viajeOrden"></encabezado-tabla-ordenado></th>
					<th style="text-align: center"><encabezado-tabla-ordenado titulo="Contenedor" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="contenedor" filtro-orden="contenedorOrden"></encabezado-tabla-ordenado></th>
					<th style="text-align: center">Tipo</th>
					<th style="text-align: center"><encabezado-tabla-ordenado titulo="Alta" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="alta" filtro-orden="altaOrden"></encabezado-tabla-ordenado></th>
					<th style="text-align: center"><encabezado-tabla-ordenado titulo="Usuario" filtrar-orden="filtrarOrden(filtro)" oculta-filtros="ocultarFiltros" model="model" filtro="fechInicio" filtro-orden="fechaInicioOrden"></encabezado-tabla-ordenado></th>
				</tr>
				<tr ng-repeat="turno in datosTurnos">
					<td>{{ turno.inicio | date: 'dd/MM/yyyy':'UTC' }}</td>
					<td>{{ turno.inicio | date: 'HH:mm':'UTC' }}</td>
					<td>{{ turno.fin | date: 'HH:mm':'UTC' }}</td>
					<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0 || ocultarBusqueda" ng-click="filtrado('buqueNombre', turno.buque)"><span class="glyphicon glyphicon-search"></span></a> {{ turno.buque }}</td>
					<td>{{ turno.viaje }}</td>
					<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('contenedor', 0) >= 0 || ocultarBusqueda" ng-click="filtrado('contenedor', turno.contenedor)"><span class="glyphicon glyphicon-search"></span></a> {{ turno.contenedor }}</td>
					<td>{{ turno.mov }}</td>
					<td>{{ turno.alta | date: 'dd/MM/yyyy HH:mm'  }}</td>
					<td>{{ turno.user }}</td>
				</tr>
			</table>
		</div>
		<div-pagination total-items="totalItems" current-page="currentPage" items-per-page="itemsPerPage"></div-pagination>
	</div>
</div>