<div class="col-lg-12">
	<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * itemsPerPage - (itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
	<div class="table-responsive" style="max-height: 670px; max-width: 100%; overflow: auto">
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th style="min-width: 90px"><a href="" ng-click="filtrarOrden('SUMARIA')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'SUMARIA' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'SUMARIA' && model.filtroOrdenReverse"></span>
					Sumaria
				</a></th>
				<th><a href="" ng-click="filtrarOrden('FECHAARRIBO')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'FECHAARRIBO' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'FECHAARRIBO' && model.filtroOrdenReverse"></span>
					Arribo
				</a></th>
				<th><a href="" ng-click="filtrarOrden('CONOCIMIENTO')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'CONOCIMIENTO' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'CONOCIMIENTO' && model.filtroOrdenReverse"></span>
					Conocimiento
				</a></th>
				<th style="min-width: 130px"><a href="" ng-click="filtrarOrden('NOMBREATA')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NOMBREATA' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NOMBREATA' && model.filtroOrdenReverse"></span>
					Nombre ATA
				</a></th>
				<th style="min-width: 30px"><a href="" ng-click="filtrarOrden('NRO_LINEA')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NRO_LINEA' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NRO_LINEA' && model.filtroOrdenReverse"></span>
					Línea
				</a></th>
				<th style="min-width: 50px"><a href="" ng-click="filtrarOrden('COUNTRY')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'COUNTRY' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'COUNTRY' && model.filtroOrdenReverse"></span>
					País
				</a></th>
				<th style="min-width: 60px"><a href="" ng-click="filtrarOrden('PORT')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'PORT' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'PORT' && model.filtroOrdenReverse"></span>
					Puerto
				</a></th>
				<th style="min-width: 120px"><a href="" ng-click="filtrarOrden('NOMBREBUQUE')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'NOMBREBUQUE' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'NOMBREBUQUE' && model.filtroOrdenReverse"></span>
					Buque
				</a></th>
				<th style="min-width: 110px"><a href="" ng-click="filtrarOrden('CONTENEDOR')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'CONTENEDOR' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'CONTENEDOR' && model.filtroOrdenReverse"></span>
					Contenedor
				</a></th>
				<th style="min-width: 50px"><a href="" ng-click="filtrarOrden('MEDIDA')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'MEDIDA' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'MEDIDA' && model.filtroOrdenReverse"></span>
					Medida
				</a></th>
				<th style="min-width: 50px"><a href="" ng-click="filtrarOrden('PESO')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'PESO' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'PESO' && model.filtroOrdenReverse"></span>
					Peso
				</a></th>
				<th style="min-width: 80px"><a href="" ng-click="filtrarOrden('LUGAROPERATIVO')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'LUGAROPERATIVO' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'LUGAROPERATIVO' && model.filtroOrdenReverse"></span>
					L. operativo
				</a></th>
				<th style="min-width: 50px"><a href="" ng-click="filtrarOrden('EMBALAJE')">
					<span class="glyphicon glyphicon-sort-by-attributes" ng-show="model.filtroOrden == 'EMBALAJE' && !model.filtroOrdenReverse"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="model.filtroOrden == 'EMBALAJE' && model.filtroOrdenReverse"></span>
					Embalaje
				</a></th>
				<th>
					<span class="glyphicon glyphicon-zoom-in"></span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="registro in datosRegistro">
				<td>{{ registro.SUMARIA }}</td>
				<td>{{ registro.FECHAARRIBO | date: 'dd/MM/yyyy' }}</td>
				<td>{{ registro.CONOCIMIENTO }}</td>
				<td><text-pop text="{{ registro.NOMBREATA }}" max="10"></text-pop></td>
				<td>{{ registro.NRO_LINEA }}</td>
				<td>{{ registro.COUNTRY }}</td>
				<td><text-pop text="{{ registro.PORT }}" max="7"></text-pop></td>
				<td><text-pop text="{{ registro.NOMBREBUQUE }}" max="9"></text-pop></td>
				<td>{{ registro.CONTENEDOR }}</td>
				<td>{{ registro.MEDIDA }}</td>
				<td>{{ registro.PESO }}</td>
				<td>{{ registro.LUGAROPERATIVO }}</td>
				<td>{{ registro.EMBALAJE }}</td>
				<td><a href ng-click="detalleSumaria(registro.SUMARIA)"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div-pagination current-page="model.currentPage" items-per-page="itemsPerPage" total-items="totalItems" panel-size="10"></div-pagination>


	<div ng-show="sumariaDetalle.CONOCIMIENTOS.length > 0">
		<h2>Detalles de la sumaria: {{ sumariaDetalle.SUMARIA }}</h2>
		<detalle-transbordo data="sumariaDetalle.CONOCIMIENTOS"></detalle-transbordo>
	</div>
</div>