<div class="col-lg-12 text-center" ng-show="cargando">
	<img class="media-object center-block" src="images/loading.gif">
</div>
<div class="row col-lg-12 center-block" ng-show="datosPagos.length == 0 && !cargando">
	<div-panel config-panel="panelMensaje">
		<span>{{ panelMensaje.mensaje }}</span>
	</div-panel>
</div>
<div ng-show="datosPagos.length > 0 && !cargando" class="table-responsive invoice-shadow">
	<table class="table table-striped table-bordered table-hover col-lg-12">
		<thead>
		<tr class="text-center">
			<th class="text-right">Número</th>
			<th class="text-center">Fecha</th>
			<th class="text-center"><span class="glyphicon glyphicon-zoom-in"></span></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="pago in datosPagos" class="fila-animada">
			<td class="text-right">{{ pago.preNumber }}</td>
			<td class="text-center">{{ pago.date | date: 'dd/MM/yyyy' }}</td>
			<td class="text-center"><a href ng-click="detalle({pago: pago})"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
		</tr>
		</tbody>
	</table>
</div>