<div class="row hidden-print" ng-hide="ocultarBusqueda">
	<accordion-turnos-search></accordion-turnos-search>
</div>
<div class="row visible-print-block" ng-hide="ocultarBusqueda">
	<impresion-filtros></impresion-filtros>
</div>
<div class="col-lg-12 text-center" ng-show="loadingState">
	<img class="media-object imagenCargando" style="margin-left: 40%; margin-top: 50px">
</div>
<div class="col-lg-12" ng-hide="loadingState">
	<div ng-hide="datosTurnos.length != undefined && datosTurnos.length > 0">
		<div-panel config-panel="configPanel">{{ configPanel.mensaje }}</div-panel>
	</div>
	<div ng-show="datosTurnos.length != undefined && datosTurnos.length > 0">
		<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong>Mostrando del {{ $parent.currentPage * $parent.itemsPerPage - ($parent.itemsPerPage - 1) }} al {{ $parent.currentPage * $parent.itemsPerPage > totalItems ? totalItems : $parent.currentPage * $parent.itemsPerPage }} (página {{ $parent.currentPage }})</strong></span></h5>
		<div class="table-responsive">
			<table class="table table-bordered table-hover" style="text-align: center">
				<tr>
					<th style="text-align: center">Fecha</th>
					<th style="text-align: center">Buque</th>
					<th style="text-align: center">Viaje</th>
					<th style="text-align: center">Contenedor</th>
					<th style="text-align: center">Inicio del turno</th>
					<th style="text-align: center">Fin del turno</th>
					<th style="text-align: center">Movimiento</th>
				</tr>
				<tr ng-repeat="turno in datosTurnos">
					<td>{{ turno.inicio | date: 'dd/MM/yyyy' }}</td>
					<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('buque', 0) >= 0" ng-click="filtrado('buqueNombre', turno.buque)"><span class="glyphicon glyphicon-search"></span></a> {{ turno.buque }}</td>
					<td>{{ turno.viaje }}</td>
					<td><a class="hidden-print" href ng-hide="ocultarFiltros.indexOf('contenedor', 0) >= 0" ng-click="filtrado('contenedor', turno.contenedor)"><span class="glyphicon glyphicon-search"></span></a> {{ turno.contenedor }}</td>
					<td>{{ turno.inicio | date: 'HH:mm' }}</td>
					<td>{{ turno.fin | date: 'HH:mm' }}</td>
					<td>{{ turno.mov }}</td>
				</tr>
			</table>
			<div-pagination total-items="totalItems" current-page="currentPage" items-per-page="itemsPerPage"></div-pagination>
		</div>
	</div>
</div>