
<div class="modal-header {{ interfazModal.tipoModal }}" style="border-radius: 5px">
	<h3 class="modal-title">{{ interfazModal.titulo}}</h3>
</div>
<div class="modal-body {{ interfazModal.divCuerpo }}">
	<textarea rows="2" ng-model="interfazModal.comentario" placeholder="Ingrese un comentario" style="resize: none; width: 100%"></textarea>
	<hr>
	<span style="font-size: 18px">Nuevo estado:</span>
	<div class="btn-group" dropdown is-open="status.isopen">
		<button type="button" class="btn {{ interfazModal.btnEstado }} dropdown-toggle">
			{{ interfazModal.estado }} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-toggle" role="menu">
			<li><a href ng-click="trackInvoice('Y')">Revisar</a></li>
			<li><a href ng-click="trackInvoice('G')">Controlada</a></li>
			<li><a href ng-click="trackInvoice('R')">Error</a></li>
		</ul>
	</div>
	<hr>
	<div class="well" ng-show="tracking.length > 0" style="height: 300px; overflow: scroll;">
		<div ng-repeat="track in tracking">
			<h6>{{ track.fecha }}</h6>
			<h4>{{ track.title }}</h4>
			<h5>{{ track.comment }}</h5>
			<h6 class="text-right"><span class="glyphicon glyphicon-user"></span> {{ track.user }}</h6>
			<hr>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>