<div class="container" ng-controller="turnosCtrl">

	<div class="hidden-print">
		<div class="row">
			<br>
			<div class="col-lg-2">
				<div class="xpage-header">
					<h1 id="forms">Turnos</h1>
				</div>
			</div>

			<div class="col-lg-5 col-lg-offset-5" collapse="!isCollapsed">
				<div class="panel panel-default">
					<div class="panel-heading">Filtrar</div>
					<div class="panel-body">
						<div class="form-group" ng-init="isCollapsed = true">
							<div>
								<span>Desde </span>{{ fecha.desde | date:'dd/MM/yyyy HH:mm'}}hs
								<span>Hasta </span>{{ fecha.hasta | date:'dd/MM/yyyy HH:mm'}}hs
							</div>
							<div>
								<span>Contenedor {{ contenedor }}</span>
								<span ng-show="isCollapsed"><button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-zoom-in"></span></button></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-10" collapse="isCollapsed">
				<form name="myForm" novalidate>
					<div class="col-lg-5">
						<div class="panel panel-default">
							<div class="panel-heading">Desde</div>
							<div class="panel-body">
								<div class="form-group col-lg-7" style="padding-top: 40px">
									<span>D&iacute;a</span>
									<span class="input-group">
										<input type="text" class="form-control" id="fechaDesde" datepicker-popup="{{formatDate}}" ng-model="fecha.desde" is-open="openFechaDesde" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
										<span class="input-group-btn">
											<button class="btn btn-default" ng-click="openDate($event); openFechaDesde = !openFechaDesde"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</span>
								</div>
								<div class="form-group col-lg-5">
									<span>Horario</span>
									<timepicker id="horarioDesde" ng-model="fecha.desde" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="panel panel-default">
							<div class="panel-heading">Hasta</div>
							<div class="panel-body">
								<div class="form-group col-lg-7" style="padding-top: 40px">
									<span>D&iacute;a</span>
									<span class="input-group">
										<input type="text" class="form-control" id="fechaHasta" datepicker-popup="{{formatDate}}" ng-model="fecha.hasta" is-open="openFechaHasta" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
										<span class="input-group-btn">
											<button class="btn btn-default" ng-click="openDate($event); openFechaHasta = !openFechaHasta"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</span>
								</div>
								<div class="form-group col-lg-5">
									<span>Horario</span>
									<timepicker id="horarioHasta" ng-model="fecha.hasta" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="panel panel-default">
							<div class="panel-heading">Contenedor</div>
							<div class="panel-body">
								<div class="form-group">
									<input type="text" class="form-control" id="contenedor" ng-model="contenedor" toupper>
								</div>
								<div class="form-group">
									<span ng-hide="isCollapsed"><button class="btn btn-primary" ng-click="cargaTurnosPorFiltros()" ng-disabled="myForm.$invalid || fecha.desde > fecha.hasta"><span class="glyphicon glyphicon-asterisk"></span> Cargar</button></span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table table-bordered table-hover" style="text-align: center">
						<tr>
							<th style="text-align: center">Fecha</th>
							<th style="text-align: center">Buque</th>
							<th style="text-align: center">Viaje</th>
							<th style="text-align: center">Contenedor</th>
							<th style="text-align: center">Inicio del turno</th>
							<th style="text-align: center">Fin del turno</th>
							<th style="text-align: center">Movimiento</th>
						</tr>
						<tr ng-repeat="turno in turnos">
							<td>{{ turno.inicio | date: 'dd/MM/yyyy' }}</td>
							<td>{{ turno.buque }}</td>
							<td>{{ turno.viaje }}</td>
							<td>{{ turno.contenedor }}</td>
							<td>{{ turno.inicio | date: 'HH:mm' }}</td>
							<td>{{ turno.fin | date: 'HH:mm' }}</td>
							<td>{{ turno.mov }}</td>
						</tr>
					</table>
					<div class="text-center hidden-xs"><pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="20" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></div>
					<div class="text-center visible-xs"><pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></div>
				</div>
			</div>
		</div>
	</div>

</div>