<div class="container" ng-controller="turnosAgendaCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h1><img ng-src="images/calendar.png" height="64" width="64" class="hidden-xs">Agenda de turnos</h1>
		</div>
	</div>

	<div class="col-lg-12 text-center" ng-show="loadingState">
		<img class="media-object center-block" src="images/loading.gif">
	</div>
	<div class="col-lg-12" ng-hide="loadingState">
		<h2 class="text-center">{{ calendarTitle }}</h2>

		<div class="row">

			<div class="col-lg-4 text-center">
				<div class="btn-group">

					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="calendarDay"
							decrement="calendarView">
						Anterior
					</button>
					<button
							class="btn btn-default"
							mwl-date-modifier
							date="calendarDay"
							set-to-today>
						Hoy
					</button>
					<button
							class="btn btn-primary"
							mwl-date-modifier
							date="calendarDay"
							increment="calendarView">
						Siguiente
					</button>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="input-group">
					<span class="input-group-btn"><button class="btn btn-default" ng-click="openDate($event); openCalendarDay = !openCalendarDay;">Fecha <span class="glyphicon glyphicon-calendar"></span></button></span>
					<label for="calendarDay" class="sr-only">Fecha</label>
					<input id="calendarDay" type="text" class="form-control" ng-keyup="hitEnter($event)" datepicker-popup="yyyy-MM-dd" ng-model="calendarAux" is-open="openCalendarDay" />
					<span class="input-group-btn"><button class="btn btn-default" ng-click="irAFecha();">Ir</button></span>
				</div>
			</div>

			<br class="visible-xs visible-sm">

			<div class="col-lg-4 text-center">
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Mes</label>
					<label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Semana</label>
					<label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Día</label>
				</div>
			</div>
		</div>

		<br>

		<mwl-calendar
				events="events"
				view="calendarView"
				view-title="calendarTitle"
				current-day="calendarDay"
				on-event-click="eventClicked(calendarEvent)"
				edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
				delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
				on-edit-event-click="eventEdited(calendarEvent)"
				on-delete-event-click="eventDeleted(calendarEvent)"
				on-timespan-click="timeSpanClicked(calendarDate)"
				auto-open="false"
				day-view-start="dayViewStart"
		></mwl-calendar>

		<br><br><br>

	</div>

	<div class="row" ng-show="verDetalle">
		<table-turnos ocultar-busqueda=true model="model" datos-turnos="turnos" total-items="totalItems" config-panel="configPanel" current-page="currentPage" items-per-page="itemsPerPage" loading-state="cargando"></table-turnos>
	</div>

</div>