<div class="container col-xlg-offset-2 col-xlg-8">

	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/mail_failed.png" height="64" width="64" class="hidden-xs">Turnos sin notificar</h1>
	</div>

	<div class="row">
		<table-turnos ocultar-busqueda="false" ocultar-filtros="ocultarFiltros" model="model" datos-turnos="turnos" total-items="totalItems" config-panel="configPanel" current-page="currentPage" items-per-page="itemsPerPage" loading-state="cargando" control="control"></table-turnos>
	</div>

</div>