<div class="modal-header bg-info" style="border-radius: 5px">
	<h3 class="modal-title">Actualizar M.A.T.</h3>
</div>
<div class="modal-body bg-info">
	<div>
		<div class="input-group col-lg-6">
			<span class="input-group-addon">Año</span>
			<input type="text" class="form-control" ng-init="model.year = model.year" ng-keyup="hitEnter($event)" datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="{minMode: 'year'}" ng-model="model.year" is-open="openfechaInicio" max-date="maxDate" readonly style="background-color: #ffffff"/>
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="openDate($event); openfechaInicio = !openfechaInicio;"><span class="glyphicon glyphicon-calendar"></span></button>
			</span>
		</div>
	</div>
	<br>
	<div>
		<label for="bactssa" class="control-label">BACTSSA</label>
		<div>
			<input type="number" min="0" step="0.01" class="form-control" ng-model="model.valorMAT.BACTSSA" id="bactssa" placeholder="Ingresar nuevo valor de M.A.T" ng-required="true" autocomplete="off">
		</div>
	</div>
	<div>
		<label for="terminal4" class="control-label">Terminal 4</label>
		<div>
			<input type="number" min="0" step="0.01" class="form-control" ng-model="model.valorMAT.TERMINAL4" id="terminal4" placeholder="Ingresar nuevo valor de M.A.T" ng-required="true" autocomplete="off">
		</div>
	</div>
	<div>
		<label for="trp" class="control-label">TRP</label>
		<div>
			<input type="number" min="0" step="0.01" class="form-control" ng-model="model.valorMAT.TRP" id="trp" placeholder="Ingresar nuevo valor de M.A.T" ng-required="true" autocomplete="off">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>