<div class="container col-lg-offset-1 col-lg-10 col-md-12">
	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/controlUsers.png" height="64" width="64" class="hidden-xs">Control de Usuarios</h1>
	</div>
	<div class=" row col-lg-12" ng-hide="permiso || cargando">
		<div-panel config-panel="panelMensaje">
			<p>{{ panelMensaje.mensaje}}</p>
		</div-panel>
	</div>
	<div-cargando mostrar="cargando">
		<div ng-show="permiso">
			<div class="col-lg-12">
				<div class="table-responsive invoice-shadow">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>Nombre</th>
							<th>Usuario</th>
							<th>Mail</th>
							<th>Terminal</th>
							<th>Alta</th>
							<th>Token</th>
							<th>Última conexión</th>
                            <th>Online</th>
							<th class="text-center">Estado</th>
						</tr>
						</thead>
						<tbody style="font-size: 12px">
						<tr ng-repeat="user in datosUsers" class="{{ user.estadoClass }}" ng-init="user.guardar=false">
							<td>{{ user.full_name }}</td>
							<td>{{ user.user }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.terminal }}</td>
							<td>{{ user.date_created | date: 'dd/MM/yy HH:mm' }}</td>
							<td>{{ user.token.date_created | date: 'dd/MM/yy HH:mm' }}</td>
							<td class="{{ user.ultimaConexionClass }}"><strong>{{ user.lastLogin | date: 'dd/MM/yy HH:mm'}}</strong></td>
                            <td class="text-center"><span class="glyphicon" ng-class="user.online ? 'glyphicon-ok-circle usuarioActivo' : 'glyphicon-ban-circle usuarioInactivo'"></span> </td>
							<td class="text-center disabled"><input type="checkbox" ng-model="user.status" ng-change="cambiaUsuario(user)" ng-disabled="!user.habilitado"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row col-lg-12 text-right">
				<button-actualizar></button-actualizar>
				<button class="btn btn-primary" ng-click="guardar()" ng-disabled="disableButton()">Guardar</button>
			</div>
		</div>
	</div-cargando>
</div>