<div class="container col-xlg-offset-2 col-xlg-8">

	<div class="row col-lg-12 page-header">
		<h1><img ng-src="images/Acceso.gif" height="64" width="64" class="hidden-xs"> Acceso</h1>
	</div>

	<div-cargando mostrar="cargando">
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Inicio de sesión</h3>
				</div>
				<div class="panel-body">
					<span>Su usuario necesita ser validado por el sistema. Presione <a href ng-click="validar()">aquí</a> para solicitar mail de validación.</span>
				</div>
			</div>
			<div class="text-right">
				<button class="btn" ng-click="volver()"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
			</div>
		</div>
	</div-cargando>

</div>