<div ng-hide="mostrarResultado">
	<div class="row hidden-print" ng-hide="ocultarAccordionInvoicesSearch">
		<accordion-invoices-search></accordion-invoices-search>
	</div>

	<div class="row hidden-print" ng-hide="ocultarAccordionComprobantesVistos">
		<accordion-comprobantes-vistos></accordion-comprobantes-vistos>
	</div>

	<div class="row col-lg-12 visible-print-block">
		<impresion-filtros></impresion-filtros>
	</div>

	<div class="col-lg-12" ng-show="controlCodigos && codigosSinAsociar.total > 0">
		<div-panel config-panel="{ tipo: 'panel-danger', titulo: 'Error' }">
			<p>Se hallaron {{ codigosSinAsociar.total }} códigos sin asociar: </p>
			<span ng-repeat="numero in codigosSinAsociar.codigos"><a title="Filtrar por:" href ng-click="filtrado('code', numero)">{{ numero }}</a><span ng-show="!$last"> - </span></span>
		</div-panel>
	</div>

	<div class="col-lg-12" ng-show="datosInvoices.length == 0 && !loadingState">
		<div-panel config-panel="panelMensaje">
			<span>{{ panelMensaje.mensaje }}</span>
		</div-panel>
	</div>

	<div-cargando mostrar="loadingState">
		<div ng-hide="datosInvoices.length == 0">
			<div class="col-lg-12">
				<h5><strong>Resultados: {{ totalItems }}</strong><span class="visible-print-block"><strong> Mostrando del {{ currentPage * model.itemsPerPage - (model.itemsPerPage - 1) }} al {{ mostrarTope() }} (página {{ currentPage }})</strong></span></h5>
				<tabset ng-show="mostrarPtosVenta" class="hidden-print">
					<tab ng-repeat="tab in todosLosPuntosDeVentas" active="tab.active" heading="{{tab.heading}}" ng-hide="tab.hide" ng-click="filtrado('nroPtoVenta', tab.punto)"></tab>
				</tabset>
				<br>
				<table-invoices></table-invoices>
				<div-pagination total-items="totalItems" items-per-page="model.itemsPerPage" current-page="currentPage"></div-pagination>
			</div>
		</div>
	</div-cargando>
</div>

<div ng-if="mostrarResultado">
	<invoices-result></invoices-result>
</div>